<template>
  <div class="navbar-container d-flex content align-items-center">

    <!-- Nav Menu Toggler -->
    <ul class="nav navbar-nav d-xl-none">
      <li class="nav-item">
        <b-link
          class="nav-link"
          @click="toggleVerticalMenuActive"
        >
          <feather-icon
            icon="MenuIcon"
            size="21"
          />
        </b-link>
      </li>
    </ul>

    <!-- Left Col -->
    <div class="bookmark-wrapper align-items-center flex-grow-1 d-none d-lg-flex">
      <dark-Toggler class="d-none d-lg-block" />
    </div>

    <b-navbar-nav class="nav align-items-center ml-auto">
      <b-nav-item-dropdown
        right
        toggle-class="d-flex align-items-center dropdown-user-link"
        class="dropdown-user"
      >
        <template #button-content>
          <div class="d-sm-flex d-none user-nav">
            <p class="user-name font-weight-bolder">
              {{user.name}}
            </p>
            <span v-if="user.rol != 'cliente'" class="user-status">{{user.rol}}</span>
            <span v-if="user.rol == 'cliente'" class="user-status">{{ parseFloat($store.state.saldo).toFixed(2)}}$</span>
          </div>
          <b-avatar
            size="40"
            variant="light-primary"
            badge
            :src="require('@/assets/images/avatars/13-small.png')"
            class="badge-minimal"
            badge-variant="success"
          />
        </template>

        <b-dropdown-item link-class="d-flex align-items-center" v-on:click="perfil">
          <feather-icon
            size="16"
            icon="UserIcon"
            class="mr-50"
          />
          <span>Perfil</span>
        </b-dropdown-item>

        

        <b-dropdown-divider />

        <b-dropdown-item link-class="d-flex align-items-center" v-on:click="logout">
          <feather-icon
            size="16"
            icon="LogOutIcon"
            class="mr-50"
          />
          <span>Salir</span>
        </b-dropdown-item>

        <!-- <b-dropdown-item link-class="d-flex align-items-center" v-if="(isAdmin == true)">
          <feather-icon
            size="16"
            icon="LogOutIcon"
            class="mr-50"
          />
          <span>Logout2</span>
        </b-dropdown-item> -->

      </b-nav-item-dropdown>
    </b-navbar-nav>
  </div>
</template>

<script>
import {
  BLink, BNavbarNav, BNavItemDropdown, BDropdownItem, BDropdownDivider, BAvatar,
} from 'bootstrap-vue'
import DarkToggler from '@core/layouts/components/app-navbar/components/DarkToggler.vue'

import store from '@/store/store'
import utils from '@/libs/utils'
import user from '@/router/routes/user'

// import Services from '@/services/users/Transacciones'

export default {
  components: {
    BLink,
    BNavbarNav,
    BNavItemDropdown,
    BDropdownItem,
    BDropdownDivider,
    BAvatar,

    // Navbar Components
    DarkToggler,
  },
  store,
  data() {
    return {
      user:{
        name: '',
        type: '',
        saldo: store.state.saldo
      },
      isAdmin: false,
      saldo: null
    }
  },
  props: {
    toggleVerticalMenuActive: {
      type: Function,
      default: () => {},
    },
  },
  mounted(){
    this.userType();
    this.Token();
  },
  methods:{
     userType(){
      if(store.state.type=="admin"){
        this.isAdmin=true;
      }
     },
     logout(){
      store.commit('logout')
      if(this.isAdmin){
        this.$router.replace('/admin/login');
      }else{
        this.$router.replace('/login');
      }

     },
     perfil(){
      if(this.isAdmin){
        this.$router.replace('/admin/account-setting');
      }else{
        this.$router.replace('/account-setting');
      }
     },
     async Token(){
      var token = store.state.token;


      if(token!=null && token!=""){
        try {
          var resultado = await utils.verifyToken(token,process.env.VUE_APP_SECRET_KEY)
          
          this.user.name = resultado.data.nombre + ' ' + resultado.data.apellido;

          this.user.rol = resultado.data.rol;
          this.user.saldo = resultado.data.saldo
          // if(this.user.rol == "cliente"){
          //   const form = new FormData()
          //   form.append('txtid', resultado.data.id)

          //   Services.ConsultarSaldo(form).then(function (response){
          //     store.state.saldo = response.data[0]
          //   })
          // }
          
        } catch (error) {
          
          console.log(error)
        }
      }
     },
  }
}
</script>
