<template>
  <b-card>

    <!-- media -->
    <b-media no-body>
      <b-media-aside>
        <b-link>
          <b-img
            ref="previewEl"
            rounded
            :src="optionsLocal.avatar"
            height="80"
          />
        </b-link>
        <!--/ avatar -->
      </b-media-aside>

      <b-media-body class="mt-75 ml-75">
        <!-- upload button -->
        <b-button
          v-ripple.400="'rgba(255, 255, 255, 0.15)'"
          variant="primary"
          size="sm"
          class="mb-75 mr-75"
          @click="$refs.refInputEl.$el.click()"
        >
          Subir
        </b-button>
        <b-form-file
          ref="refInputEl"
          v-model="profileFile"
          accept=".jpg, .png, .gif"
          :hidden="true"
          plain
          @input="inputImageRenderer"
        />
        <!--/ upload button -->

        <!-- reset -->
        <b-button
          v-ripple.400="'rgba(186, 191, 199, 0.15)'"
          variant="outline-secondary"
          size="sm"
          class="mb-75 mr-75"
        >
          Reiniciar
        </b-button>
        <!--/ reset -->
        <b-card-text>Allowed JPG, GIF or PNG. Max size of 800kB</b-card-text>
      </b-media-body>
    </b-media>
    <!--/ media -->

    <!-- form -->
    <b-form
      class="mt-2"
      @submit.prevent="validationForm"
    >
      <b-row>

        <b-col sm="4">
          <b-form-group
            label="Nombre"
            label-for="account-nombre"
          >
            <b-form-input
              v-model="optionsLocal.nombre"
              name="nombre"
              placeholder="Nombre"
            />
            <small class="text-danger">{{ validar.nombre }}</small>
          </b-form-group>
        </b-col>

        <b-col sm="4">
          <b-form-group
            label="Apellido"
            label-for="account-apellido"
          >
            <b-form-input
              v-model="optionsLocal.apellido"
              placeholder="Apellido"
              name="apellido"
            />
            <small class="text-danger">{{ validar.apellido }}</small>
          </b-form-group>
        </b-col>

        <b-col sm="4">
          <b-form-group
            label="DNI"
            label-for="account-dni"
          >
            <b-form-input
              v-model="optionsLocal.dni"
              placeholder="DNI"
              name="dni"
            />
            <small class="text-danger">{{ validar.dni }}</small>
          </b-form-group>
        </b-col>
        
        <b-col sm="6">
          <b-form-group
            label="E-mail"
            label-for="account-e-mail"
          >
            <b-form-input
              v-model="optionsLocal.email"
              name="email"
              placeholder="Email"
            />
            <small class="text-danger">{{ validar.email }}</small>
          </b-form-group>
        </b-col>
        <b-col sm="6">
          <b-form-group
            label="Teléfono"
            label-for="account-telefono"
          >
            <b-form-input
              v-model="optionsLocal.telefono"
              name="telefono"
              placeholder="Teléfono"
            />
            <small class="text-danger">{{ validar.telefono }}</small>
          </b-form-group>
        </b-col>

        <!-- alert -->
        <!-- <b-col
          cols="12"
          class="mt-75"
        >
          <b-alert
            show
            variant="warning"
            class="mb-50"
          >
            <h4 class="alert-heading">
              Your email is not confirmed. Please check your inbox.
            </h4>
            <div class="alert-body">
              <b-link class="alert-link">
                Resend confirmation
              </b-link>
            </div>
          </b-alert>
        </b-col> -->
        <!--/ alert -->

        <b-col cols="12">
          <b-button
            v-ripple.400="'rgba(255, 255, 255, 0.15)'"
            variant="primary"
            class="mt-2 mr-1"
            type="submit"
          >
            Guardar cambios
          </b-button>
          <b-button
            v-ripple.400="'rgba(186, 191, 199, 0.15)'"
            variant="outline-secondary"
            type="button"
            class="mt-2"
            @click="resetForm"
          >
            Reiniciar
          </b-button>
        </b-col>
      </b-row>
    </b-form>
  </b-card>
</template>

<script>
import {
  BFormFile, BButton, BForm, BFormGroup, BFormInput, BRow, BCol, BAlert, BCard, BCardText, BMedia, BMediaAside, BMediaBody, BLink, BImg,
} from 'bootstrap-vue'
import Ripple from 'vue-ripple-directive'
import { useInputImageRenderer } from '@core/comp-functions/forms/form-utils'
import { ref } from '@vue/composition-api'
import store from '@/store/store'
import utils from '@/libs/utils'
import Services from '@/services/users/Perfil.js'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'

export default {
  components: {
    BButton,
    BForm,
    BImg,
    BFormFile,
    BFormGroup,
    BFormInput,
    BRow,
    BCol,
    BAlert,
    BCard,
    BCardText,
    BMedia,
    BMediaAside,
    BMediaBody,
    BLink,
    store,
    utils,
  },
  directives: {
    Ripple,
  },
  data() {
    return {
      optionsLocal: {
        avatar: require('@/assets/images/portrait/small/avatar-s-11.jpg'),
        apellido: '',
        nombre: '',
        email: '',
        telefono: '',
        dni: '',
      },
      validar: {
        avatar: '',
        apellido: '',
        nombre: '',
        email: '',
        telefono: '',
        dni: '',
      },
      profileFile: null,
    }
  },
  methods: {
    resetForm() {
      this.extraerToken();
    },
    async extraerToken(){

      var token = store.state.token;
      //console.log("token ",token);
      if(token!=null && token!=""){
        try {
          var resultado = await utils.verifyToken(token,process.env.VUE_APP_SECRET_KEY)

          console.log("token ",resultado);

          console.log("sesion ",resultado.data);
          this.optionsLocal.apellido = resultado.data.apellido;
          this.optionsLocal.nombre = resultado.data.nombre;
          this.optionsLocal.telefono = resultado.data.telefono;
          this.optionsLocal.email = resultado.data.correo;
          this.optionsLocal.dni = resultado.data.dni;
          
        } catch (error) {
          console.log("error ",error);
        }
      }
    },
    validationForm() {

      const nombre = this.optionsLocal.nombre;
      const apellido = this.optionsLocal.apellido;
      const dni = this.optionsLocal.dni;
      const email = this.optionsLocal.email;
      const telefono = this.optionsLocal.telefono;

      var envio = true;

      if(nombre == ""){
        
        this.validar.nombre = "Ingresar nombre";

        setTimeout(() => {
          this.validar.nombre = "";
        }, 3000);

        envio = false;
      }

      if(apellido == ""){

        this.validar.apellido = "Ingresar apellido";

        setTimeout(() => {
          this.validar.apellido = "";
        }, 3000);

        envio = false;
      }
      if(dni == ""){

        this.validar.dni = "Ingresar dni";

        setTimeout(() => {
          this.validar.dni = "";
        }, 3000);

        envio = false;
      }
      if(email == ""){

        this.validar.email = "Ingresar email";

        setTimeout(() => {
          this.validar.email = "";
        }, 3000);

        envio = false;
      }
      if(telefono == ""){

        this.validar.telefono = "Ingresar teléfono";

        setTimeout(() => {
          this.validar.telefono = "";
        }, 3000);

        envio = false;
      }

      if(envio){

        this.$swal({
        title: '¿Estas seguro?',
        text: "Deseas editar la información",
        icon: 'warning',
        confirmButtonText: 'Si',
        showCancelButton: true,
        cancelButtonText: 'No',
        customClass: {
          confirmButton: 'btn btn-primary',
          cancelButton: 'btn btn-outline-danger ml-1',
        },
        buttonsStyling: false,
      }).then(result => {

        
        if (result.value) {
          this.Enviar();
        }
      })
        
      }
    },
    Enviar(){

      const form = new FormData();
      form.append('txtnombre', this.optionsLocal.nombre);
      form.append('txtapellido', this.optionsLocal.apellido);
      form.append('txtdni', this.optionsLocal.dni);
      form.append('txttelefono', this.optionsLocal.telefono);
      form.append('txtcorreo', this.optionsLocal.email);

      const self = this;

      Services.EditarDatos(form).then( function (response) {

        if(response.data.result){

          self.$toast({
            component: ToastificationContent,
            props: {
              title: 'Realizado',
              icon: 'CheckIcon',
              text: response.data.msg,
              variant: 'success',
            },
          });

          sessionStorage.setItem('token', response.data.token)
          const objeto = {
            token: response.data.token,
            type: 'user'
          }
          store.commit('loginIn',objeto)
          //console.log(store.state);
          //self.$router.replace('/');

        }else{

          self.$toast({
            component: ToastificationContent,
            props: {
              title: 'No realizado',
              icon: 'BellIcon',
              text: response.data.msg,
              variant: 'danger',
            },
          });

        }
      }).catch(error => {
        console.log("error ",error);
      });

    }
  },
  mounted() {
    this.extraerToken();
  },
  setup() {
    const refInputEl = ref(null)
    const previewEl = ref(null)

    const { inputImageRenderer } = useInputImageRenderer(refInputEl, previewEl)

    return {
      refInputEl,
      previewEl,
      inputImageRenderer,
    }
  },
}
</script>
