<template>
  <div>
    <b-card title="Kick start your project 🚀">
      <b-card-text></b-card-text>
      <b-card-text>Please make sure to read our <b-link
        href="https://pixinvent.com/demo/vuexy-vuejs-admin-dashboard-template/documentation/"
        target="_blank"
      >
        Template Documentation
      </b-link> to understand where to go from here and how to use our template.</b-card-text>
    </b-card>

    <b-card title="Want to integrate JWT? 🔒">
      <b-card-text>We carefully crafted JWT flow so you can implement JWT with ease and with minimum efforts.</b-card-text>
      <b-card-text>Please read our  JWT Documentation to get more out of JWT authentication.</b-card-text>
    </b-card>
  </div>
</template>

<script>
import { BCard, BCardText, BLink } from 'bootstrap-vue'

import store from '@/store/store'
import utils from '@/libs/utils'

import Services from '@/services/users/Transacciones'

export default {
  components: {
    BCard,
    BCardText,
    BLink,
  },
  store,
  mounted(){
    this.Token()
  },
  methods:{
    async Token(){
      var token = store.state.token;


      if(token!=null && token!=""){
        try {
          var resultado = await utils.verifyToken(token,process.env.VUE_APP_SECRET_KEY)
          
          
            const form = new FormData()
            form.append('txtid', resultado.data.id)

            Services.ConsultarSaldo(form).then(function (response){
              store.state.saldo = response.data[0]
            })  
          
        } catch (error) {
          
          console.log(error)
        }
      }
     }
  }
}
</script>

<style>

</style>
