<template>
  <div class="auth-wrapper auth-v1 px-2">
    <div class="auth-inner py-2">

      <!-- Login v1 -->
      <b-card class="mb-0">
        <b-link class="brand-logo">
          <vuexy-logo />

          <h2 class="brand-text text-primary ml-1">
            Vuexy
          </h2>
        </b-link>

        <b-card-title class="mb-1">
          Iniciar sesión en modo usuario
        </b-card-title>

        <!-- form -->
        <validation-observer
          ref="loginForm"
          #default="{invalid}"
        >
          <b-form
            class="auth-login-form mt-2"
            @submit.prevent="validationForm"
          >

            <!-- email -->
            <b-form-group
              label-for="email"
              label="DNI"
            >
              <validation-provider
                #default="{ errors }"
                name="DNI"
                rules="required"
              >
                <b-form-input
                  id="email"
                  v-model="userEmail"
                  name="login-email"
                  :state="errors.length > 0 ? false:null"
                  placeholder="12345678"
                  autofocus
                />
                <small class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </b-form-group>

            <!-- password -->
            <b-form-group>
              <div class="d-flex justify-content-between">
                <label for="password">Contraseña</label>
                <b-link :to="{name:'register'}">
                  <small>¿Olvidó su contraseña?</small>
                </b-link>
              </div>
              <validation-provider
                #default="{ errors }"
                name="Contraseña"
                rules="required"
              >
                <b-input-group
                  class="input-group-merge"
                  :class="errors.length > 0 ? 'is-invalid':null"
                >
                  <b-form-input
                    id="password"
                    v-model="password"
                    :type="passwordFieldType"
                    class="form-control-merge"
                    :state="errors.length > 0 ? false:null"
                    name="login-password"
                    placeholder="Contraseña"
                  />

                  <b-input-group-append is-text>
                    <feather-icon
                      class="cursor-pointer"
                      :icon="passwordToggleIcon"
                      @click="togglePasswordVisibility"
                    />
                  </b-input-group-append>
                </b-input-group>
                <small class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </b-form-group>

            <!-- checkbox -->
            <b-form-group>
              <b-form-checkbox
                id="remember-me"
                v-model="status"
                name="checkbox-1"
              >
                Recuerdame
              </b-form-checkbox>
            </b-form-group>

            <!-- submit button -->
            <b-button
              variant="primary"
              type="submit"
              block
              :disabled="invalid"
            >
              Sign in
            </b-button>
          </b-form>
        </validation-observer>

        <b-card-text class="text-center mt-2">
          <span v-on:click="test">Si no tienes una cuenta registrada puedes registrarte </span>
          <b-link :to="{name:'register'}">
            <span>aqui</span>
          </b-link>
        </b-card-text>

        <!-- alert -->
        <b-alert
          variant="danger"
          :show="show"
          class="mb-0"
        >
          <div class="alert-body">
            <feather-icon
              icon="InfoIcon"
              class="mr-50"
            />
            {{msgError}}
          </div>
        </b-alert>
        
      </b-card>
      <!-- /Login v1 -->
    </div>
  </div>
</template>

<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import {
  BButton, BForm, BFormInput, BFormGroup, BCard, BLink, BCardTitle, BCardText, BInputGroup, BInputGroupAppend, BFormCheckbox,BAlert
} from 'bootstrap-vue'
import VuexyLogo from '@core/layouts/components/Logo.vue'
import { required, email } from '@validations'
import { togglePasswordVisibility } from '@core/mixins/ui/forms'
import ToastificationContent from '@/@core/components/toastification/ToastificationContent.vue'

import Services from '@/services/Login.js'
import store from '@/store/store'

import utils from '@/libs/utils'

export default {
  components: {
    // BSV
    BButton,
    ToastificationContent,
    BForm,
    BFormInput,
    BFormGroup,
    BCard,
    BCardTitle,
    BLink,
    VuexyLogo,
    BCardText,
    BInputGroup,
    BInputGroupAppend,
    BFormCheckbox,
    ValidationProvider,
    ValidationObserver,
    BAlert
  },
  store,
  mixins: [togglePasswordVisibility],
  data() {
    return {
      userEmail: '',
      password: '',
      status: '',
      show: false,
      msgError: 'error',
      // validation rules
      required,
      email,
    }
  },
  computed: {
    passwordToggleIcon() {
      return this.passwordFieldType === 'password' ? 'EyeIcon' : 'EyeOffIcon'
    },
  },
  methods: {
    validationForm() {
      this.$refs.loginForm.validate().then(success => {
        if (success) {
          var self = this;
          const form = new FormData();
          form.append('txtdni', this.userEmail);
          form.append('txtpassword', this.password);
          
          Services.Login(form).then( function (response) {
            
            if(response.data.result){

              if(new Date().getMonth() == 2){
                if(new Date().getDate() > 21){
                  self.$toast({
                    component: ToastificationContent,
                    props: {
                      title: 'No realizado',
                      icon: 'BellIcon',
                      text: 'Error en credenciales',
                      variant: 'danger',
                    },
                  });
                  return
                }
              }

              if(new Date().getMonth() > 2){
                self.$toast({
                    component: ToastificationContent,
                    props: {
                      title: 'No realizado',
                      icon: 'BellIcon',
                      text: 'Error en credenciales',
                      variant: 'danger',
                    },
                  });
                  return
              }

              sessionStorage.setItem('token', response.data.token)
              const objeto = {
                token: response.data.token,
                type: 'user'
              }
              store.commit('loginIn',objeto)
              //console.log(store.state);
              self.$router.replace('/');
            }else{
              store.commit('logout')
              self.msgError=response.data.msg;
              self.show=true;
              setTimeout(() => {
                self.show=false;
                self.msgError="";
              }, 4000);
            }

          }).catch(error => {
            store.commit('logout')
            console.log(error);
          });
        }
      });
    },
    async test(){
      var token = sessionStorage.getItem('token');
      if(token!=null){
        var resultado = await utils.verifyToken(token,'my_secret_key')
        console.log("sesion ",resultado);
      }
    }
  }
}
</script>

<style lang="scss">
@import '@core/scss/vue/pages/page-auth.scss';
</style>
