<template>
  <div class="auth-wrapper auth-v1 px-2">
    <div class="auth-inner py-2"> <!-- Aqui -->

      <!-- Register v1 -->
      <b-card class="mb-0">
        <b-link class="brand-logo">
          <vuexy-logo />
          <h2 class="brand-text text-primary ml-1">
            Vuexy
          </h2>
        </b-link>

        <b-card-title class="mb-1 text-center">
          Registrarse en modo usuario
        </b-card-title>

        <!-- form -->
        <validation-observer ref="registerForm">
          <b-form
            class="auth-register-form mt-2"
            @submit.prevent="validationForm"
          >
        
            <div class="row mx-0">

              <div class="col-6 pl-0">

                <!-- Nombre -->
                <b-form-group
                  label="Nombre"
                  label-for="nombre"
                >
                  <validation-provider
                    #default="{ errors }"
                    name="nombre"
                    rules="required"
                  >
                    <b-form-input
                      id="nombre"
                      v-model="datos.nombre"
                      :state="errors.length > 0 ? false:null"
                      name="register-nombre"
                      placeholder="Nombre"
                    />
                    <small class="text-danger">{{ errors[0] }}</small>
                  </validation-provider>
                </b-form-group>

              </div>

              <div class="col-6 pr-0">

                <!-- Apellido -->
                <b-form-group
                  label="Apellido"
                  label-for="apellido"
                >
                  <validation-provider
                    #default="{ errors }"
                    name="apellido"
                    rules="required"
                  >
                    <b-form-input
                      id="apellido"
                      v-model="datos.apellido"
                      :state="errors.length > 0 ? false:null"
                      name="register-apellido"
                      placeholder="Apellido"
                    />
                    <small class="text-danger">{{ errors[0] }}</small>
                  </validation-provider>
                </b-form-group>

              </div>

              <div class="col-12 px-0">

                <!-- email -->
                <b-form-group
                  label="Email"
                  label-for="email"
                >
                  <validation-provider
                    #default="{ errors }"
                    name="email"
                    rules="required|email"
                  >
                    <b-form-input
                      id="email"
                      v-model="datos.email"
                      :state="errors.length > 0 ? false:null"
                      name="register-email"
                      placeholder="john@example.com"
                    />
                    <small class="text-danger">{{ errors[0] }}</small>
                  </validation-provider>
                </b-form-group>

              </div>

              <div class="col-12 px-0">

                <!-- password -->
                <b-form-group
                  label="Contraseña"
                  label-for="password"
                >
                  <validation-provider
                    #default="{ errors }"
                    name="password"
                    rules="required"
                  >
                    <b-input-group
                      class="input-group-merge"
                      :class="errors.length > 0 ? 'is-invalid':null"
                    >
                      <b-form-input
                        id="password"
                        v-model="datos.password"
                        :type="passwordFieldType"
                        :state="errors.length > 0 ? false:null"
                        class="form-control-merge"
                        name="register-password"
                        placeholder="············"
                      />
                      <b-input-group-append is-text>
                        <feather-icon
                          :icon="passwordToggleIcon"
                          class="cursor-pointer"
                          @click="togglePasswordVisibility"
                        />
                      </b-input-group-append>
                    </b-input-group>
                    <small class="text-danger">{{ errors[0] }}</small>

                  </validation-provider>
                </b-form-group>

              </div>

              <div class="col-6 pl-0">

                <!-- Dni -->
                <b-form-group
                  label="Dni"
                  label-for="dni"
                >
                  <validation-provider
                    #default="{ errors }"
                    name="dni"
                    rules="required"
                  >
                    <b-form-input
                      id="dni"
                      v-model="datos.dni"
                      :state="errors.length > 0 ? false:null"
                      name="register-dni"
                      placeholder="Dni"
                    />
                    <small class="text-danger">{{ errors[0] }}</small>
                  </validation-provider>
                </b-form-group>

              </div>

              <div class="col-6 pr-0">

                <!-- Telefono -->
                <b-form-group
                  label="Telefono"
                  label-for="telefono"
                >
                  <validation-provider
                    #default="{ errors }"
                    name="telefono"
                    rules="required"
                  >
                    <b-form-input
                      id="telefono"
                      v-model="datos.telefono"
                      :state="errors.length > 0 ? false:null"
                      name="register-telefono"
                      placeholder="+52 586 698 698"
                    />
                    <small class="text-danger">{{ errors[0] }}</small>
                  </validation-provider>
                </b-form-group>

              </div>

              <div class="col-12 px-0">

                <!-- Fecha -->
                <b-form-group
                  label="Fecha de nacimiento"
                  label-for="fecha"
                >

                  <validation-provider
                    #default="{ errors }"
                    name="fecha"
                    rules="required"
                  >
                    <!-- Fecha Nacimiento -->
                    <b-form-group class="mb-0">
                      <flat-pickr
                        id="fecha"
                        local="en"
                        placeholder=""
                        class="form-control"
                        name="register-fecha"
                        v-model="datos.fecha"
                        :state="errors.length > 0 ? false:null"
                      />
                    </b-form-group>
                    <small class="text-danger">{{ errors[0] }}</small>
                  </validation-provider>
                </b-form-group>

              </div>

              <div class="col-12 px-0">

                <!-- Codigo Ref -->
                <b-form-group
                  label="Código de referido"
                  label-for="referido"
                >
                  <validation-provider
                    name="referido"
                  >
                    <b-form-input
                      id="referido"
                      v-model="datos.referido"
                      name="register-referido"
                      placeholder="Código de referido"
                    />
                  </validation-provider>
                </b-form-group>

              </div>

            </div>


            <!-- checkbox -->
            <b-form-group>
              <b-form-checkbox
                id="register-privacy-policy"
                v-model="status"
                name="checkbox-1"
              >
                Yo acepto las
                <b-link>políticas y terminos de privacidad</b-link>
              </b-form-checkbox>
            </b-form-group>

            <!-- submit button -->
            <b-button
              variant="primary"
              block
              type="submit"
            >
              Registrar
            </b-button>

          </b-form>
        </validation-observer>

        <b-card-text class="text-center mt-2">
          <span>¿Ya tienes una cuenta? </span>
          <b-link :to="{name:'login'}">
            <span>Ingresar</span>
          </b-link>
        </b-card-text>

        
      </b-card>
    <!-- /Register v1 -->
    </div>
  </div>

</template>

<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import BCardCode from '@core/components/b-card-code'
import {
  BFormDatepicker, BRow, BCol, BCard, BLink, BCardTitle, BCardText, BForm,
  BButton, BFormInput, BFormGroup, BInputGroup, BInputGroupAppend, BFormCheckbox, BFormFile, BFormTimepicker
} from 'bootstrap-vue'
import VuexyLogo from '@core/layouts/components/Logo.vue'
import { required, email } from '@validations'
import { togglePasswordVisibility } from '@core/mixins/ui/forms'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'

import flatPickr from 'vue-flatpickr-component';

import Services from '@/services/Clientes.js'

export default {
  components: {
    VuexyLogo,
    // BSV
    BCard,
    BLink,
    BCardTitle,
    BCardText,
    BForm,
    BButton,
    BFormInput,
    BFormGroup,
    BInputGroup,
    BInputGroupAppend,
    BFormCheckbox,
    BFormFile,
    BFormTimepicker,
    flatPickr,
    // validations
    ValidationProvider,
    ValidationObserver,
    // 
    BCardCode,
    BCardText,
    BFormDatepicker,
    BRow,
    BCol,
  },
  mixins: [togglePasswordVisibility],
  data() {
    return {
      datos:{ nombre: '', apellido: '', email: '', password: '', dni: '', telefono: '', fecha: '', referido: '', img: ''},
      
      /*
      password: '',
      */
      status: '',

      // validation rules
      required,
      email,
    }
  },
  computed: {
    passwordToggleIcon() {
      return this.passwordFieldType === 'password' ? 'EyeIcon' : 'EyeOffIcon'
    },
  },
  methods: {
    validationForm() {

      this.$refs.registerForm.validate().then(success => {
        if (success) {
          
          var self = this;
          const form = new FormData();
          form.append('nombre', this.datos.nombre);
          form.append('apellido', this.datos.apellido);
          form.append('dni', this.datos.dni);
          form.append('img', this.datos.img);
          form.append('telefono', this.datos.telefono);
          form.append('fecha_n', this.datos.fecha);
          form.append('correo', this.datos.email);
          form.append('contrasena', this.datos.password);
          form.append('codigo_ref', this.datos.referido);

          Services.Guardar(form).then( function (response) {
    
            console.log(response.data);
            
            if(response.data.result){

              self.$swal({
                title: 'Buen trabajo!',
                text: response.data.msg,
                icon: 'success',
                customClass: {
                  confirmButton: 'btn btn-primary',
                },
                buttonsStyling: false,
              }).then(result => {
                self.$router.replace('login');  
              });

              self.datos.nombre = '';
              self.datos.apellido = '';
              self.datos.dni = '';
              self.datos.img = '';
              self.datos.telefono = '';
              self.datos.fecha = '';
              self.datos.email = '';
              self.datos.password = '';
              self.datos.referido = '';

            }else{

              this.$swal({
                title: 'Error!',
                text: response.data.msg,
                icon: 'error',
                customClass: {
                  confirmButton: 'btn btn-primary',
                },
                buttonsStyling: false,
              })

              //alert("No pudo ser guardado");
            }

          }).catch(error => {
            console.log(error);
          });
          
        }
      })
    },
  },
}
</script>

<style lang="scss">
@import '@core/scss/vue/libs/vue-flatpicker.scss';
@import '@core/scss/vue/pages/page-auth.scss';
@import '@core/scss/vue/libs/vue-sweetalert.scss';
</style>
