<template>
  <!-- <b-card title="Create Awesome 🙌">
    <b-card-text>This is your Customers page.</b-card-text>
    <b-card-text>Chocolate sesame snaps pie carrot cake pastry pie lollipop muffin. Carrot cake dragée chupa chups jujubes. Macaroon liquorice cookie wafer tart marzipan bonbon. Gingerbread jelly-o dragée chocolate.</b-card-text>
  </b-card> -->


  <b-row v-if="page == 0">
    <b-col
      md="2"
      sm="4"
      class="my-1"
    >
      <b-form-group
        class="mb-0"
      >
        <label class="d-inline-block text-sm-left mr-50">Per page</label>
        <b-form-select
          id="perPageSelect"
          v-model="perPage"
          size="sm"
          :options="pageOptions"
          class="w-50"
        />
      </b-form-group>
    </b-col>

    <b-col
      md="4"
      sm="8"
      class="my-1"
    >
      <b-form-group
        label="Sort"
        label-cols-sm="3"
        label-align-sm="right"
        label-size="sm"
        label-for="sortBySelect"
        class="mb-0"
      >
        <b-input-group size="sm">
          <b-form-select
            id="sortBySelect"
            v-model="sortBy"
            :options="sortOptions"
            class="w-75"
          >
            <template v-slot:first>
              <option value="">
                -- none --
              </option>
            </template>
          </b-form-select>
          <b-form-select
            v-model="sortDesc"
            size="sm"
            :disabled="!sortBy"
            class="w-25"
          >
            <option :value="false">
              Asc
            </option>
            <option :value="true">
              Desc
            </option>
          </b-form-select>
        </b-input-group>
      </b-form-group>
    </b-col>

    <b-col
      md="4"
      class="my-1"
    >
      <b-form-group
        label="Filtrar"
        label-cols-sm="3"
        label-align-sm="right"
        label-size="sm"
        label-for="filterInput"
        class="mb-0"
      >
        <b-input-group size="sm">
          <b-form-input
            id="filterInput"
            v-model="filter"
            type="search"
            placeholder="Buscar"
          />
          <b-input-group-append>
            <b-button
              :disabled="!filter"
              @click="filter = ''"
            >
              Cancelar
            </b-button>
            
          </b-input-group-append>
          
          
        </b-input-group>
        
      </b-form-group>
      
      
    </b-col>
    <b-col md="2" class="my-1">
      <b-button @click="addClient()"
              v-ripple.400="'rgba(255, 255, 255, 0.15)'"
              variant="success"
              size="sm"
              class="float-right"
            >
            <feather-icon icon="plus" />
            Añadir</b-button>
    </b-col>
    <b-col cols="12">
      
      <b-table
        striped
        hover
        responsive
        :per-page="perPage"
        :current-page="currentPage"
        :items="items"
        :fields="fields"
        :sort-by.sync="sortBy"
        :sort-desc.sync="sortDesc"
        :sort-direction="sortDirection"
        :filter="filter"
        :filter-included-fields="filterOn"
        @filtered="onFiltered"
      >
        <template #cell(avatar)="data">
          <b-avatar :src="data.value" />
        </template>

        <template #cell(status)="data">
          <b-badge :variant="status[1][data.value]">
            {{ status[0][data.value] }}
          </b-badge>
        </template>

        <template #cell(actions)="data">
          
          <b-dropdown
            variant="link"
            no-caret
          >

            <template #button-content>
              <feather-icon
                icon="MoreVerticalIcon"
                size="16"
                class="align-middle text-body"
              />
            </template>
            <b-dropdown-item @click="PageDetails(data.item.id)">
              <feather-icon icon="FileTextIcon" />
              <span class="align-middle ml-50">Detalles</span>
            </b-dropdown-item>

            <b-dropdown-item
              @click="PageEdit(data.item.id)"
            >
              <feather-icon icon="EditIcon" />
              <span class="align-middle ml-50">Editar</span>
            </b-dropdown-item>

            <b-dropdown-item @click="Eliminar(data.item.id)">
              <feather-icon icon="TrashIcon" style="color: red;" />
              <span class="align-middle ml-50">Eliminar</span>
            </b-dropdown-item>
          </b-dropdown>

        </template>

      </b-table>
    </b-col>

    <b-col
      cols="12"
    >
      <b-pagination
        v-model="currentPage"
        :total-rows="totalRows"
        :per-page="perPage"
        align="center"
        size="sm"
        class="my-0"
      />
    </b-col>
  </b-row>

  <b-row v-else-if="page == 1">
    <b-col md="12">
      <b-card no-body class="card-employee-task">
        
        <b-card-header>
          <b-card-title>
            
            <feather-icon
              icon="SettingsIcon"
              size="20"
              class="position-relative"
              style="top: -3px;"
            />
            Editar cliente
          </b-card-title>
          <feather-icon
            icon="ArrowLeftIcon"
            size="18"
            class="cursor-pointer"
            @click="PageList()"
          />
        </b-card-header>

        <b-card-body>

          <b-row class="mx-0">
            
            <b-form
              class="mt-2"
              @submit.prevent="validationForm"
            >
              <b-row>

                <b-col sm="4">
                  <b-form-group
                    label="Nombre"
                    label-for="account-nombre"
                  >
                    <b-form-input
                      v-model="edit.nombre"
                      name="nombre"
                      placeholder="Nombre"
                    />
                    <small class="text-danger">{{ validar.nombre }}</small>
                  </b-form-group>
                </b-col>

                <b-col sm="4">
                  <b-form-group
                    label="Apellido"
                    label-for="account-apellido"
                  >
                    <b-form-input
                      v-model="edit.apellido"
                      placeholder="Apellido"
                      name="apellido"
                    />
                    <small class="text-danger">{{ validar.apellido }}</small>
                  </b-form-group>
                </b-col>

                <b-col sm="4">
                  <b-form-group
                    label="DNI"
                    label-for="account-dni"
                  >
                    <b-form-input
                      v-model="edit.dni"
                      placeholder="DNI"
                      name="dni"
                    />
                    <small class="text-danger">{{ validar.dni }}</small>
                  </b-form-group>
                </b-col>
                
                <b-col sm="6">
                  <b-form-group
                    label="E-mail"
                    label-for="account-e-mail"
                  >
                    <b-form-input
                      v-model="edit.email"
                      name="email"
                      placeholder="Email"
                    />
                    <small class="text-danger">{{ validar.email }}</small>
                  </b-form-group>
                </b-col>
                <b-col sm="6">
                  <b-form-group
                    label="Teléfono"
                    label-for="account-telefono"
                  >
                    <b-form-input
                      v-model="edit.telefono"
                      name="telefono"
                      placeholder="Teléfono"
                    />
                    <small class="text-danger">{{ validar.telefono }}</small>
                  </b-form-group>
                </b-col>

                <!-- alert -->
                <!-- <b-col
                  cols="12"
                  class="mt-75"
                >
                  <b-alert
                    show
                    variant="warning"
                    class="mb-50"
                  >
                    <h4 class="alert-heading">
                      Your email is not confirmed. Please check your inbox.
                    </h4>
                    <div class="alert-body">
                      <b-link class="alert-link">
                        Resend confirmation
                      </b-link>
                    </div>
                  </b-alert>
                </b-col> -->
                <!--/ alert -->

                <b-col cols="12">
                  <b-button
                    v-ripple.400="'rgba(255, 255, 255, 0.15)'"
                    variant="primary"
                    class="mt-2 mr-1"
                    type="submit"
                  >
                    Guardar cambios
                  </b-button>
                  <b-button
                    v-ripple.400="'rgba(186, 191, 199, 0.15)'"
                    variant="outline-secondary"
                    type="button"
                    class="mt-2"
                    @click="resetForm"
                  >
                    Reiniciar
                  </b-button>
                </b-col>
              </b-row>
            </b-form>

          </b-row>

        </b-card-body>
      </b-card>
    </b-col>
  </b-row>

  <b-row v-else-if="page == 2">
    <b-col md="12">
      <b-card no-body class="card-employee-task">
        
        <b-card-header>
          <b-card-title>
            
            <feather-icon
              icon="UsersIcon"
              size="20"
              class="position-relative"
              style="top: -3px;"
            />
            Detalles cliente
          </b-card-title>
          <feather-icon
            icon="ArrowLeftIcon"
            size="18"
            class="cursor-pointer"
            @click="PageList()"
          />
        </b-card-header>

        <b-card-body>

          <b-row class="mx-0">
            <b-col md="12">
              <b-form
                class="mt-2"
              >
                <b-row>

                  <b-col sm="4">
                    <b-form-group
                      label="Nombre"
                      label-for="account-nombre"
                    >
                      <b-form-input
                        v-model="details.nombre"
                        name="nombre"
                        placeholder="Nombre"
                        disabled
                        class="cursor-not"
                      />
                    </b-form-group>
                  </b-col>

                  <b-col sm="4">
                    <b-form-group
                      label="Apellido"
                      label-for="account-apellido"
                    >
                      <b-form-input
                        v-model="details.apellido"
                        placeholder="Apellido"
                        name="apellido"
                        disabled
                        class="cursor-not"
                      />
                    </b-form-group>
                  </b-col>

                  <b-col sm="4">
                    <b-form-group
                      label="DNI"
                      label-for="account-dni"
                    >
                      <b-form-input
                        v-model="details.dni"
                        placeholder="DNI"
                        name="dni"
                        disabled
                        class="cursor-not"
                      />
                    </b-form-group>
                  </b-col>
                  
                  <b-col sm="6">
                    <b-form-group
                      label="E-mail"
                      label-for="account-e-mail"
                    >
                      <b-form-input
                        v-model="details.email"
                        name="email"
                        placeholder="Email"
                        disabled
                        class="cursor-not"
                      />
                    </b-form-group>
                  </b-col>
                  <b-col sm="6">
                    <b-form-group
                      label="Teléfono"
                      label-for="account-telefono"
                    >
                      <b-form-input
                        v-model="details.telefono"
                        name="telefono"
                        placeholder="Teléfono"
                        disabled
                        class="cursor-not"
                      />
                    </b-form-group>
                  </b-col>

                  <!-- alert -->
                  <!-- <b-col
                    cols="12"
                    class="mt-75"
                  >
                    <b-alert
                      show
                      variant="warning"
                      class="mb-50"
                    >
                      <h4 class="alert-heading">
                        Your email is not confirmed. Please check your inbox.
                      </h4>
                      <div class="alert-body">
                        <b-link class="alert-link">
                          Resend confirmation
                        </b-link>
                      </div>
                    </b-alert>
                  </b-col> -->
                  <!--/ alert -->

                  <!-- <b-col cols="12">
                    <b-button
                      v-ripple.400="'rgba(255, 255, 255, 0.15)'"
                      variant="primary"
                      class="mt-2 mr-1"
                      type="submit"
                    >
                      Guardar cambios
                    </b-button>
                    <b-button
                      v-ripple.400="'rgba(186, 191, 199, 0.15)'"
                      variant="outline-secondary"
                      type="button"
                      class="mt-2"
                      @click="resetForm"
                    >
                      Reiniciar
                    </b-button>
                  </b-col> -->
                </b-row>
              </b-form>
            </b-col>
            <b-col v-if="details.status === '0'" cols="12">
              <b-button
                v-ripple.400="'rgba(255, 255, 255, 0.15)'"
                variant="primary"
                class="mt-2 mr-1"
                type="submit"
                @click="verificarCliente(details.id)"
              >
              
               <feather-icon icon="CheckIcon" style="color: aqua;" />
                Verificar cliente
              </b-button>
  
            </b-col>  
          </b-row>


        </b-card-body>
      </b-card>
      <div v-if="referidos.length > 0">
        <h2>Referidos de {{ details.nombre }} {{ details.apellido }}</h2>
        <b-table
          striped
          hover
          responsive
          :items="referidos">
          <template #cell(status)="data">
          <b-badge :variant="status[1][data.value]">
            {{ status[0][data.value] }}
          </b-badge>
        </template>
          
        </b-table>
      </div>

    </b-col>
    
  </b-row>

  <b-row v-else-if="page == 2">
    <b-col md="12">
      <b-card no-body class="card-employee-task">
        
        <b-card-header>
          <b-card-title>
            
            <feather-icon
              icon="UsersIcon"
              size="20"
              class="position-relative"
              style="top: -3px;"
            />
            Detallles cliente
          </b-card-title>
          <feather-icon
            icon="ArrowLeftIcon"
            size="18"
            class="cursor-pointer"
            @click="PageList()"
          />
        </b-card-header>

        <b-card-body>

          <b-row class="mx-0">
            <b-col md="12">
              <b-form
                class="mt-2"
              >
                <b-row>

                  <b-col sm="4">
                    <b-form-group
                      label="Nombre"
                      label-for="account-nombre"
                    >
                      <b-form-input
                        v-model="details.nombre"
                        name="nombre"
                        placeholder="Nombre"
                        disabled
                        class="cursor-not"
                      />
                    </b-form-group>
                  </b-col>

                  <b-col sm="4">
                    <b-form-group
                      label="Apellido"
                      label-for="account-apellido"
                    >
                      <b-form-input
                        v-model="details.apellido"
                        placeholder="Apellido"
                        name="apellido"
                        disabled
                        class="cursor-not"
                      />
                    </b-form-group>
                  </b-col>

                  <b-col sm="4">
                    <b-form-group
                      label="DNI"
                      label-for="account-dni"
                    >
                      <b-form-input
                        v-model="details.dni"
                        placeholder="DNI"
                        name="dni"
                        disabled
                        class="cursor-not"
                      />
                    </b-form-group>
                  </b-col>
                  
                  <b-col sm="6">
                    <b-form-group
                      label="E-mail"
                      label-for="account-e-mail"
                    >
                      <b-form-input
                        v-model="details.email"
                        name="email"
                        placeholder="Email"
                        disabled
                        class="cursor-not"
                      />
                    </b-form-group>
                  </b-col>
                  <b-col sm="6">
                    <b-form-group
                      label="Teléfono"
                      label-for="account-telefono"
                    >
                      <b-form-input
                        v-model="details.telefono"
                        name="telefono"
                        placeholder="Teléfono"
                        disabled
                        class="cursor-not"
                      />
                    </b-form-group>
                  </b-col>

                                
                </b-row>
              </b-form>
            </b-col>
          </b-row>

        </b-card-body>
      </b-card>
    </b-col>
  </b-row>

  <!-- Registrar cliente -->

  <b-row v-else-if="page == 3">
    <b-col md="12">
      <b-card no-body class="card-employee-task">
          <b-card-header>
            <b-card-title>
              <feather-icon
              icon="UsersIcon"
              size="20"
              class="position-relative"
              style="top: -3px;"
            /> Registrar cliente
            </b-card-title>
            <feather-icon
            icon="ArrowLeftIcon"
            size="18"
            class="cursor-pointer"
            @click="PageList()"
          />
          </b-card-header>
          <b-card-body>
            <b-row class="mx-0">
            <b-col md="12">
              <b-form
                class="mt-2"
                @submit.prevent="validationRegisterForm"
              >
                <b-row>

                  <b-col sm="4">
                    <b-form-group
                      label="Nombre"
                      label-for="account-nombre"
                    >
                      <b-form-input
                        v-model="cliente.nombre"
                        name="nombre"
                        placeholder="Nombre"
                      />
                      <small class="text-danger">{{ validar.nombre }}</small>
                    </b-form-group>
                  </b-col>

                  <b-col sm="4">
                    <b-form-group
                      label="Apellido"
                      label-for="apellido"
                    >
                      <b-form-input
                        v-model="cliente.apellido"
                        placeholder="Apellido"
                        name="apellido"
                      />
                      <small class="text-danger">{{ validar.apellido }}</small>
                    </b-form-group>
                  </b-col>

                  <b-col sm="4">
                    <b-form-group
                      label="DNI"
                      label-for="dni"
                    >
                      <b-form-input
                        v-model="cliente.dni"
                        placeholder="DNI"
                        name="dni"
                      />
                      <small class="text-danger">{{ validar.dni }}</small>
                    </b-form-group>
                  </b-col>
                  
                  <b-col sm="4">
                    <b-form-group
                      label="E-mail"
                      label-for="e-mail"
                    >
                      <b-form-input
                        v-model="cliente.email"
                        name="email"
                        placeholder="Email"
                      />
                      <small class="text-danger">{{ validar.email }}</small>
                    </b-form-group>
                  </b-col>
                  <b-col sm="4">
                    <b-form-group
                      label="Teléfono"
                      label-for="telefono"
                    >
                      <b-form-input
                        v-model="cliente.telefono"
                        name="telefono"
                        placeholder="Teléfono"
                      />
                      <small class="text-danger">{{ validar.telefono }}</small>
                    </b-form-group>
                  </b-col>

                  <b-col sm="4">
                    <b-form-group
                      label="Contraseña"
                      label-for="contrasena"
                    >
                      <b-form-input
                        v-model="cliente.contrasena"
                        name="contrasena"
                        placeholder="contrasena"
                        type="password"
                      />
                      <small class="text-danger">{{ validar.contrasena }}</small>
                    </b-form-group>
                  </b-col>

                  <b-col sm="12" >
                      <!-- Fecha Nacimiento -->
                    <b-form-group class="mb-0" 
                      label="Fecha de nacimiento"
                      label-for="fecha">
                      <b-form-datepicker
                        v-model="cliente.fecha"
                        name="fecha_n"
                        placeholder="Fecha de nacimiento"
                        type="date"
                      />
                    </b-form-group>
                  </b-col>

                  <b-col cols="12">
                  <b-button
                    v-ripple.400="'rgba(255, 255, 255, 0.15)'"
                    variant="primary"
                    class="mt-2 mr-1"
                    type="submit"
                  >
                    Guardar cambios
                  </b-button>
                  
                 </b-col>
                </b-row>
                
              </b-form>
              
            </b-col>
          </b-row>
          </b-card-body>
      </b-card>
    </b-col>
  </b-row>
</template>

<style>
  .cursor-not{
    cursor: not-allowed;
  }
</style>

<script>
import { BCard,BFormDatepicker, BCardTitle, BCardHeader, BCardBody, BCardText, BTable, BAvatar, BBadge, BRow, BCol, BFormGroup, BForm, BFormSelect, BPagination, BInputGroup,
  BFormInput, BInputGroupAppend, BButton, BDropdown, BDropdownItem, BootstrapVueIcons  } from 'bootstrap-vue'

import Ripple from 'vue-ripple-directive'

import BCardCode from '@core/components/b-card-code'

import Services from '@/services/admin/Consultas.js'

import ClientServices from '@/services/admin/Clientes.js'

import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'

export default {
  components: {
    BCard,
    BFormDatepicker,
    BCardTitle,
    BCardHeader,
    BCardBody,
    BCardText,
    BTable,
    BAvatar,
    BBadge,
    BRow,
    BCol,
    BFormGroup,
    BFormSelect,
    BPagination,
    BInputGroup,
    BFormInput,
    BInputGroupAppend,
    BButton,
    BDropdown,
    BDropdownItem,
    BCardCode,
    BForm,
    BootstrapVueIcons 
  },
  directives: {
    Ripple,
  },
  data() {
    return {
      perPage: 10,
      pageOptions: [3, 5, 10],
      totalRows: 1,
      currentPage: 1,
      sortBy: '',
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
      filterOn: [],
      infoModal: {
        id: 'info-modal',
        title: '',
        content: '',
      },
      fields: [
        {
          key: 'id', label: 'Id',
        },
        { key: 'full_name', label: 'Nombre', sortable: true },
        {
          key: 'documento', label: 'DNI',
        },
        'email',
        'telefono',
        
        { key: 'status', label: 'Status', sortable: true },
        { key: 'actions' }
      ],
      items: [
      ],
      referidos: [],
      status: [{
        1: 'Activo', 0: 'Inactivo',
      },
      {
        2: 'light-primary', 1: 'light-success', 0: 'light-danger', 4: 'light-warning', 5: 'light-info',
      }],
      page: 0,
      edit: {
        id: 0,
        apellido: '',
        nombre: '',
        email: '',
        telefono: '',
        dni: '',
      },
      validar: {
        avatar: '',
        apellido: '',
        nombre: '',
        email: '',
        telefono: '',
        dni: '',
        contrasena: ''
      },
      details: {
        id: 0,
        apellido: '',
        nombre: '',
        email: '',
        telefono: '',
        dni: '',
        status: Number
      },
      cliente:{
        apellido: '',
        nombre: '',
        email: '',
        telefono: '',
        dni: '',
        contrasena: ''
      }
    }
  },
  computed: {
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => ({ text: f.label, value: f.key }))
    },
  },
  mounted() {
    // Set the initial number of items
    this.totalRows = this.items.length
    this.Listar();
  },
  methods: {
    info(item, index, button) {
      this.infoModal.title = `Row index: ${index}`
      this.infoModal.content = JSON.stringify(item, null, 2)
      this.$root.$emit('bv::show::modal', this.infoModal.id, button)
    },
    resetInfoModal() {
      this.infoModal.title = ''
      this.infoModal.content = ''
    },
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    async delete2(param) {
      alert("Eliminando " + param);
    },
    Listar(){

      const self = this;

      Services.ListarClientes().then( function (response) {
        
        var arrDatos = [];

        for (let i = 0; i < response.data.length; i++) {
          var modelo = {
            id: response.data[i].id,
            usuario: "jorgeavargasm",
            full_name: response.data[i].nombre + ' ' + response.data[i].apellido,
            email: response.data[i].correo,
            telefono: response.data[i].telefono,
            documento: response.data[i].dni,
            status: response.data[i].status,
            nombre: response.data[i].nombre,
            apellido: response.data[i].apellido,
            codigo_ref: response.data[i].codigo_ref
          }

          arrDatos.push(modelo);
          
        }

        self.items = arrDatos;

        self.totalRows = self.items.length;
      }).catch(error => {
        console.log("error ",error);
      });

    },
    PageEdit(id){

      for (let i = 0; i < this.items.length; i++) {

        if(id == this.items[i].id){

          this.edit.id = this.items[i].id;
          this.edit.apellido = this.items[i].apellido
          this.edit.nombre = this.items[i].nombre
          this.edit.email = this.items[i].email
          this.edit.telefono = this.items[i].telefono
          this.edit.dni = this.items[i].documento
          
        }
      }
      
      this.page = 1;
    },
    PageList(){
      this.page = 0;
      this.edit.id = 0
      this.edit.apellido = ''
      this.edit.nombre = ''
      this.edit.email = ''
      this.edit.telefono = ''
      this.edit.dni = ''

      this.details.id = 0
      this.details.apellido = ''
      this.details.nombre = ''
      this.details.email = ''
      this.details.telefono = ''
      this.details.dni = ''
      this.referidos = []
    },
    PageDetails(id){

      for (let i = 0; i < this.items.length; i++) {
        
        if(id == this.items[i].id){
          
          this.details.id = this.items[i].id;
          this.details.apellido = this.items[i].apellido
          this.details.nombre = this.items[i].nombre
          this.details.email = this.items[i].email
          this.details.telefono = this.items[i].telefono
          this.details.dni = this.items[i].documento
          this.details.status = this.items[i].status

          const form = new FormData()
          form.append('txtref', this.items[i].codigo_ref)
          const self = this

          Services.ListarClienteReferidos(form).then(function (response){

            self.referidos = response.data

          }).catch(error => console.log("error: ", error))
        }
      }
      

      this.page = 2;
    },
    resetForm() {
      for (let i = 0; i < this.items.length; i++) {

        if(this.edit.id == this.items[i].id){

          this.edit.id = this.items[i].id;
          this.edit.apellido = this.items[i].apellido
          this.edit.nombre = this.items[i].nombre
          this.edit.email = this.items[i].email
          this.edit.telefono = this.items[i].telefono
          this.edit.dni = this.items[i].documento
          
        }
      }
    },
    validationForm() {

      const id = this.edit.id;
      const nombre = this.edit.nombre;
      const apellido = this.edit.apellido;
      const dni = this.edit.dni;
      const email = this.edit.email;
      const telefono = this.edit.telefono;

      var envio = true;

      if(nombre == ""){
        
        this.validar.nombre = "Ingresar nombre";

        setTimeout(() => {
          this.validar.nombre = "";
        }, 3000);

        envio = false;
      }
      if(apellido == ""){

        this.validar.apellido = "Ingresar apellido";

        setTimeout(() => {
          this.validar.apellido = "";
        }, 3000);

        envio = false;
      }
      if(dni == ""){

        this.validar.dni = "Ingresar dni";

        setTimeout(() => {
          this.validar.dni = "";
        }, 3000);

        envio = false;
      }
      if(email == ""){

        this.validar.email = "Ingresar email";

        setTimeout(() => {
          this.validar.email = "";
        }, 3000);

        envio = false;
      }
      if(telefono == ""){

        this.validar.telefono = "Ingresar teléfono";

        setTimeout(() => {
          this.validar.telefono = "";
        }, 3000);

        envio = false;
      }
      if (id == 0) {
        envio = false;
      }

      if(envio){

        this.$swal({
        title: '¿Estas seguro?',
        text: "Deseas editar la información",
        icon: 'warning',
        confirmButtonText: 'Si',
        showCancelButton: true,
        cancelButtonText: 'No',
        customClass: {
          confirmButton: 'btn btn-primary',
          cancelButton: 'btn btn-outline-danger ml-1',
        },
        buttonsStyling: false,
        }).then(result => {

          if (result.value) {
            this.Enviar();
          }
        })
        
      }
    },
    Enviar(){

      const form = new FormData();
      form.append('nombre', this.edit.nombre);
      form.append('apellido', this.edit.apellido);
      form.append('dni', this.edit.dni);
      form.append('telefono', this.edit.telefono);
      form.append('correo', this.edit.email);
      form.append('id', this.edit.id)

      const self = this;

      
      ClientServices.Editar(form).then( function (response) {


        self.Listar()

        if(response.data.result){

          self.$toast({
            component: ToastificationContent,
            props: {
              title: 'Realizado',
              icon: 'CheckIcon',
              text: response.data.msg,
              variant: 'success',
            },
          });

          sessionStorage.setItem('token', response.data.token)
          const objeto = {
            token: response.data.token,
            type: 'user'
          }
          store.commit('loginIn',objeto)
          //console.log(store.state);
          // self.$router.replace('/');

        }else{

          self.$toast({
            component: ToastificationContent,
            props: {
              title: 'No realizado',
              icon: 'BellIcon',
              text: response.data.msg,
              variant: 'danger',
            },
          });

        }
      }).catch(error => {
        console.log("error ",error);
      });

    },
    validationRegisterForm() {

      const id = this.cliente.id;
      const nombre = this.cliente.nombre;
      const apellido = this.cliente.apellido;
      const dni = this.cliente.dni;
      const email = this.cliente.email;
      const telefono = this.cliente.telefono;
      const contrasena = this.cliente.contrasena;

      var envio = true;

      if(nombre == ""){
        
        this.validar.nombre = "Ingresar nombre";

        setTimeout(() => {
          this.validar.nombre = "";
        }, 3000);

        envio = false;
      }
      if(apellido == ""){

        this.validar.apellido = "Ingresar apellido";

        setTimeout(() => {
          this.validar.apellido = "";
        }, 3000);

        envio = false;
      }
      if(dni == ""){

        this.validar.dni = "Ingresar dni";

        setTimeout(() => {
          this.validar.dni = "";
        }, 3000);

        envio = false;
      }
      if(email == ""){

        this.validar.email = "Ingresar email";

        setTimeout(() => {
          this.validar.email = "";
        }, 3000);

        envio = false;
      }
      if(telefono == ""){

        this.validar.telefono = "Ingresar teléfono";

        setTimeout(() => {
          this.validar.telefono = "";
        }, 3000);

        envio = false;
      }

      if(contrasena == ""){
        this.validar.contrasena = "Ingrese la contraseña"
        setTimeout(() => {
          this.validar.contrasena = "";
        }, 3000);

        envio = false;
      }

      if(envio){

        this.$swal({
        title: '¿Estas seguro?',
        text: "Deseas registrar el nuevo usuario",
        icon: 'warning',
        confirmButtonText: 'Si',
        showCancelButton: true,
        cancelButtonText: 'No',
        customClass: {
          confirmButton: 'btn btn-primary',
          cancelButton: 'btn btn-outline-danger ml-1',
        },
        buttonsStyling: false,
        }).then(result => {

          if (result.value) {
            this.Guardar();
          }
        })
        
      }
},
    Guardar(){
      const form = new FormData();
      form.append('nombre', this.cliente.nombre);
      form.append('apellido', this.cliente.apellido);
      form.append('dni', this.cliente.dni);
      form.append('telefono', this.cliente.telefono);
      form.append('correo', this.cliente.email);
      form.append('contrasena', this.cliente.contrasena);
      form.append('fecha_n', this.cliente.fecha);

      const self = this;
     

      ClientServices.Guardar(form).then(function(response){

        if(response){
          if(response.data.result ){
            self.Listar()
            self.$toast({
              component: ToastificationContent,
              props:{
                title: 'Realizado',
                icon: 'CheckIcon',
                text: response.data.msg
              }
            })
          }else{

            self.$toast({
              component: ToastificationContent,
              props:{
                title: 'No realizado',
                icon: 'BellIcon',
                text: response.data.msg,
                variant: 'danger'
              }
            })
          }
        }
      })
    },
    addClient(){
      this.page = 3
    },
    verificarCliente(id){

      const form = new FormData()
      form.append('id', id)

      const self = this;

      ClientServices.Verificar(form).then((response) =>{

        if(response){
          if(response.data.result){
            this.details.status = 1
            this.Listar()
            self.$toast({
              component: ToastificationContent,
              props: {
                title: 'Realizado',
                icon: 'CheckIcon',
                text: response.data.msg,
                variant: 'success',
              },
            });
          }else{

            self.$toast({
            component: ToastificationContent,
            props: {
              title: 'No realizado',
              icon: 'BellIcon',
              text: response.data.msg,
              variant: 'danger',
            },
            });
          
          }
        }
      })
    },
    Eliminar(id){

      this.$swal({
        title: '¿Estas seguro?',
        text: "¿Deseas eliminar deseas eliminar al cliente?",
        icon: 'warning',
        confirmButtonText: 'Si',
        showCancelButton: true,
        cancelButtonText: 'No',
        customClass: {
          confirmButton: 'btn btn-primary',
          cancelButton: 'btn btn-outline-danger ml-1',
        },
        buttonsStyling: false,
        }).then(result => {

          if (result.value) {
            // console.log('this.EnviarEditM()')
            this.EnviarEliminarM(id);
          }
        })
    },
    EnviarEliminarM(id){

      const form = new FormData();
      form.append('txtid', id);

      const self = this;


      ClientServices.Eliminar(form).then( function (response) {

        if(response.data.result){

          self.Listar();


          self.$toast({
            component: ToastificationContent,
            props: {
              title: 'Realizado',
              icon: 'CheckIcon',
              text: response.data.msg,
              variant: 'success',
            },
          });

        }else{

          self.$toast({
            component: ToastificationContent,
            props: {
              title: 'No realizado',
              icon: 'BellIcon',
              text: response.data.msg,
              variant: 'danger',
            },
          });

        }
      }).catch(error => {
        console.log("error ",error);
      });

    }
  },
}
</script>

<style>

</style>
