<template>
    <!-- <b-card title="Create Awesome 🙌">
      <b-card-text>This is your Package page.</b-card-text>
      <b-card-text>Chocolate sesame snaps pie carrot cake pastry pie lollipop muffin. Carrot cake dragée chupa chups jujubes. Macaroon liquorice cookie wafer tart marzipan bonbon. Gingerbread jelly-o dragée chocolate.</b-card-text>
    </b-card> -->
  
  
  <b-row v-if="page == 0">
      <b-col
        md="2"
        sm="4"
        class="my-1"
      >
        <b-form-group
          class="mb-0"
        >
          <label class="d-inline-block text-sm-left mr-50">Per page</label>
          <b-form-select
            id="perPageSelect"
            v-model="perPage"
            size="sm"
            :options="pageOptions"
            class="w-50"
          />
        </b-form-group>
      </b-col>
      <b-col
        md="4"
        sm="8"
        class="my-1"
      >
        <b-form-group
          label="Sort"
          label-cols-sm="3"
          label-align-sm="right"
          label-size="sm"
          label-for="sortBySelect"
          class="mb-0"
        >
          <b-input-group size="sm">
            <b-form-select
              id="sortBySelect"
              v-model="sortBy"
              :options="sortOptions"
              class="w-75"
            >
              <template v-slot:first>
                <option value="">
                  -- none --
                </option>
              </template>
            </b-form-select>
            <b-form-select
              v-model="sortDesc"
              size="sm"
              :disabled="!sortBy"
              class="w-25"
            >
              <option :value="false">
                Asc
              </option>
              <option :value="true">
                Desc
              </option>
            </b-form-select>
          </b-input-group>
        </b-form-group>
      </b-col>
      <b-col
        md="6"
        class="my-1"
      >
        <b-form-group
          label="Filtrar"
          label-cols-sm="3"
          label-align-sm="right"
          label-size="sm"
          label-for="filterInput"
          class="mb-0"
        >
          <b-input-group size="sm">
            <b-form-input
              id="filterInput"
              v-model="filter"
              type="search"
              placeholder="Buscar"
            />
            <b-input-group-append>
              <b-button
                :disabled="!filter"
                @click="filter = ''"
              >
                Cancelar
              </b-button>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </b-col>
    
      <b-col cols="12">
        <b-table
          striped
          hover
          responsive
          :per-page="perPage"
          :current-page="currentPage"
          :items="items"
          :fields="fields"
          :sort-by.sync="sortBy"
          :sort-desc.sync="sortDesc"
          :sort-direction="sortDirection"
          :filter="filter"
          :filter-included-fields="filterOn"
          @filtered="onFiltered"
        >
          <template #cell(avatar)="data">
            <b-avatar :src="data.value" />
          </template>
    
          <template #cell(status)="data">
            <b-badge :variant="status[1][data.value]">
              {{ status[0][data.value] }}
            </b-badge>
          </template>
    
          <template #cell(actions)="data">
            
            <b-dropdown
              variant="link"
              no-caret
            >
    
              <template #button-content>
                <feather-icon
                  icon="MoreVerticalIcon"
                  size="16"
                  class="align-middle text-body"
                />
              </template>
              <b-dropdown-item  @click="PageEdit(data.item.id)">
                <feather-icon icon="FileTextIcon" />
                <span v-if="data.item.status == 0" class="align-middle ml-50">Aceptar/Rechazar</span>
                <span v-if="data.item.status != 0" class="align-middle ml-50">Detalles</span>
              </b-dropdown-item>
    
              <!-- <b-dropdown-item v-on:click="delete2(data.item.id)">
                <feather-icon icon="TrashIcon" />
                <span class="align-middle ml-50">Delete</span>
              </b-dropdown-item> -->
            </b-dropdown>
    
          </template>
    
        </b-table>
      </b-col>
    
      <b-col
        cols="12"
      >
        <b-pagination
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          align="center"
          size="sm"
          class="my-0"
        />
      </b-col>
  </b-row>

  <b-col cols="12" v-else-if="page == 1">
    <b-card no-body class="card-employee-task">
      <b-card-header>
          <b-card-title>
            
            Detelles de deposito
          </b-card-title>
          <feather-icon
            icon="ArrowLeftIcon"
            size="18"
            class="cursor-pointer"
            @click="Regresar()"
          />
        </b-card-header>

        <b-card-body>
          <b-form
          @submit.prevent=""
          >
            <b-row class="mx-0">

              <b-col sm="4">
                <b-form-group
                label="Monedero"
                label-for="monedero"
                >

                <b-form-input
                  v-model="edit.descripcion_monedero"
                  id="monedero"
                  disabled
                  class="cursor-not"
                />
                </b-form-group>
              </b-col>

              <b-col sm="4">
                <b-form-group
                label="Hash"
                label-for="hash"
                >
                <b-form-input
                  v-model="edit.hash"
                  id="hash"
                  disabled
                  class="cursor-not"
                />
                </b-form-group>
              </b-col>
              <b-col sm="4">
                <b-form-group
                label="Red"
                label-for="red"
                >
                <b-form-input
                  v-model="edit.red"
                  id="red"
                  disabled
                  class="cursor-not"
                />
                </b-form-group>
              </b-col>
              <b-col sm="4">
                <b-form-group
                label="Monto"
                label-for="monto"
                >
                <b-form-input
                  v-model="edit.monto"
                  id="monto"
                  disabled
                  class="cursor-not"
                />
                </b-form-group>
              </b-col>
              <b-col sm="4">
                <b-form-group
                label="Billetera"
                label-for="billetera"
                >
                <b-form-input
                  v-model="edit.billetera"
                  id="billetera"
                  disabled
                  class="cursor-not"
                />
                </b-form-group>
              </b-col>
              
              <b-col sm="4">
                <b-form-group
                label="Referencia"
                label-for="referencia"
                >
                <b-form-input
                  v-model="edit.referencia_pago"
                  id="referencia"
                  disabled
                  class="cursor-not"
                />
                </b-form-group>
              </b-col>

              <b-col sm="4">
                  <b-form-group
                    label="Foto de referencia"
                    label-for="img-referencia"
                  >
                    <b-form
                      v-model="edit.img"
                      id="img-referencia"
                      @click="modalShow = !modalShow"
                      disabled
                      />
                      <b-img @click="modalShow = !modalShow" fluid-grow :src="edit.img" class="cursor-pointer" />
                      <b-modal v-model="modalShow" size="lg" title="Imagen del pago" hide-footer>
                        <b-img fluid-grow :src="edit.img" />
                      </b-modal>

                  </b-form-group>
              </b-col>

              <b-col sm="8">
                <b-form-group
                label="Fecha del pago"
                label-for="fecha"
                >
                <b-form-datepicker
                    v-model="edit.fecha"
                    id="fecha"
                    locale="es"
                    disabled
                    class="cursor-not"  
                    />
                </b-form-group>
              </b-col>

              <template v-if="edit.status == 0">
                <b-col sm="5">
                  <b-button @click="VerificarDepositoAlert(edit.id)"
                      v-if="!aceptando"
                      v-ripple.400="'rgba(255, 255, 255, 0.15)'"
                      variant="primary"
                      class="mt-2 mr-1"
                      type="submit"
                      id="aceptar"
                    >
                      Aceptar deposito
                  </b-button>
                  <b-button
                      disabled
                      v-if="aceptando"
                      v-ripple.400="'rgba(255, 255, 255, 0.15)'"
                      variant="primary"
                      class="mt-2 mr-1"
                      type="submit"
                    >
                      <b-spinner small type="grow"></b-spinner>
                      Aceptando deposito...
                  </b-button>
                    
  
                  <b-button
                      v-if="!rechazando"
                      @click="RechazarDepositoAlert(edit.id)"
                      v-ripple.400="'rgba(255, 255, 255, 0.15)'"
                      variant="outline-secondary"
                      class="mt-2 mr-1"
                      type="submit"
                      id="rechazar"
                    >
                      Rechazar deposito
                  </b-button>
                  <b-button
                      v-if="rechazando"
                      v-ripple.400="'rgba(255, 255, 255, 0.15)'"
                      variant="outline-secondary"
                      class="mt-2 mr-1"
                      type="submit"
                      disabled
                    >
                      <b-spinner small type="grow"></b-spinner>
                      Rechazando deposito...
                  </b-button>
                </b-col>
              </template>
            </b-row>
          </b-form>
        </b-card-body>
    </b-card>
  </b-col>
  
</template>

<script>
  import { BCard, BCardText,BCardTitle, BTable, BAvatar, BSpinner, BCardHeader,BCardBody, BBadge, BRow, BCol,BForm, BFormGroup, BFormSelect, BPagination, BInputGroup,
     BFormInput, BInputGroupAppend,BImg, BButton,BFormDatepicker, BDropdown, BDropdownItem } from 'bootstrap-vue'
  
  import Services from '@/services/admin/Consultas.js'
  import Transacciones from '@/services/admin/Transacciones'

  import Ripple from 'vue-ripple-directive'
  import ToastificationContent from '@/@core/components/toastification/ToastificationContent.vue'

  export default {
    components: {
      BSpinner,
      BCard,
      BCardHeader,
      BCardText,
      BCardTitle,
      BCardBody,
      BTable,
      BImg,
      BAvatar,
      BBadge,
      BRow,
      BCol,
      BForm,
      BFormGroup,
      BFormSelect,
      BFormDatepicker,
      BPagination,
      BInputGroup,
      BFormInput,
      BInputGroupAppend,
      BButton,
      BDropdown,
      BDropdownItem
    },
    directives: {
    Ripple,
    },
    data() {
      return {
        aceptando: false,
        rechazando: false,
        modalShow: false,
        page: 0,
        perPage: 5,
        pageOptions: [3, 5, 10],
        totalRows: 1,
        currentPage: 1,
        sortBy: '',
        sortDesc: false,
        sortDirection: 'asc',
        filter: null,
        filterOn: [],
        edit:{
          id: '',
          nombre: '',
          dni: '',
          email: '',
          telefono: '',
          monto: '',
          fecha: '',
          status: Number,
          img: ''
        },
        infoModal: {
          id: 'info-modal',
          title: '',
          content: '',
        },
        fields: [
          {
            key: 'id', label: 'Id',
          },
          { key: 'nombre', label: 'Nombre', sortable: true },
          {
            key: 'dni', label: 'DNI',
          },
          'email',
          'telefono',
          'monto',
          'fecha',
          { key: 'status', label: 'Status', sortable: true },
          { key: 'actions' }
        ],
        items: [
         
        ],
        status: [{
          0: 'Pendiente', 1: 'Completado', 2: 'Rechazado', 3: 'Pendiente', 4: 'Applied',
        },
        {
          0: 'light-warning', 1: 'light-success', 2: 'light-danger', 3: 'light-warning', 4: 'light-info',
        }],
      }
      
    },
    computed: {
      sortOptions() {
        // Create an options list from our fields
        return this.fields
          .filter(f => f.sortable)
          .map(f => ({ text: f.label, value: f.key }))
      },
    },
    mounted() {
      // Set the initial number of items
      this.totalRows = this.items.length;
      this.Listar();
    },
    methods: {
      info(item, index, button) {
        this.infoModal.title = `Row index: ${index}`
        this.infoModal.content = JSON.stringify(item, null, 2)
        this.$root.$emit('bv::show::modal', this.infoModal.id, button)
      },
      resetInfoModal() {
        this.infoModal.title = ''
        this.infoModal.content = ''
      },
      onFiltered(filteredItems) {
        // Trigger pagination to update the number of buttons/pages due to filtering
        this.totalRows = filteredItems.length
        this.currentPage = 1
      },
      async delete2(param) {
        alert("Eliminando " + param);
      },
      Regresar(){
      this.page = 0;
      },
      Listar(){

        const self = this;

        Services.ListarDepositos().then( function (response) {

          var arrDatos = [];

          for (let i = 0; i < response.data.length; i++) {
            var modelo = {
              billetera_cliente: response.data[i].billetera_cliente,
              descripcion_monedero: response.data[i].descripcion_monedero,
              email: response.data[i].correo,
              fecha: response.data[i].fecha,
              img: response.data[i].foto_pago,
              id: response.data[i].id,
              nombre: response.data[i].nombre_cliente,
              dni: response.data[i].dni,
              telefono: response.data[i].telefono,
              monto: response.data[i].monto,
              status: response.data[i].status,
              id_cliente: response.data[i].id_cliente,
              referencia_pago: response.data[i].referencia_pago,
              id_monedero: response.data[i].id_monedero,
              red: response.data[i].red,
              hash: response.data[i].hash
            }

            arrDatos.push(modelo);
            
          }

          self.items = arrDatos;
          self.totalRows = self.items.length;
        }).catch(error => {
          console.log("error ",error);
        });

      },
      PageEdit(id){

        for (let i = 0; i < this.items.length; i++) {
          
          if(id == this.items[i].id){
            
            this.edit.id = this.items[i].id;
            this.edit.nombre = this.items[i].nombre
            this.edit.dni = this.items[i].dni
            this.edit.email = this.items[i].email
            this.edit.telefono = this.items[i].telefono
            this.edit.monto = this.items[i].monto
            this.edit.fecha = this.items[i].fecha
            this.edit.status = this.items[i].status
            this.edit.descripcion_monedero = this.items[i].descripcion_monedero
            this.edit.hash = this.items[i].hash
            this.edit.red = this.items[i].red
            this.edit.referencia_pago = this.items[i].referencia_pago
            this.edit.billetera = this.items[i].billetera_cliente
            this.edit.img = `${process.env.VUE_APP_URL_BASE}/screenshots/${this.items[i].img}`
          }
        }
        
        this.page = 1;
      },
      VerificarDepositoAlert(id){
        const self = this
        self.$swal({
        title: 'VERIFICAR DEPOSITO',
        text: "¿Desea verificar el deposito?",
        icon: 'warning',
        confirmButtonText: 'Si',
        showCancelButton: true,
        cancelButtonText: 'No',
        customClass: {
          confirmButton: 'btn btn-primary',
          cancelButton: 'btn btn-outline-danger ml-1',
        },
        buttonsStyling: false,
        }).then(result => {

          if (result.value) {
            self.VerificarDeposito();
            self.aceptando = true
            document.getElementById('rechazar').disabled = true
          }
        })
      },
      VerificarDeposito(){
        const form = new FormData()
        form.append('id_deposito', this.edit.id)
        
        const self = this
        
        Transacciones.VerificarDeposito(form).then(function (response){

          document.getElementById('rechazar').disabled = false
          self.Listar()

          self.aceptando = false
          if(response.data.result){
            self.edit.status = 2
            self.$toast({
                component: ToastificationContent,
                props: {
                title: 'Realizado',
                icon: 'CheckIcon',
                text: response.data.msg,
                variant: 'success',
              },
            })
          }else{
            self.$toast({
              component: ToastificationContent,
              props: {
                title: 'No realizado',
                icon: 'BellIcon',
                text: response.data.msg,
                variant: 'danger',
              },
            });
          }
        }).catch( err =>{
          console.log(err)
          self.aceptando = false
          document.getElementById('rechazar').disabled = false
        })
      },
      RechazarDepositoAlert(id){
        this.$swal({
        title: 'RECHAZAR DEPOSITO',
        text: "¿Desea rechazar el deposito?",
        icon: 'warning',
        confirmButtonText: 'Si',
        showCancelButton: true,
        cancelButtonText: 'No',
        customClass: {
          confirmButton: 'btn btn-primary',
          cancelButton: 'btn btn-outline-danger ml-1',
        },
        buttonsStyling: false,
        }).then(result => {

          if (result.value) {
            this.RechazarDeposito();
            this.rechazando = true
            document.getElementById('aceptar').disabled = true
          }
        })
      },
      RechazarDeposito(){
        const form = new FormData()
        form.append('id_deposito', this.edit.id)
        
        const self = this

        
        Transacciones.RechazarDeposito(form).then(function (response){
          self.rechazando = false
          document.getElementById('aceptar').disabled = false
          self.Listar()

          if(response.data.result){
            self.edit.status = 2
            self.$toast({
                component: ToastificationContent,
                props: {
                title: 'Realizado',
                icon: 'CheckIcon',
                text: response.data.msg,
                variant: 'success',
              },
            })
          }else{
            self.$toast({
              component: ToastificationContent,
              props: {
                title: 'No realizado',
                icon: 'BellIcon',
                text: response.data.msg,
                variant: 'danger',
              },
            });
          }
        }).catch(err =>{
          console.log(err)
          self.rechazando = false
          document.getElementById('aceptar').disabled = false
        })
      }
    },
  }
</script>

<style>

</style>
  