<template>
    <div>
      <b-row>
        <b-col
          lg="3"
          sm="6"
          >
          
          <b-link :to="{name:'customers'}">
            <statistic-card-horizontal
              icon="UsersIcon"
              statistic="12"
              statistic-title="Clientes"
              style="cursor: pointer;"
            />
          </b-link>
        </b-col>
        
        <b-col
          lg="3"
          sm="6"
        >
          <b-link :to="{name:'messages'}">
            <statistic-card-horizontal
              icon="MailIcon"
              statistic="30"
              statistic-title="Mensajeria"
              style="cursor: pointer;"
            />
          </b-link>
        </b-col>
        <b-col
          lg="3"
          sm="6"
        >
          <b-link :to="{name:'purses'}">
            <statistic-card-horizontal
              icon="CreditCardIcon"
              statistic="4"
              statistic-title="Monederos"
              style="cursor: pointer;"
            />
          </b-link>
        </b-col>
        <b-col
          lg="3"
          sm="6"
        >
          <b-link :to="{name:'admin-packages'}">
            <statistic-card-horizontal
              icon="BoxIcon"
              statistic="5"
              statistic-title="Paquetes"
              style="cursor: pointer;"
            />
          </b-link>
        </b-col>
        <b-col
          lg="3"
          sm="6"
        >
          <b-link :to="{name:'users'}">
            <statistic-card-horizontal
              icon="UserIcon"
              statistic="3"
              statistic-title="Usuarios"
              style="cursor: pointer;"
            />
          </b-link>
        </b-col>
        <b-col
          lg="3"
          sm="6"
        >
          <b-link :to="{name:'roles'}">
            <statistic-card-horizontal
              icon="SettingsIcon"
              statistic="2"
              statistic-title="Roles"
              style="cursor: pointer;"
            />
          </b-link>
        </b-col>
        <b-col
          lg="3"
          sm="6"
        >
          <b-link :to="{name:'admin-withdrawal'}">
            <statistic-card-horizontal
              icon="UserMinusIcon"
              statistic="2"
              statistic-title="Retiros clientes"
              style="cursor: pointer;"
            />
          </b-link>
        </b-col>
        <b-col
          lg="3"
          sm="6"
        >
          <b-link :to="{name:'admin-deposits'}">
            <statistic-card-horizontal
              icon="UserPlusIcon"
              statistic="2"
              statistic-title="Depósitos clientes"
              style="cursor: pointer;"
            />
          </b-link>
        </b-col>
        <b-col sm="12"><hr></b-col>
        <b-col
          lg="4"
          sm="6"
        >
          <b-link>
            <statistic-card-horizontal
            
              icon="UserPlusIcon"
              :statistic="monto_total"
              statistic-title="Recaudacion total"
            />
          </b-link>
        </b-col>

        <b-col
          lg="4"
          sm="6"
        >
          <b-link>
            <statistic-card-horizontal
              icon="UserPlusIcon"
              :statistic="monto_depositos"
              statistic-title="Recaudacion de depositos"
            />
          </b-link>
        </b-col>

        <b-col
          lg="4"
          sm="6"
        >
          <b-link>
            <statistic-card-horizontal
              icon="UserPlusIcon"
              :statistic="monto_retiros"
              statistic-title="Recaudacion de retiros"
            />
          </b-link>
        </b-col>
       
      </b-row>

    </div>
  </template>
  
  <script>
  import { BCard, BCardText, BLink, BRow, BCol } from 'bootstrap-vue'
  import StatisticCardHorizontal from '@core/components/statistics-cards/StatisticCardHorizontal.vue'

  import Services from '@/services/admin/Consultas'

  export default {
    components: {
      BCard,
      BCardText,
      BLink,
      StatisticCardHorizontal,
      BRow,
      BCol
    },
    data(){
      return{
        monto_depositos: '',
        monto_retiros: '',
        monto_total: ''
      }
    },
    mounted(){
      const form = new FormData()
      form.append('tipo', 4)
      const self = this
      Services.ConsultarMontoTotal(form).then(function (response){
        self.monto_total = response.data.total + "$"
        self.monto_depositos = response.data.depositos + "$"
        self.monto_retiros = response.data.retiros + "$"
      }).catch(err => console.log(err))
    },
  }
  </script>
  
  <style>
  
  </style>
  