<template>
  <!-- <b-card title="Create Awesome 🙌">
    <b-card-text>This is your Package page.</b-card-text>
    <b-card-text>Chocolate sesame snaps pie carrot cake pastry pie lollipop muffin. Carrot cake dragée chupa chups jujubes. Macaroon liquorice cookie wafer tart marzipan bonbon. Gingerbread jelly-o dragée chocolate.</b-card-text>
  </b-card> -->


  <b-row>
    <b-col cols="12" v-if="page == 0">
      <b-row>
        <b-col
        md="2"
        sm="4"
        class="my-1"
      >
        <b-form-group
          class="mb-0"
        >
          <label class="d-inline-block text-sm-left mr-50">Per page</label>
          <b-form-select
            id="perPageSelect"
            v-model="perPage"
            size="sm"
            :options="pageOptions"
            class="w-50"
          />
        </b-form-group>
        </b-col>

        <b-col
          md="3"
          sm="8"
          class="my-1"
        >
          <b-form-group
            label="Sort"
            label-cols-sm="3"
            label-align-sm="right"
            label-size="sm"
            label-for="sortBySelect"
            class="mb-0"
          >
            <b-input-group size="sm">
              <b-form-select
                id="sortBySelect"
                v-model="sortBy"
                :options="sortOptions"
                class="w-75"
              >
                <template v-slot:first>
                  <option value="">
                    -- none --
                  </option>
                </template>
              </b-form-select>
              <b-form-select
                v-model="sortDesc"
                size="sm"
                :disabled="!sortBy"
                class="w-25"
              >
                <option :value="false">
                  Asc
                </option>
                <option :value="true">
                  Desc
                </option>
              </b-form-select>
            </b-input-group>
          </b-form-group>
        </b-col>

        <b-col
          md="5"
          class="my-1"
        >
          <b-form-group
            label="Filtrar"
            label-cols-sm="3"
            label-align-sm="right"
            label-size="sm"
            label-for="filterInput"
            class="mb-0"
          >
            <b-input-group size="sm">
              <b-form-input
                id="filterInput"
                v-model="filter"
                type="search"
                placeholder="Buscar"
              />
              <b-input-group-append>
                <b-button
                  :disabled="!filter"
                  @click="filter = ''"
                >
                  Cancelar
                </b-button>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>
        
        <b-col
          md="2"
          sm="4"
          class="my-1"
        >

          <b-button
            v-ripple.400="'rgba(255, 255, 255, 0.15)'"
            variant="success"
            size="sm"
            class="float-right"
            @click="Nuevo"
          >
            Añadir
          </b-button>
          
        </b-col>

        <b-col cols="12">
          <b-table
            striped
            hover
            responsive
            :per-page="perPage"
            :current-page="currentPage"
            :items="items"
            :fields="fields"
            :sort-by.sync="sortBy"
            :sort-desc.sync="sortDesc"
            :sort-direction="sortDirection"
            :filter="filter"
            :filter-included-fields="filterOn"
            @filtered="onFiltered"
          >
            <template #cell(avatar)="data">
              <b-avatar :src="data.value" />
            </template>

            <template #cell(status)="data">
              <b-badge :variant="status[1][data.value]">
                {{ status[0][data.value] }}
              </b-badge>
            </template>

            <template #cell(actions)="data">
              
              <b-dropdown
                variant="link"
                no-caret
              >

                <template #button-content>
                  <feather-icon
                    icon="MoreVerticalIcon"
                    size="16"
                    class="align-middle text-body"
                  />
                </template>
                <!-- <b-dropdown-item :to="{ name: 'apps-users-view', params: { id: data.item.id } }">
                  <feather-icon icon="FileTextIcon" />
                  <span class="align-middle ml-50">Detalles</span>
                </b-dropdown-item> -->

                <b-dropdown-item
                  @click="Editar(data.item.id)"
                >
                  <feather-icon icon="EditIcon" />
                  <span class="align-middle ml-50">Editar</span>
                </b-dropdown-item>

                <b-dropdown-item @click="Eliminar(data.item.id)">
                  <feather-icon icon="TrashIcon" />
                  <span class="align-middle ml-50">Eliminar</span>
                </b-dropdown-item>
              </b-dropdown>

            </template>

          </b-table>
        </b-col>

        <b-col
          cols="12"
        >
          <b-pagination
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            align="center"
            size="sm"
            class="my-0"
          />
        </b-col>

      </b-row>
    </b-col>

    <b-col cols="12" v-if="page == 1">
      <b-card no-body class="card-employee-task">
        
        <b-card-header>
          <b-card-title>
            
            <feather-icon
              icon="PlusCircleIcon"
              size="20"
              class="position-relative"
              style="top: -3px;"
            />
            Nuevo paquete
          </b-card-title>
          <feather-icon
            icon="ArrowLeftIcon"
            size="18"
            class="cursor-pointer"
            @click="Regresar()"
          />
        </b-card-header>

        <b-card-body>
            <b-form
              @submit.prevent="NewP"
            >
              <b-row class="mx-0">

                <b-col sm="4">
                  <b-form-group
                    label="Nombre"
                    label-for="new-nombre"
                  >
                    <b-form-input
                      id="new-nombre"
                      v-model="New.nombre"
                      name="nombre"
                      placeholder="Nombre"
                    />
                    <small class="text-danger">{{ ValNew.nombre }}</small>
                  </b-form-group>
                </b-col>

                <b-col sm="4">
                  <b-form-group
                    label="Precio"
                    label-for="new-precio"
                  >
                    <input
                      id="new-precio"  
                      placeholder="Precio"
                      name="precio"
                      class="form-control"
                      v-model="New.precio"
                      type="number"
                      min="0.00"
                      step="0.01" 
                    >
                    <small class="text-danger">{{ ValNew.precio }}</small>
                  </b-form-group>

                  
                </b-col>

                <b-col sm="4">
                  <b-form-group
                    label="Porcentaje"
                    label-for="new-porcentaje"
                  >
                    <input
                      id="new-porcentaje"
                      placeholder="Porcentaje"
                      name="porcentaje"
                      class="form-control"
                      v-model="New.porcentaje"
                      type="number"
                      min="0.0"
                      step="0.1" 
                    >
                    <small class="text-danger">{{ ValNew.porcentaje }}</small>
                  </b-form-group>
                </b-col>

                <b-col sm="4">
                  <b-form-group
                    label="Unidades"
                    label-for="cantidad"
                  >
                    <b-form-input
                      v-model="New.cantidad"
                      placeholder="Unidades disponibles"
                      name="cantidad"
                    />
                    <small class="text-danger">{{ ValNew.cantidad }}</small>
                  </b-form-group>
                </b-col>
                <b-col sm="8">
                  <b-form-group
                    label="Descripcion"
                    label-for="new-descripcion"
                  >
                    <b-form-input
                      id="new-descripcion"
                      placeholder="Descripcion del paquete"
                      name="descripcion"
                      class="form-control"
                      v-model="New.descripcion"
                      :state="DescripcionNewState()" 
                      trim
                    ></b-form-input>
                    <b-form-invalid-feedback id="input-live-feedback">
                      La descripcion no puede ser mayor de 110 caracteres
                    </b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col sm="4">
                  <b-form-group
                    label="Imagen del paquete"
                    label-for="img"
                  >
                  <b-form-file
                      v-model="New.img"
                      id="img"
                      accept="image/*"
                    />
                    <small class="text-danger">{{ ValNew.img }}</small>
                  </b-form-group>
                </b-col>

                <b-col sm="4">
                  <b-form-group
                    label="Semanas"
                    label-for="new-semanas"
                  >
                    <input
                      id="new-semanas"  
                      placeholder="Semanas"
                      name="semanas"
                      class="form-control"
                      v-model="New.semanas"
                      type="number"
                      min="1"
                    >
                    <small class="text-danger">{{ ValNew.semanas }}</small>
                  </b-form-group>
                </b-col>
                <b-col cols="12">
                  <b-button v-if="subiendo" variant="primary" disabled class="mt-2 mr-1">
                    <b-spinner small type="grow"></b-spinner>
                    Cargando paquete...
                  </b-button>
                <b-button
                    v-if="!subiendo"
                    v-ripple.400="'rgba(255, 255, 255, 0.15)'"
                    variant="primary"
                    class="mt-2 mr-1"
                    type="submit"
                  >
                    Guardar cambios
                  </b-button>
                  <b-button
                    v-ripple.400="'rgba(186, 191, 199, 0.15)'"
                    variant="outline-secondary"
                    type="button"
                    class="mt-2"
                    @click="Regresar"
                  >
                    Cancelar
                  </b-button>
                </b-col>
              </b-row>
            </b-form>
        </b-card-body>
      </b-card>
    </b-col>

    <b-col cols="12" v-if="page == 2">
      <b-card no-body class="card-employee-task">
        
        <b-card-header>
          <b-card-title>
            
            <feather-icon
              icon="SettingsIcon"
              size="20"
              class="position-relative"
              style="top: -3px;"
            />
            Editar paquete
          </b-card-title>
          <feather-icon
            icon="ArrowLeftIcon"
            size="18"
            class="cursor-pointer"
            @click="Regresar()"
          />
        </b-card-header>

        <b-card-body>
            <b-form
              @submit.prevent="EditP"
            >
              <b-row class="mx-0">

                <b-col sm="4">
                  <b-form-group
                    label="Nombre"
                    label-for="nombre"
                  >
                    <b-form-input
                      v-model="Edit.nombre"
                      name="nombre"
                      placeholder="Nombre"
                    />
                    <small class="text-danger">{{ ValEdit.nombre }}</small>
                  </b-form-group>
                </b-col>

                <b-col sm="4">
                  <b-form-group
                    label="Precio"
                    label-for="precio"
                  >
                    <b-form-input
                      v-model="Edit.precio"
                      placeholder="Precio"
                      name="precio"
                    />
                    <small class="text-danger">{{ ValEdit.precio }}</small>
                  </b-form-group>
                </b-col>

                <b-col sm="4">
                  <b-form-group
                    label="Porcentaje"
                    label-for="porcentaje"
                  >
                    <b-form-input
                      v-model="Edit.porcentaje"
                      placeholder="Porcentaje"
                      name="porcentaje"
                    />
                    <small class="text-danger">{{ ValEdit.porcentaje }}</small>
                  </b-form-group>
                </b-col>
                
                <b-col sm="4">
                  <b-form-group
                    label="Unidades"
                    label-for="cantidad"
                  >
                    <b-form-input
                      v-model="Edit.cantidad"
                      placeholder="Unidades disponibles del paquete"
                      name="cantidad"
                    />
                    <small class="text-danger">{{ ValEdit.cantidad }}</small>
                  </b-form-group>
                </b-col>
                <b-col sm="8">
                  <b-form-group
                    label="Descripcion"
                    label-for="descripcion"
                  >
                    <b-form-input
                      id="descripcion"
                      placeholder="Descripcion del paquete"
                      name="descripcion"
                      class="form-control"
                      aria-describedby="input-live-help input-live-feedback"
                      v-model="Edit.descripcion"
                      :state="DescripcionEditState()" 
                      trim
                    ></b-form-input>
                    <b-form-invalid-feedback id="input-live-feedback">
                      La descripcion no puede ser mayor de 110 caracteres
                    </b-form-invalid-feedback>
                  </b-form-group>
                </b-col>

                <b-col sm="4">
                  <b-form-group
                    label="Foto del paquete"
                    label-for="img-referencia"
                  >
                    <b-form
                      v-model="Edit.img"
                      id="img-referencia"
                      @click="modalShow = !modalShow"
                      disabled
                      />
                      <b-img @click="modalShow = !modalShow" fluid-grow :src="Edit.img" class="cursor-pointer" />
                      <b-modal v-model="modalShow" size="lg" title="Presione el lapiz para editar" hide-footer>
                        
                        <template class="icon">
                          <label for="img">
                            <b-icon-pencil id="pencil">
                            </b-icon-pencil>
                            <input type="file" @change="EditarImagen($event.target.files[0])" id="img" accept="image/jpg, image/jpeg, image/png" hidden>
                          </label>
                        </template>
                        <b-img fluid-grow :src="Edit.img" />
                      </b-modal>

                  </b-form-group>
                </b-col>
                <b-col sm="4">
                  <b-form-group
                    label="Semanas"
                    label-for="semanas"
                  >
                    <b-form-input
                      v-model="Edit.semanas"
                      placeholder="Semanas para completar el pago"
                      name="semanas"
                    />
                    <small class="text-danger">{{ ValEdit.semanas }}</small>
                  </b-form-group>
                </b-col>


                <b-col cols="12">
                  <b-button
                    v-ripple.400="'rgba(255, 255, 255, 0.15)'"
                    variant="primary"
                    class="mt-2 mr-1"
                    type="submit"
                  >
                    Guardar
                  </b-button>
                  <b-button
                    v-ripple.400="'rgba(186, 191, 199, 0.15)'"
                    variant="outline-secondary"
                    type="button"
                    class="mt-2"
                    @click="Regresar"
                  >
                    Cancelar
                  </b-button>
                </b-col>
              </b-row>
            </b-form>
        </b-card-body>
      </b-card>
    </b-col>
      
  </b-row>

</template>

<script>
import { BCard,  BCardTitle, BCardHeader, BCardBody, BImg, BCardText, BTable, BAvatar, BBadge, BRow, BCol, BFormGroup, BFormSelect, BPagination, BInputGroup,
  BForm, BFormInput, BFormInvalidFeedback,BFormText, BFormFile, BInputGroupAppend, BButton,BIconPencil,  BDropdown, BDropdownItem } from 'bootstrap-vue'

import BCardCode from '@core/components/b-card-code'

import { BSpinner } from 'bootstrap-vue'

import Services from '@/services/admin/Paquetes'
import Ripple from 'vue-ripple-directive'

import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'

export default {
  components: {
    BSpinner,
    BFormText,
    BFormInvalidFeedback,
    BIconPencil,
    BCard,
    BCardTitle,
    BImg,
    BCardHeader,
    BCardBody,
    BCardText,
    BTable,
    BAvatar,
    BBadge,
    BRow,
    BCol,
    BFormGroup,
    BFormFile,
    BFormSelect,
    BPagination,
    BInputGroup,
    BFormInput,
    BInputGroupAppend,
    BButton,
    BDropdown,
    BDropdownItem,
    BForm,
    BCardCode,
  },
  directives: {
    Ripple,
  },
  data() {
    return {
      subiendo: false,
      modalShow: false,
      perPage: 5,
      pageOptions: [3, 5, 10],
      totalRows: 1,
      currentPage: 1,
      sortBy: '',
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
      filterOn: [],
      infoModal: {
        id: 'info-modal',
        title: '',
        content: '',
      },
      fields: [
        {
          key: 'id', label: 'Id', sortable: true
        },
        { key: 'nombre', label: 'Nombre', sortable: true },
        {
          key: 'precio', label: 'Precio',
        },
        'porcentaje',
        
        { key: 'status', label: 'Status', sortable: true },
        { key: 'actions' }
      ],
      items: [/*
        {
          id: 1,
          // eslint-disable-next-line global-require
          usuario: "jorgeavargasm",
          nombre: "Paquete",
          precio: '15$',
          porcentaje: '15%',
          documento: '20523813',
          status: 2,
        },
        {
          id: 2,
          // eslint-disable-next-line global-require
          usuario: "jorgeavargasm2",
          nombre: 'Paquete2',
          precio: '20$',
          porcentaje: '20%',
          documento: '20523813',
          status: 2,
        },
        {
          id: 3,
          // eslint-disable-next-line global-require
          usuario: "jorgeavargasm3",
          nombre: 'Paquete3',
          precio: '10$',
          porcentaje: '10%',
          documento: '20523813',
          status: 3,
        }
        */
      ],
      status: [
        {
          0: 'Inactivo', 1: 'Activo',
        },
        {
          2: 'light-primary', 1: 'light-success', 0: 'light-danger', 4: 'light-warning', 5: 'light-info',
        }
      ],
      page: 0,
      New: {
        nombre: '',
        precio: 0,
        porcentaje: 0,
        img: null,
        descripcion: '',
        cantidad: 1,
        semanas: 10
      },
      ValNew: {
        nombre: '',
        precio: '',
        porcentaje: '',
        img: '',
        cantidad: '',
        semanas: ''
      },
      Edit:{
        id: 0,
        nombre: '',
        precio: 0,
        porcentaje: 0,
        img: null,
        descripcion: '',
        cantidad: 1,
        semanas: 0
      },
      ValEdit: {
        nombre: '',
        precio: '',
        porcentaje: '',
        cantidad: '',
        semanas: ''
      },
    }
  },
  computed: {
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => ({ text: f.label, value: f.key }))
    },
  },
  mounted() {
    // Set the initial number of items
    this.totalRows = this.items.length;

    this.Listar();
  },
  methods: {
    info(item, index, button) {
      this.infoModal.title = `Row index: ${index}`
      this.infoModal.content = JSON.stringify(item, null, 2)
      this.$root.$emit('bv::show::modal', this.infoModal.id, button)
    },
    resetInfoModal() {
      this.infoModal.title = ''
      this.infoModal.content = ''
    },
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    DescripcionNewState(){
      return this.New.descripcion.length < 110 ? true: false
    },
    DescripcionEditState(){
      return this.Edit.descripcion.length < 110 ? true: false
    },
    Listar(){

      const self = this;

      Services.ListarPaquetes().then( function (response) {
        self.items = response.data;
        self.totalRows = self.items.length;
      }).catch(error => {
        console.log("error ",error);
      });

    },
    Nuevo(){
      this.page = 1;
      this.New.nombre = '';
      this.New.precio = 0;
      this.New.porcentaje = 0;
      this.New.img = null
      this.New.descripcion = ''
      this.cantidad = 1
    },
    Editar(id){

      for (let i = 0; i < this.items.length; i++) {
        
        if(id == this.items[i].id){
          this.Edit.id = this.items[i].id
          this.Edit.nombre = this.items[i].nombre
          this.Edit.precio = this.items[i].precio
          this.Edit.porcentaje = this.items[i].porcentaje
          this.Edit.img = `${process.env.VUE_APP_URL_BASE}/paquetes_imagenes/${this.items[i].img}`
          this.Edit.descripcion = this.items[i].descripcion
          this.Edit.cantidad = this.items[i].cantidad
          this.Edit.semanas = this.items[i].semanas
        }
      }
      this.page = 2;
    },
    NewP(){
      const nombre = this.New.nombre;
      const precio = this.New.precio + '';
      const porcentaje = this.New.porcentaje + '';
      const img = this.New.img
      const descripcion = this.New.descripcion
      const cantidad = this.New.cantidad
      const semanas = this.New.semanas

      var envio = true;

      if(nombre == ""){
        
        this.ValNew.nombre = "Ingresar nombre";

        setTimeout(() => {
          this.ValNew.nombre = "";
        }, 3000);

        envio = false;
      }
      if(precio == ""){

        this.ValNew.precio = "Ingresar precio";

        setTimeout(() => {
          this.ValNew.precio = "";
        }, 3000);

        envio = false;
      }
      if(porcentaje == ""){

        this.ValNew.porcentaje = "Ingresar porcentaje";

        setTimeout(() => {
          this.ValNew.porcentaje = "";
        }, 3000);

        envio = false;
      }

      if(cantidad == "" || !cantidad){
        this.ValNew.cantidad = "Ingrese una cantidad correcta";

        setTimeout(() => {
          this.ValNew.cantidad = "";
        }, 3000);

        envio = false;
      }

      if(semanas == "" || !semanas || semanas <= 0){
        this.ValNew.semanas = "Ingrese una cantidad de semanas correcta";

        setTimeout(() => {
          this.ValNew.semanas = "";
        }, 3000);

        envio = false;
      }


      if(!this.DescripcionNewState()){
        envio = false
      }

      if(!img){

        this.ValNew.img = "Por favor suba una imagen del paquete";

        setTimeout(() => {
          this.ValNew.img = "";
        }, 3000);

        envio = false;
      }
      if(envio){

        this.$swal({
        title: '¿Estas seguro?',
        text: "Deseas guardar la información",
        icon: 'warning',
        confirmButtonText: 'Si',
        showCancelButton: true,
        cancelButtonText: 'No',
        customClass: {
          confirmButton: 'btn btn-primary',
          cancelButton: 'btn btn-outline-danger ml-1',
        },
        buttonsStyling: false,
        }).then(result => {

          if (result.value) {
            // console.log('this.EnviarNewP()')
            this.EnviarNewP();
          }
        })
        
      }

    },
    EnviarNewP(){

      const form = new FormData();
      form.append('txtnombre', this.New.nombre);
      form.append('txtprecio', this.New.precio);
      form.append('txtporcentaje', this.New.porcentaje);
      form.append('txtimg', this.New.img);
      form.append('txtdescripcion', this.New.descripcion)
      form.append('txtcantidad', this.New.cantidad)
      form.append('txtsemanas', this.New.semanas)

      const self = this;
      self.subiendo = true

      Services.Nuevo(form).then( function (response) {
      
        if(response.data.result){

          self.Listar();
          self.Regresar();
          self.subiendo = false

          self.$toast({
            component: ToastificationContent,
            props: {
              title: 'Realizado',
              icon: 'CheckIcon',
              text: response.data.msg,
              variant: 'success',
            },
          });

        }else{
          self.subiendo = false
          self.$toast({
            component: ToastificationContent,
            props: {
              title: 'No realizado',
              icon: 'BellIcon',
              text: response.data.msg,
              variant: 'danger',
            },
          });

        }
      }).catch(error => {
        console.log("error ",error);
        self.subiendo = false
      });

    },
    EditP(){
      const nombre = this.Edit.nombre;
      const precio = this.Edit.precio + '';
      const porcentaje = this.Edit.porcentaje + '';
      const img = this.Edit.img
      const descripcion = this.Edit.descripcion
      const cantidad = this.Edit.cantidad
      const semanas = this.Edit.semanas

      var envio = true;

      if(nombre == ""){
        
        this.ValEdit.nombre = "Ingresar nombre";

        setTimeout(() => {
          this.ValEdit.nombre = "";
        }, 3000);

        envio = false;
      }
      if(precio == "" || !precio || isNaN(precio)){

        this.ValEdit.precio = "Ingresar precio";

        setTimeout(() => {
          this.ValEdit.precio = "";
        }, 3000);

        envio = false;
      }
      if(porcentaje == ""){

        this.ValEdit.porcentaje = "Ingresar porcentaje";

        setTimeout(() => {
          this.ValEdit.porcentaje = "";
        }, 3000);

        envio = false;
      }

      if(cantidad == "" || !cantidad || isNaN(cantidad)){
        this.ValEdit.cantidad = "Ingrese una cantidad correcta";

        setTimeout(() => {
          this.ValEdit.cantidad = "";
        }, 3000);

        envio = false;
      }

      if(cantidad < 0){
        this.ValEdit.cantidad = "La cantidad no puede ser un numero negativo";

        setTimeout(() => {
          this.ValEdit.cantidad = "";
        }, 3000);

        envio = false;
      }

      if(semanas == "" || !semanas || semanas <= 0){
        this.ValEdit.semanas = "Ingrese una cantidad de semanas correcta";

        setTimeout(() => {
          this.ValEdit.semanas = "";
        }, 3000);

        envio = false;
      }

      if(!this.DescripcionEditState()){
        envio = false
      }

      if(envio){

        this.$swal({
        title: '¿Estas seguro?',
        text: "Deseas editar la información",
        icon: 'warning',
        confirmButtonText: 'Si',
        showCancelButton: true,
        cancelButtonText: 'No',
        customClass: {
          confirmButton: 'btn btn-primary',
          cancelButton: 'btn btn-outline-danger ml-1',
        },
        buttonsStyling: false,
        }).then(result => {

          if (result.value) {
            // console.log('this.EnviarEditP()')
            this.EnviarEditP();
          }
        })
        
      }
    },
    EnviarEditP(){

      const form = new FormData();
      form.append('txtid', this.Edit.id);
      form.append('txtnombre', this.Edit.nombre);
      form.append('txtprecio', this.Edit.precio);
      form.append('txtporcentaje', this.Edit.porcentaje);
      form.append('txtdescripcion', this.Edit.descripcion)
      form.append('txtcantidad', this.Edit.cantidad)
      form.append('txtsemanas', this.Edit.semanas);

      const self = this;

      Services.Editar(form).then( function (response) {

        if(response.data.result){

          self.Listar();
          self.Regresar();

          self.$toast({
            component: ToastificationContent,
            props: {
              title: 'Realizado',
              icon: 'CheckIcon',
              text: response.data.msg,
              variant: 'success',
            },
          });

        }else{

          self.$toast({
            component: ToastificationContent,
            props: {
              title: 'No realizado',
              icon: 'BellIcon',
              text: response.data.msg,
              variant: 'danger',
            },
          });

        }
      }).catch(error => {
        console.log("error ",error);
      });

    },
    Eliminar(id){

      this.$swal({
        title: '¿Estas seguro?',
        text: "Deseas eliminar la información",
        icon: 'warning',
        confirmButtonText: 'Si',
        showCancelButton: true,
        cancelButtonText: 'No',
        customClass: {
          confirmButton: 'btn btn-primary',
          cancelButton: 'btn btn-outline-danger ml-1',
        },
        buttonsStyling: false,
        }).then(result => {

          if (result.value) {
            // console.log('this.EnviarEditM()')
            this.EnviarEliminarP(id);
          }
        })
    },
    EnviarEliminarP(id){

      const form = new FormData();
      form.append('txtid', id);

      const self = this;

      Services.Eliminar(form).then( function (response) {

        if(response.data.result){

          self.Listar();

          self.$toast({
            component: ToastificationContent,
            props: {
              title: 'Realizado',
              icon: 'CheckIcon',
              text: response.data.msg,
              variant: 'success',
            },
          });

        }else{

          self.$toast({
            component: ToastificationContent,
            props: {
              title: 'No realizado',
              icon: 'BellIcon',
              text: response.data.msg,
              variant: 'danger',
            },
          });

        }
      }).catch(error => {
        console.log("error ",error);
      });

    },
    Regresar(){
      this.page = 0;

      this.New.nombre = '';
      this.New.precio = 0;
      this.New.porcentaje = 0;
      this.New.cantidad = 1

      this.Edit.id = 0;
      this.Edit.nombre = '';
      this.Edit.precio = 0;
      this.Edit.porcentaje = 0;
      this.Edit.cantidad = 0
    },
    EditarImagen(img){
      const self = this

      if(img.size > 5000000){
        self.$toast({
            component: ToastificationContent,
            props: {
              title: 'La imagen no puede ser mayor de 5MB',
              icon: 'BellIcon',
              variant: 'danger',
            },
          });
          return
      }

      const form = new FormData()
      form.append('img', img)
      form.append('paquete_id', this.Edit.id)

      Services.EditarImagen(form).then(function (response) {
        

        if(response.data.result){

          self.Listar();

          self.Edit.img = `${process.env.VUE_APP_URL_BASE}/paquetes_imagenes/${response.data.img}`

          self.$toast({
            component: ToastificationContent,
            props: {
              title: 'Realizado',
              icon: 'CheckIcon',
              text: response.data.msg,
              variant: 'success',
            },
          });

        }else{

          self.$toast({
            component: ToastificationContent,
            props: {
              title: 'No realizado',
              icon: 'BellIcon',
              text: response.data.msg,
              variant: 'danger',
            },
          });

        }
        
      }).catch(error => console.log(error))
    }
      
  },
}
</script>

<style>
  .icon{
    position: fixed;
    left: 5vh;
  }
  .icon-img>input {
    display: none;
    cursor: pointer;
    left: 2vh;
  }

  #pencil{
    position: absolute;
    font-size: 4em;
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
    top: 2vh;
    left: 4vh;
    background-color: rgba(0, 0, 0, 0.527);
  }
</style>
