<template>
  <!-- <b-card title="Create Awesome 🙌">
    <b-card-text>This is your Pursers page.</b-card-text>
    <b-card-text>Chocolate sesame snaps pie carrot cake pastry pie lollipop muffin. Carrot cake dragée chupa chups jujubes. Macaroon liquorice cookie wafer tart marzipan bonbon. Gingerbread jelly-o dragée chocolate.</b-card-text>
  </b-card> -->


  <b-row>
    <b-col cols="12" v-if="page == 0">
      <b-row>
        <b-col
          md="2"
          sm="4"
          class="my-1"
        >
          <b-form-group
            class="mb-0"
          >
            <label class="d-inline-block text-sm-left mr-50">Per page</label>
            <b-form-select
              id="perPageSelect"
              v-model="perPage"
              size="sm"
              :options="pageOptions"
              class="w-50"
            />
          </b-form-group>
        </b-col>

        <b-col
          md="3"
          sm="8"
          class="my-1"
        >
          <b-form-group
            label="Sort"
            label-cols-sm="3"
            label-align-sm="right"
            label-size="sm"
            label-for="sortBySelect"
            class="mb-0"
          >
            <b-input-group size="sm">
              <b-form-select
                id="sortBySelect"
                v-model="sortBy"
                :options="sortOptions"
                class="w-75"
              >
                <template v-slot:first>
                  <option value="">
                    -- none --
                    
                  </option>
                </template>
              </b-form-select>
              <b-form-select
                v-model="sortDesc"
                size="sm"
                :disabled="!sortBy"
                class="w-25"
              >
                <option :value="false">
                  Asc
                </option>
                <option :value="true">
                  Desc
                </option>
              </b-form-select>
            </b-input-group>
          </b-form-group>
        </b-col>

        <b-col
          md="5"
          class="my-1"
        >
          <b-form-group
            label="Filtrar"
            label-cols-sm="3"
            label-align-sm="right"
            label-size="sm"
            label-for="filterInput"
            class="mb-0"
          >
            <b-input-group size="sm">
              <b-form-input
                id="filterInput"
                v-model="filter"
                type="search"
                placeholder="Buscar"
              />
              <b-input-group-append>
                <b-button
                  :disabled="!filter"
                  @click="filter = ''"
                >
                  Cancelar
                </b-button>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>

        <b-col
          md="2"
          sm="4"
          class="my-1"
        >
          <b-button
            v-ripple.400="'rgba(255, 255, 255, 0.15)'"
            variant="success"
            size="sm"
            class="float-right"
            @click="Nuevo"
          >
            Añadir
          </b-button>
          
        </b-col>

        <b-col cols="12">
          <b-table
            striped
            hover
            responsive
            :per-page="perPage"
            :current-page="currentPage"
            :items="items"
            :fields="fields"
            :sort-by.sync="sortBy"
            :sort-desc.sync="sortDesc"
            :sort-direction="sortDirection"
            :filter="filter"
            :filter-included-fields="filterOn"
            @filtered="onFiltered"
          >
            <template #cell(avatar)="data">
              <b-avatar :src="data.value" />
            </template>
            <template #cell(status)="data">
              <b-badge :variant="status[1][data.value]">
                {{ status[0][data.value] }}
              </b-badge>
            </template>


            <template #cell(actions)="data">
              
              <b-dropdown
                variant="link"
                no-caret
              >

                <template #button-content>
                  <feather-icon
                    icon="MoreVerticalIcon"
                    size="16"
                    class="align-middle text-body"
                  />
                </template>
                <!-- <b-dropdown-item :to="{ name: 'apps-users-view', params: { id: data.item.id } }">
                  <feather-icon icon="FileTextIcon" />
                  <span class="align-middle ml-50">Detalles</span>
                </b-dropdown-item> -->

                <b-dropdown-item 
                  @click="Editar(data.item.id)"
                >
                  <feather-icon icon="EditIcon" />
                  <span class="align-middle ml-50">Editar</span>
                </b-dropdown-item>

                <b-dropdown-item @click="Eliminar(data.item.id)">
                  <feather-icon icon="TrashIcon" />
                  <span class="align-middle ml-50">Eliminar</span>
                </b-dropdown-item>
                <b-dropdown-item @click="mostrarQR(data.item.hash)">
                  Mostrar QR
                </b-dropdown-item>
              </b-dropdown>

            </template>

          </b-table>
        </b-col>

        <b-col
          cols="12"
        >
          <b-pagination
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            align="center"
            size="sm"
            class="my-0"
          />
        </b-col>
      </b-row>
    </b-col>

    <b-col cols="12" v-if="page == 1">
      <b-card no-body class="card-employee-task">
        
        <b-card-header>
          <b-card-title>
            
            <feather-icon
              icon="PlusCircleIcon"
              size="20"
              class="position-relative"
              style="top: -3px;"
            />
            Nuevo monedero
          </b-card-title>
          <feather-icon
            icon="ArrowLeftIcon"
            size="18"
            class="cursor-pointer"
            @click="Regresar()"
          />
        </b-card-header>

        <b-card-body>
            <b-form
              @submit.prevent="NewM"
            >
              <b-row class="mx-0">

                <b-col sm="4">
                  <b-form-group
                    label="Nombre"
                    label-for="new-nombre"
                  >
                    <b-form-input
                      id="new-nombre"
                      v-model="New.nombre"
                      name="nombre"
                      placeholder="Nombre"
                    />
                    <small class="text-danger">{{ ValNew.nombre }}</small>
                  </b-form-group>
                </b-col>

                <b-col sm="4">
                  <b-form-group
                    label="Hash"
                    label-for="new-hash"
                  >
                    <b-form-input
                      id="new-hash"
                      v-model="New.hash"
                      name="hash"
                      placeholder="Hash"
                    />
                    <small class="text-danger">{{ ValNew.hash }}</small>
                  </b-form-group>

                  
                </b-col>

                <b-col sm="4">
                  <b-form-group
                    label="Red"
                    label-for="new-red"
                  >
                    <b-form-input
                      id="new-red"
                      v-model="New.red"
                      name="red"
                      placeholder="Red"
                    />
                    <small class="text-danger">{{ ValNew.red }}</small>
                  </b-form-group>
                </b-col>

                <b-col cols="12">
                  <b-button
                    v-ripple.400="'rgba(255, 255, 255, 0.15)'"
                    variant="primary"
                    class="mt-2 mr-1"
                    type="submit"
                  >
                    Guardar
                  </b-button>
                  <b-button
                    v-ripple.400="'rgba(186, 191, 199, 0.15)'"
                    variant="outline-secondary"
                    type="button"
                    class="mt-2"
                    @click="Regresar"
                  >
                    Cancelar
                  </b-button>
                </b-col>
              </b-row>
            </b-form>
        </b-card-body>

      </b-card>
    </b-col>

    <b-col cols="12" v-if="page == 2">
      <b-card no-body class="card-employee-task">
        
        <b-card-header>
          <b-card-title>
            
            <feather-icon
              icon="SettingsIcon"
              size="20"
              class="position-relative"
              style="top: -3px;"
            />
            Editar monedero
          </b-card-title>
          <feather-icon
            icon="ArrowLeftIcon"
            size="18"
            class="cursor-pointer"
            @click="Regresar()"
          />
        </b-card-header>

        <b-card-body>
            <b-form
              @submit.prevent="EditM"
            >
              <b-row class="mx-0">

                <b-col sm="4">
                  <b-form-group
                    label="Nombre"
                    label-for="nombre"
                  >
                    <b-form-input
                      v-model="Edit.nombre"
                      name="nombre"
                      placeholder="Nombre"
                    />
                    <small class="text-danger">{{ ValEdit.nombre }}</small>
                  </b-form-group>
                </b-col>

                <b-col sm="4">
                  <b-form-group
                    label="Hash"
                    label-for="hash"
                  >
                    <b-form-input
                      v-model="Edit.nombre"
                      placeholder="Hash"
                      name="hash"
                    />
                    <small class="text-danger">{{ ValEdit.hash }}</small>
                  </b-form-group>
                </b-col>

                <b-col sm="4">
                  <b-form-group
                    label="Red"
                    label-for="red"
                  >
                    <b-form-input
                      v-model="Edit.red"
                      placeholder="Red"
                      name="red"
                    />
                    <small class="text-danger">{{ ValEdit.red }}</small>
                  </b-form-group>
                </b-col>

                <b-col cols="12">
                  <b-button
                    v-ripple.400="'rgba(255, 255, 255, 0.15)'"
                    variant="primary"
                    class="mt-2 mr-1"
                    type="submit"
                  >
                    Guardar
                  </b-button>
                  <b-button
                    v-ripple.400="'rgba(186, 191, 199, 0.15)'"
                    variant="outline-secondary"
                    type="button"
                    class="mt-2"
                    @click="Regresar"
                  >
                    Cancelar
                  </b-button>
                </b-col>
              </b-row>
            </b-form>
        </b-card-body>

      </b-card>
    </b-col>

    <b-col cols="12" v-if="page == 3">
      <b-card style="text-align: center;">
        <b-card-header >
          <b-card-title class="text-center">
            USDT
          </b-card-title>
          <feather-icon
            icon="ArrowLeftIcon"
            size="18"
            class="cursor-pointer"
            @click="Regresar()"
          />
        </b-card-header>
       
        <b-card-body>
          <template>
          <div class="text-center">
            <qrcode-vue :value="codigoQR" :size="300" level="H"></qrcode-vue>
          </div>
        </template>
        </b-card-body>
      </b-card>
    </b-col>

  </b-row>
  

</template>

<script>
import { BCard, BCardTitle, BCardHeader, BCardBody, BCardText, BTable, BAvatar, BBadge, BRow, BCol, BFormGroup, BFormSelect, BPagination, BInputGroup,
  BForm, BFormInput, BInputGroupAppend, BButton, BDropdown, BDropdownItem } from 'bootstrap-vue'

import BCardCode from '@core/components/b-card-code'

import Services from '@/services/admin/Monederos'
import Ripple from 'vue-ripple-directive'

import QrcodeVue from 'qrcode.vue';


import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'

export default {
  components: {
    BCard,
    BCardTitle,
    BCardHeader,
    BCardBody,
    BCardText,
    BTable,
    BAvatar,
    BBadge,
    BRow,
    BCol,
    BFormGroup,
    BFormSelect,
    BPagination,
    BInputGroup,
    BFormInput,
    BInputGroupAppend,
    BButton,
    BDropdown,
    BDropdownItem,
    BForm,
    BCardCode,
    QrcodeVue
  },
  directives: {
    Ripple,
  },
  data() {
    return {
      codigoQR: String,
      modalShow: false,
      perPage: 5,
      pageOptions: [3, 5, 10],
      totalRows: 1,
      currentPage: 1,
      sortBy: '',
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
      filterOn: [],
      infoModal: {
        id: 'info-modal',
        title: '',
        content: '',
      },
      fields: [
        {
          key: 'id', label: 'Id', sortable: true
        },
        { key: 'nombre', label: 'Nombre', sortable: true },
        {
          key: 'hash', label: 'hash',
        },
        'red',
        
        { key: 'status', label: 'Status', sortable: true },
        { key: 'actions' }
      ],
      items: [/*
        {
          id: 1,
          // eslint-disable-next-line global-require
          usuario: "jorgeavargasm",
          nombre: "BITCOIN",
          
          hash: 'hhhhhhhhhhhhh9999999999',
          
          
          red: 'TRC',
          
          documento: '20523813',
          status: 2,
        },
        {
          id: 2,
          // eslint-disable-next-line global-require
          usuario: "jorgeavargasm2",
          nombre: 'USDT',
          
          hash: 'hhhhhhhhhhhhh66666666666',
          
          
          red: 'TRC',
          
          documento: '20523813',
          status: 2,
        },
        {
          id: 3,
          // eslint-disable-next-line global-require
          usuario: "jorgeavargasm3",
          nombre: 'BNB',
          
          hash: 'hhhhhhhhhhh255555555',
          
          
          red: 'etherium',
          
          documento: '20523813',
          status: 3,
        }
        */
      ],
      status: [{
        0: 'Inactivo', 1: 'Activo',
      },
      {
        2: 'light-primary', 1: 'light-success', 0: 'light-danger', 4: 'light-warning', 5: 'light-info',
      }],
      page: 0,
      New: {
        nombre: '',
        hash: '',
        red: '',
      },
      ValNew: {
        nombre: '',
        hash: '',
        red: '',
      },
      Edit:{
        id: 0,
        nombre: '',
        hash: '',
        red: '',
      },
      ValEdit: {
        nombre: '',
        hash: '',
        red: '',
      },
    }
  },
  computed: {
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => ({ text: f.label, value: f.key }))
    },
  },
  mounted() {
    // Set the initial number of items
    this.totalRows = this.items.length;

    this.Listar();
  },
  methods: {
    info(item, index, button) {
      this.infoModal.title = `Row index: ${index}`
      this.infoModal.content = JSON.stringify(item, null, 2)
      this.$root.$emit('bv::show::modal', this.infoModal.id, button)
    },
    resetInfoModal() {
      this.infoModal.title = ''
      this.infoModal.content = ''
    },
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    Listar(){

      const self = this;

      Services.ListarMonederos().then( function (response) {
        self.items = response.data;
        self.totalRows = self.items.length;
      }).catch(error => {
        console.log("error ",error);
      });

    },
    Nuevo(){
      this.page = 1;
      this.New.nombre = '';
      this.New.hash = '';
      this.New.red = '';
    },
    NewM(){
      const nombre = this.New.nombre;
      const hash = this.New.hash;
      const red = this.New.red;

      var envio = true;

      if(nombre == ""){
        
        this.ValNew.nombre = "Ingresar nombre";

        setTimeout(() => {
          this.ValNew.nombre = "";
        }, 3000);

        envio = false;
      }
      if(hash == ""){

        this.ValNew.hash = "Ingresar hash";

        setTimeout(() => {
          this.ValNew.hash = "";
        }, 3000);

        envio = false;
      }
      if(red == ""){

        this.ValNew.red = "Ingresar red";

        setTimeout(() => {
          this.ValNew.red = "";
        }, 3000);

        envio = false;
      }

      if(envio){

        this.$swal({
        title: '¿Estas seguro?',
        text: "Deseas guardar la información",
        icon: 'warning',
        confirmButtonText: 'Si',
        showCancelButton: true,
        cancelButtonText: 'No',
        customClass: {
          confirmButton: 'btn btn-primary',
          cancelButton: 'btn btn-outline-danger ml-1',
        },
        buttonsStyling: false,
        }).then(result => {

          if (result.value) {
            // console.log('this.EnviarNewM()')
            this.EnviarNewP();
          }
        })
        
      }

    },
    EnviarNewP(){

      const form = new FormData();
      form.append('txtnombre', this.New.nombre);
      form.append('txthash', this.New.hash);
      form.append('txtred', this.New.red);

      const self = this;

      Services.Nuevo(form).then( function (response) {

        if(response.data.result){

          self.Listar();
          self.Regresar();

          self.$toast({
            component: ToastificationContent,
            props: {
              title: 'Realizado',
              icon: 'CheckIcon',
              text: response.data.msg,
              variant: 'success',
            },
          });

        }else{

          self.$toast({
            component: ToastificationContent,
            props: {
              title: 'No realizado',
              icon: 'BellIcon',
              text: response.data.msg,
              variant: 'danger',
            },
          });

        }
      }).catch(error => {
        console.log("error ",error);
      });

    },
    Editar(id){

      for (let i = 0; i < this.items.length; i++) {
        
        if(id == this.items[i].id){
          this.Edit.id = this.items[i].id
          this.Edit.nombre = this.items[i].nombre
          this.Edit.hash = this.items[i].hash
          this.Edit.red = this.items[i].red
        }
      }
      this.page = 2;
    },
    EditM(){
      const nombre = this.Edit.nombre;
      const hash = this.Edit.hash;
      const red = this.Edit.red;

      var envio = true;

      if(nombre == ""){
        
        this.ValEdit.nombre = "Ingresar nombre";

        setTimeout(() => {
          this.ValEdit.nombre = "";
        }, 3000);

        envio = false;
      }
      if(hash == ""){

        this.ValEdit.hash = "Ingresar hash";

        setTimeout(() => {
          this.ValEdit.hash = "";
        }, 3000);

        envio = false;
      }
      if(red == ""){

        this.ValEdit.red = "Ingresar red";

        setTimeout(() => {
          this.ValEdit.red = "";
        }, 3000);

        envio = false;
      }

      if(envio){

        this.$swal({
        title: '¿Estas seguro?',
        text: "Deseas editar la información",
        icon: 'warning',
        confirmButtonText: 'Si',
        showCancelButton: true,
        cancelButtonText: 'No',
        customClass: {
          confirmButton: 'btn btn-primary',
          cancelButton: 'btn btn-outline-danger ml-1',
        },
        buttonsStyling: false,
        }).then(result => {

          if (result.value) {
            // console.log('this.EnviarEditM()')
            this.EnviarEditM();
          }
        })
        
      }
    },
    EnviarEditM(){

      const form = new FormData();
      form.append('txtid', this.Edit.id);
      form.append('txtnombre', this.Edit.nombre);
      form.append('txthash', this.Edit.hash);
      form.append('txtred', this.Edit.red);

      const self = this;

      Services.Editar(form).then( function (response) {

        if(response.data.result){

          self.Listar();
          self.Regresar();

          self.$toast({
            component: ToastificationContent,
            props: {
              title: 'Realizado',
              icon: 'CheckIcon',
              text: response.data.msg,
              variant: 'success',
            },
          });

        }else{

          self.$toast({
            component: ToastificationContent,
            props: {
              title: 'No realizado',
              icon: 'BellIcon',
              text: response.data.msg,
              variant: 'danger',
            },
          });

        }
      }).catch(error => {
        console.log("error ",error);
      });

    },
    Regresar(){
      this.page = 0;

      this.New.nombre = '';
      this.New.hash = '';
      this.New.red = '';

      this.Edit.id = 0;
      this.Edit.nombre = '';
      this.Edit.hash = '';
      this.Edit.red = '';
    },
    Eliminar(id){

      this.$swal({
        title: '¿Estas seguro?',
        text: "Deseas eliminar la información",
        icon: 'warning',
        confirmButtonText: 'Si',
        showCancelButton: true,
        cancelButtonText: 'No',
        customClass: {
          confirmButton: 'btn btn-primary',
          cancelButton: 'btn btn-outline-danger ml-1',
        },
        buttonsStyling: false,
        }).then(result => {

          if (result.value) {
            // console.log('this.EnviarEditM()')
            this.EnviarEliminarM(id);
          }
        })
    },
    EnviarEliminarM(id){

      const form = new FormData();
      form.append('txtid', id);

      const self = this;


      Services.Eliminar(form).then( function (response) {

        if(response.data.result){

          self.Listar();

          self.$toast({
            component: ToastificationContent,
            props: {
              title: 'Realizado',
              icon: 'CheckIcon',
              text: response.data.msg,
              variant: 'success',
            },
          });

        }else{

          self.$toast({
            component: ToastificationContent,
            props: {
              title: 'No realizado',
              icon: 'BellIcon',
              text: response.data.msg,
              variant: 'danger',
            },
          });

        }
      }).catch(error => {
        console.log("error ",error);
      });

    },
    mostrarQR(hash){
      this.codigoQR = hash
      this.page = 3
    }
  },
}
</script>

<style>

</style>
