<template>
  <!-- <b-card title="Create Awesome 🙌">
    <b-card-text>This is your Roles page.</b-card-text>
    <b-card-text>Chocolate sesame snaps pie carrot cake pastry pie lollipop muffin. Carrot cake dragée chupa chups jujubes. Macaroon liquorice cookie wafer tart marzipan bonbon. Gingerbread jelly-o dragée chocolate.</b-card-text>
  </b-card> -->


  <b-row>

    <b-col cols="12" v-if="page == 0">
      <b-row>
    
        <b-col
          md="2"
          sm="4"
          class="my-1"
        >
          <b-form-group
            class="mb-0"
          >
            <label class="d-inline-block text-sm-left mr-50">Per page</label>
            <b-form-select
              id="perPageSelect"
              v-model="perPage"
              size="sm"
              :options="pageOptions"
              class="w-50"
            />
          </b-form-group>
        </b-col>

        <b-col
          md="3"
          sm="8"
          class="my-1"
        >
          <b-form-group
            label="Sort"
            label-cols-sm="3"
            label-align-sm="right"
            label-size="sm"
            label-for="sortBySelect"
            class="mb-0"
          >
            <b-input-group size="sm">
              <b-form-select
                id="sortBySelect"
                v-model="sortBy"
                :options="sortOptions"
                class="w-75"
              >
                <template v-slot:first>
                  <option value="">
                    -- none --
                  </option>
                </template>
              </b-form-select>
              <b-form-select
                v-model="sortDesc"
                size="sm"
                :disabled="!sortBy"
                class="w-25"
              >
                <option :value="false">
                  Asc
                </option>
                <option :value="true">
                  Desc
                </option>
              </b-form-select>
            </b-input-group>
          </b-form-group>
        </b-col>

        <b-col
          md="5"
          class="my-1"
        >
          <b-form-group
            label="Filtrar"
            label-cols-sm="3"
            label-align-sm="right"
            label-size="sm"
            label-for="filterInput"
            class="mb-0"
          >
            <b-input-group size="sm">
              <b-form-input
                id="filterInput"
                v-model="filter"
                type="search"
                placeholder="Buscar"
              />
              <b-input-group-append>
                <b-button
                  :disabled="!filter"
                  @click="filter = ''"
                >
                  Cancelar
                </b-button>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>

        <b-col
          md="2"
          sm="4"
          class="my-1"
        >

          <b-button
            v-ripple.400="'rgba(255, 255, 255, 0.15)'"
            variant="success"
            size="sm"
            class="float-right"
            @click="Nuevo"
          >
            Añadir
          </b-button>
          
        </b-col>

        <b-col cols="12">
          <b-table
            striped
            hover
            responsive
            :per-page="perPage"
            :current-page="currentPage"
            :items="items"
            :fields="fields"
            :sort-by.sync="sortBy"
            :sort-desc.sync="sortDesc"
            :sort-direction="sortDirection"
            :filter="filter"
            :filter-included-fields="filterOn"
            @filtered="onFiltered"
          >
            <template #cell(avatar)="data">
              <b-avatar :src="data.value" />
            </template>

            <template #cell(status)="data">
              <b-badge :variant="status[1][data.value]">
                {{ status[0][data.value] }}
              </b-badge>
            </template>

            <template #cell(actions)="data">
              
              <b-dropdown
                variant="link"
                no-caret
              >

                <template #button-content>
                  <feather-icon
                    icon="MoreVerticalIcon"
                    size="16"
                    class="align-middle text-body"
                  />
                </template>
                <!-- <b-dropdown-item :to="{ name: 'apps-users-view', params: { id: data.item.id } }">
                  <feather-icon icon="FileTextIcon" />
                  <span class="align-middle ml-50">Details </span>
                </b-dropdown-item> -->

                <b-dropdown-item 
                  @click="Editar(data.item.id)"
                >
                  <feather-icon icon="EditIcon" />
                  <span class="align-middle ml-50">Editar</span>
                </b-dropdown-item>

                <b-dropdown-item
                  @click="Eliminar(data.item.id)"
                >
                  <feather-icon icon="TrashIcon" />
                  <span class="align-middle ml-50">Eliminar</span>
                </b-dropdown-item>
              </b-dropdown>

            </template>

          </b-table>
        </b-col>

        <b-col
          cols="12"
        >
          <b-pagination
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            align="center"
            size="sm"
            class="my-0"
          />
        </b-col>

      </b-row>

    </b-col>

    <b-col cols="12" v-if="page == 1">
      <b-card no-body class="card-employee-task">
        
        <b-card-header>
          <b-card-title>
            
            <feather-icon
              icon="PlusCircleIcon"
              size="20"
              class="position-relative"
              style="top: -3px;"
            />
            Nuevo rol
          </b-card-title>
          <feather-icon
            icon="ArrowLeftIcon"
            size="18"
            class="cursor-pointer"
            @click="Regresar()"
          />
        </b-card-header>

        <b-card-body>
            <b-form
              @submit.prevent="NewR"
            >
              <b-row class="mx-0">

                <b-col sm="4">
                  <b-form-group
                    label="Descripción"
                    label-for="new-descripcion"
                  >
                    <b-form-input
                      id="new-descripcion"
                      v-model="New.descripcion"
                      name="descripcion"
                      placeholder="Descripcion"
                    />
                    <small class="text-danger">{{ ValNew.descripcion }}</small>
                  </b-form-group>
                </b-col>

                <b-col sm="8">
                  <b-form-checkbox-group
                    v-model="New.selected"
                    :options="options"
                    value-field="item"
                    text-field="name"
                    disabled-field="notEnabled"
                    class="demo-inline-spacing"
                  />
                  <small class="text-danger">{{ ValNew.selected }}</small>
                </b-col>

                <b-col cols="12">
                  <b-button
                    v-ripple.400="'rgba(255, 255, 255, 0.15)'"
                    variant="primary"
                    class="mt-2 mr-1"
                    type="submit"
                  >
                    Guardar
                  </b-button>
                  <b-button
                    v-ripple.400="'rgba(186, 191, 199, 0.15)'"
                    variant="outline-secondary"
                    type="button"
                    class="mt-2"
                    @click="Regresar"
                  >
                    Cancelar
                  </b-button>
                </b-col>
              </b-row>
            </b-form>
        </b-card-body>
      </b-card>
    </b-col>

    <b-col cols="12" v-if="page == 2">
      <b-card no-body class="card-employee-task">
        
        <b-card-header>
          <b-card-title>
            
            <feather-icon
              icon="SettingsIcon"
              size="20"
              class="position-relative"
              style="top: -3px;"
            />
            Editar rol
          </b-card-title>
          <feather-icon
            icon="ArrowLeftIcon"
            size="18"
            class="cursor-pointer"
            @click="Regresar()"
          />
        </b-card-header>

        <b-card-body>
            <b-form
              @submit.prevent="EditR"
            >
              <b-row class="mx-0">

                <b-col sm="4">
                  <b-form-group
                    label="Descripción"
                    label-for="descripcion"
                  >
                    <b-form-input
                      v-model="Edit.descripcion"
                      name="descripcion"
                      placeholder="Descripción"
                    />
                    <small class="text-danger">{{ ValEdit.descripcion }}</small>
                  </b-form-group>
                </b-col>

                <b-col sm="8">
                  <b-form-checkbox-group
                    v-model="Edit.selected"
                    :options="options"
                    value-field="item"
                    text-field="name"
                    disabled-field="notEnabled"
                    class="demo-inline-spacing"
                  />
                  <small class="text-danger">{{ ValEdit.selected }}</small>
                </b-col>

                <b-col cols="12">
                  <b-button
                    v-ripple.400="'rgba(255, 255, 255, 0.15)'"
                    variant="primary"
                    class="mt-2 mr-1"
                    type="submit"
                  >
                    Guardar
                  </b-button>
                  <b-button
                    v-ripple.400="'rgba(186, 191, 199, 0.15)'"
                    variant="outline-secondary"
                    type="button"
                    class="mt-2"
                    @click="Regresar"
                  >
                    Cancelar
                  </b-button>
                </b-col>
              </b-row>
            </b-form>
        </b-card-body>
      </b-card>
    </b-col>

  </b-row>

</template>

<script>
import { BCard, BCardTitle, BCardHeader, BCardBody, BCardText, BTable, BAvatar, BBadge, BRow, BCol, BFormGroup, BFormSelect, BPagination, BInputGroup,
  BForm, BFormInput, BInputGroupAppend, BButton, BDropdown, BDropdownItem } from 'bootstrap-vue'

import Services from '@/services/admin/Roles.js'

import BCardCode from '@core/components/b-card-code'
import Ripple from 'vue-ripple-directive'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'

import { BFormCheckboxGroup } from 'bootstrap-vue'

export default {
  components: {
    BCard,
    BCardTitle,
    BCardHeader,
    BCardBody,
    BCardText,
    BTable,
    BAvatar,
    BBadge,
    BRow,
    BCol,
    BFormGroup,
    BFormSelect,
    BPagination,
    BInputGroup,
    BFormInput,
    BInputGroupAppend,
    BButton,
    BDropdown,
    BDropdownItem,
    BForm,
    BCardCode,
    BFormCheckboxGroup,
  },
  directives: {
    Ripple,
  },
  data() {
    return {
      perPage: 3,
      pageOptions: [3, 5, 10],
      totalRows: 1,
      currentPage: 2,
      sortBy: '',
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
      filterOn: [],
      infoModal: {
        id: 'info-modal',
        title: '',
        content: '',
      },
      fields: [
        {
          key: 'id', label: 'Id', sortable: true
        },
        { key: 'descripcion', label: 'Descripcion', sortable: true },
        
        { key: 'status', label: 'Status', sortable: true },
        { key: 'actions' }
      ],
      items: [

        /*
        
        {
          id: 1,
          // eslint-disable-next-line global-require
          usuario: "jorgeavargasm",
          descripcion: "Básico",
          
          hash: 'hhhhhhhhhhhhh9999999999',
          
          
          red: 'TRC',
          
          documento: '20523813',
          status: 2,
        },
        {
          id: 2,
          // eslint-disable-next-line global-require
          usuario: "jorgeavargasm2",
          descripcion: 'Avanzado',
          
          hash: 'hhhhhhhhhhhhh66666666666',
          
          
          red: 'TRC',
          
          documento: '20523813',
          status: 2,
        }

        */
      ],
      status: [{
        0: 'Inactivo', 1: 'Activo',
      },
      {
        2: 'light-primary', 1: 'light-success', 0: 'light-danger', 4: 'light-warning', 5: 'light-info',
      }],
      page: 0,
      New: {
        descripcion: '',
        selected: [],
      },
      ValNew: {
        descripcion: '',
        selected: '',
      },
      Edit:{
        id: 0,
        descripcion: '',
        selected: [],
      },
      ValEdit: {
        descripcion: '',
        selected: '',
      },
      options: [
        { item: 'A', name: 'Option A' },
        { item: 'B', name: 'Option B' },
        { item: 'D', name: 'Option C', notEnabled: true },
        { item: { d: 1 }, name: 'Option D' },
      ],
    }
  },
  computed: {
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => ({ text: f.label, value: f.key }))
    },
  },
  mounted() {
    // Set the initial number of items
    this.totalRows = this.items.length;

    this.Listar();
    this.ListarPermisologia();
  },
  methods: {
    info(item, index, button) {
      this.infoModal.title = `Row index: ${index}`
      this.infoModal.content = JSON.stringify(item, null, 2)
      this.$root.$emit('bv::show::modal', this.infoModal.id, button)
    },
    resetInfoModal() {
      this.infoModal.title = ''
      this.infoModal.content = ''
    },
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    Listar(){

      const self = this;

      Services.ListarRoles().then( function (response) {
        self.items = response.data;
        self.totalRows = self.items.length;
      }).catch(error => {
        console.log("error ",error);
      });

    },
    ListarPermisologia(){

      const self = this;

      Services.ListarPermisologia().then( function (response) {

        console.log(response.data.length);

        var arr_permisologia = []

        for (let i = 0; i < response.data.length; i++) {
          var permisologia = {
            item: response.data[i].id,
            name: response.data[i].descripcion
          }

          arr_permisologia.push(permisologia);
        }

        self.options = arr_permisologia;

      }).catch(error => {
        console.log("error ",error);
      });

    },
    Nuevo(){
      this.page = 1;
      this.New.descripcion = '';
    },
    Editar(id){

      for (let i = 0; i < this.items.length; i++) {
        
        if(id == this.items[i].id){
          console.log(this.items[i]);
          this.Edit.id = this.items[i].id;
          this.Edit.descripcion = this.items[i].descripcion;

          for (let a = 0; a < this.items[i].permisos.length; a++) {
            this.Edit.selected.push(this.items[i].permisos[a].id_permisologia)
          }
        }
      }
      this.page = 2;
    },
    Regresar(){
      this.page = 0;

      this.New.descripcion = '';

      this.Edit.id = 0;
      this.Edit.descripcion = '';
      this.Edit.selected = [];
    },
    NewR(){
      const descripcion = this.New.descripcion;
      const selected = this.New.selected;

      var envio = true;

      if(descripcion == ""){
        
        this.ValNew.descripcion = "Ingresar descripción";

        setTimeout(() => {
          this.ValNew.descripcion = "";
        }, 3000);

        envio = false;
      }

      if(selected.length == 0){
        
        this.ValNew.selected = "Debe seleccionar al menos un modulo";

        setTimeout(() => {
          this.ValNew.selected = "";
        }, 3000);

        envio = false;
      }

      if(envio){

        this.$swal({
        title: '¿Estas seguro?',
        text: "Deseas guardar la información",
        icon: 'warning',
        confirmButtonText: 'Si',
        showCancelButton: true,
        cancelButtonText: 'No',
        customClass: {
          confirmButton: 'btn btn-primary',
          cancelButton: 'btn btn-outline-danger ml-1',
        },
        buttonsStyling: false,
        }).then(result => {

          if (result.value) {
            // console.log('this.EnviarNewR()')
            this.EnviarNewR();
          }
        })
        
      }

    },
    EnviarNewR(){

      const form = new FormData();
      form.append('txtdescripcion', this.New.descripcion);
      form.append('check_per', JSON.stringify(this.New.selected));

      const self = this;

      Services.Nuevo(form).then( function (response) {

        if(response.data.result){

          self.Listar();
          self.Regresar();

          self.$toast({
            component: ToastificationContent,
            props: {
              title: 'Realizado',
              icon: 'CheckIcon',
              text: response.data.msg,
              variant: 'success',
            },
          });

        }else{

          self.$toast({
            component: ToastificationContent,
            props: {
              title: 'No realizado',
              icon: 'BellIcon',
              text: response.data.msg,
              variant: 'danger',
            },
          });

        }
      }).catch(error => {
        console.log("error ",error);
      });

    },
    EditR(){
      const descripcion = this.Edit.descripcion;
      const selected = this.Edit.selected;
      

      var envio = true;

      if(descripcion == ""){
        
        this.ValEdit.descripcion = "Ingresar descripción";

        setTimeout(() => {
          this.ValEdit.descripcion = "";
        }, 3000);

        envio = false;
      }

      if(selected.length == 0){
        
        this.ValEdit.selected = "Debe seleccionar al menos un modulo";

        setTimeout(() => {
          this.ValEdit.selected = "";
        }, 3000);

        envio = false;
      }

      if(envio){

        this.$swal({
        title: '¿Estas seguro?',
        text: "Deseas editar la información",
        icon: 'warning',
        confirmButtonText: 'Si',
        showCancelButton: true,
        cancelButtonText: 'No',
        customClass: {
          confirmButton: 'btn btn-primary',
          cancelButton: 'btn btn-outline-danger ml-1',
        },
        buttonsStyling: false,
        }).then(result => {

          if (result.value) {
            // console.log('this.EnviarEditR()')
            this.EnviarEditR();
          }
        })
        
      }
    },
    EnviarEditR(){

      const form = new FormData();
      form.append('txtid', this.Edit.id);
      form.append('txtdescripcion', this.Edit.descripcion);
      form.append('check_per', JSON.stringify(this.Edit.selected));

      const self = this;

      Services.Editar(form).then( function (response) {

        if(response.data.result){

          self.Listar();
          self.Regresar();

          self.$toast({
            component: ToastificationContent,
            props: {
              title: 'Realizado',
              icon: 'CheckIcon',
              text: response.data.msg,
              variant: 'success',
            },
          });

        }else{

          self.$toast({
            component: ToastificationContent,
            props: {
              title: 'No realizado',
              icon: 'BellIcon',
              text: response.data.msg,
              variant: 'danger',
            },
          });

        }
      }).catch(error => {
        console.log("error ",error);
      });

    },
    Eliminar(id){

      this.$swal({
        title: '¿Estas seguro?',
        text: "Deseas eliminar la información",
        icon: 'warning',
        confirmButtonText: 'Si',
        showCancelButton: true,
        cancelButtonText: 'No',
        customClass: {
          confirmButton: 'btn btn-primary',
          cancelButton: 'btn btn-outline-danger ml-1',
        },
        buttonsStyling: false,
      }).then(result => {

        if (result.value) {
          // console.log('this.EnviarEditM()')
          this.EnviarEliminarM(id);
        }
      })
    },
    EnviarEliminarM(id){

      const form = new FormData();
      form.append('txtid', id);

      const self = this;

      Services.Eliminar(form).then( function (response) {

        if(response.data.result){

          self.Listar();

          self.$toast({
            component: ToastificationContent,
            props: {
              title: 'Realizado',
              icon: 'CheckIcon',
              text: response.data.msg,
              variant: 'success',
            },
          });

        }else{

          self.$toast({
            component: ToastificationContent,
            props: {
              title: 'No realizado',
              icon: 'BellIcon',
              text: response.data.msg,
              variant: 'danger',
            },
          });

        }
      }).catch(error => {
        console.log("error ",error);
      });

    },
  },
}
</script>

<style>

</style>
