<template>
  <!-- <b-card title="Create Awesome 🙌">
    <b-card-text>This is your DirectAfiliate page.</b-card-text>
    <b-card-text>Chocolate sesame snaps pie carrot cake pastry pie lollipop muffin. Carrot cake dragée chupa chups jujubes. Macaroon liquorice cookie wafer tart marzipan bonbon. Gingerbread jelly-o dragée chocolate.</b-card-text>
  </b-card> -->


  <b-row v-if="page == 0">
  <b-col
    md="2"
    sm="4"
    class="my-1"
  >
    <b-form-group
      class="mb-0"
    >
      <label class="d-inline-block text-sm-left mr-50">Per page</label>
      <b-form-select
        id="perPageSelect"
        v-model="perPage"
        size="sm"
        :options="pageOptions"
        class="w-50"
      />
    </b-form-group>
  </b-col>
  <b-col
    md="4"
    sm="8"
    class="my-1"
  >
    <b-form-group
      label="Sort"
      label-cols-sm="3"
      label-align-sm="right"
      label-size="sm"
      label-for="sortBySelect"
      class="mb-0"
    >
      <b-input-group size="sm">
        <b-form-select
          id="sortBySelect"
          v-model="sortBy"
          :options="sortOptions"
          class="w-75"
        >
          <template v-slot:first>
            <option value="">
              -- none --
            </option>
          </template>
        </b-form-select>
        <b-form-select
          v-model="sortDesc"
          size="sm"
          :disabled="!sortBy"
          class="w-25"
        >
          <option :value="false">
            Asc
          </option>
          <option :value="true">
            Desc
          </option>
        </b-form-select>
      </b-input-group>
    </b-form-group>
  </b-col>
  <b-col
    md="4"
    class="my-1"
  >
    <b-form-group
      label="Filtrar"
      label-cols-sm="3"
      label-align-sm="right"
      label-size="sm"
      label-for="filterInput"
      class="mb-0"
    >
      <b-input-group size="sm">
        <b-form-input
          id="filterInput"
          v-model="filter"
          type="search"
          placeholder="Buscar"
        />
        <b-input-group-append>
          <b-button
            :disabled="!filter"
            @click="filter = ''"
          >
            Cancelar
          </b-button>
        </b-input-group-append>
      </b-input-group>
      
    </b-form-group>
  </b-col>
  <b-col
  md="2"
  class="my-1"
  sm="12"
  >
      <b-button @click="addUser()"
              variant="success"
              size="sm"
              class="float-right"
            >
            <feather-icon icon="plus" />
            Añadir</b-button>
    </b-col>

  <b-col cols="12">
    <b-table
      striped
      hover
      responsive
      :per-page="perPage"
      :current-page="currentPage"
      :items="items"
      :fields="fields"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :sort-direction="sortDirection"
      :filter="filter"
      :filter-included-fields="filterOn"
      @filtered="onFiltered"
    >
      <template #cell(avatar)="data">
        <b-avatar :src="data.value" />
      </template>

      <template #cell(status)="data">
        <b-badge :variant="status[1][data.value]">
          {{ status[0][data.value] }}
        </b-badge>
      </template>

      <template #cell(actions)="data">
        
        <b-dropdown
          variant="link"
          no-caret
        >

          <template #button-content>
            <feather-icon
              icon="MoreVerticalIcon"
              size="16"
              class="align-middle text-body"
            />
          </template>
          <b-dropdown-item @click="Detalles(data.item.id_usuario)" >
            <feather-icon icon="FileTextIcon"  />
            <span  class="align-middle ml-50">Detalles </span>
          </b-dropdown-item>

          <b-dropdown-item @click="Editar(data.item.id_usuario)" >
            <feather-icon icon="EditIcon" />
            <span class="align-middle ml-50">Editar</span>
          </b-dropdown-item>

          <b-dropdown-item v-on:click="Eliminar(data.item.id_usuario)">
            <feather-icon icon="TrashIcon" />
            <span class="align-middle ml-50">Eliminar</span>
          </b-dropdown-item>
        </b-dropdown>

      </template>

    </b-table>
  </b-col>

  <b-col
    cols="12"
  >
    <b-pagination
      v-model="currentPage"
      :total-rows="totalRows"
      :per-page="perPage"
      align="center"
      size="sm"
      class="my-0"
    />
  </b-col>
</b-row>

<b-row v-else-if="page == 1">
    <b-col md="12">
      <b-card no-body class="card-employee-task">
          <b-card-header>
            <b-card-title>
              <feather-icon
              icon="UsersIcon"
              size="20"
              class="position-relative"
              style="top: -3px;"
            /> Editar usuario
            </b-card-title>
            <feather-icon
            icon="ArrowLeftIcon"
            size="18"
            class="cursor-pointer"
            @click="Regresar()"
          />
          </b-card-header>
          <b-card-body>
            <b-row class="mx-0">
            <b-col md="12">
              <b-form
                class="mt-2"
                @submit.prevent="ValidationEditForm"
              >
                <b-row>

                  <b-col sm="4">
                    <b-form-group
                    label="Nombre de usuario"
                    label-for="username"
                    >
                    <b-form-input
                    v-model="usuario.user"
                    name="username"
                    placeholder="Nombre de usuario"
                    ></b-form-input>
                    
                    <small class="text-danger">{{ validar.user }}</small>
                    </b-form-group>
                  </b-col>

                  <b-col sm="4">
                    <b-form-group
                      label="Contraseña"
                      label-for="contrasena"
                    >
                      <b-form-input
                        v-model="usuario.clave"
                        name="contrasena"
                        placeholder="contrasena"
                        type="password"
                      />
                      <small class="text-danger">{{ validar.clave }}</small>
                    </b-form-group>
                  </b-col>

                  <b-col sm="4">
                    <b-form-group
                    label="Rol"
                    label-for="rol"
                    >
                    <b-form-select
                    id="rol"
                    name="rol"
                    v-model="usuario.rol"
                    :options="roles"
                    >
                  </b-form-select>
                  <small class="text-danger">{{ validar.rol }} </small> 
                </b-form-group>
                  </b-col>

                  <b-col sm="4">
                    <b-form-group
                      label="Nombre"
                      label-for="account-nombre"
                    >
                      <b-form-input
                        v-model="usuario.nombre"
                        name="nombre"
                        placeholder="Nombre"
                      />
                      <small class="text-danger">{{ validar.nombre }}</small>
                    </b-form-group>
                  </b-col>

                  <b-col sm="4">
                    <b-form-group
                      label="Apellido"
                      label-for="apellido"
                    >
                      <b-form-input
                        v-model="usuario.apellido"
                        placeholder="Apellido"
                        name="apellido"
                      />
                      <small class="text-danger">{{ validar.apellido }}</small>
                    </b-form-group>
                  </b-col>

                  <b-col sm="4">
                    <b-form-group
                      label="DNI"
                      label-for="dni"
                    >
                      <b-form-input
                        v-model="usuario.dni"
                        placeholder="DNI"
                        name="dni"
                      />
                      <small class="text-danger">{{ validar.dni }}</small>
                    </b-form-group>
                  </b-col>
                  
                  <b-col sm="4">
                    <b-form-group
                      label="E-mail"
                      label-for="e-mail"
                    >
                      <b-form-input
                        v-model="usuario.email"
                        name="email"
                        placeholder="Email"
                      />
                      <small class="text-danger">{{ validar.email }}</small>
                    </b-form-group>
                  </b-col>
                  <b-col sm="4">
                    <b-form-group
                      label="Teléfono"
                      label-for="telefono"
                    >
                      <b-form-input
                        v-model="usuario.telefono"
                        name="telefono"
                        placeholder="Teléfono"
                      />
                      <small class="text-danger">{{ validar.telefono }}</small>
                    </b-form-group>
                  </b-col>

                  <b-col sm="4">
                    <b-form-group
                      label="Nacionalidad"
                      label-for="nacionalidad"
                    >
                      <b-form-input
                        v-model="usuario.nacionalidad"
                        name="nacionalidad"
                        placeholder="Ejemplo: PE, CL, VE..."
                        max=2
                      />
                      <small class="text-danger">{{ validar.nacionalidad }}</small>
                    </b-form-group>
                  </b-col>


                  <b-col sm="12"  md="6">
                      <!-- Fecha Nacimiento -->
                    <b-form-group class="mb-0" 
                      label="Fecha de nacimiento"
                      label-for="fecha">
                      <b-form-datepicker
                        v-model="usuario.fecha"
                        name="fecha"
                        placeholder="Fecha de nacimiento"
                        :date-disabled-fn="dateDisabled"
                        type="date"
                        locale="es"
                      />
                      <small class="text-danger">{{ validar.fecha }}</small>
                    </b-form-group>
                  </b-col>
                  <b-col sm="12"  md="6">
                      <!-- Fecha Nacimiento -->
                    <b-form-group class="mb-0" 
                      label="Dirección"
                      label-for="direccion">
                      <b-form-input
                        v-model="usuario.direccion"
                        name="direccion"
                        placeholder="Dirección"
                      />
                      <small class="text-danger">{{ validar.direccion }}</small>
                    </b-form-group>
                  </b-col>

                  <b-col cols="12">
                  <b-button
                    v-ripple.400="'rgba(255, 255, 255, 0.15)'"
                    variant="primary"
                    class="mt-2 mr-1"
                    type="submit"
                  >
                    Editar usuario
                  </b-button>
                  
                 </b-col>
                </b-row>
                
              </b-form>
              
            </b-col>
          </b-row>
          </b-card-body>
      </b-card>
    </b-col>
  </b-row>

<b-row v-else-if="page == 2">
    <b-col md="12">
      <b-card no-body class="card-employee-task">
          <b-card-header>
            <b-card-title>
              <feather-icon
              icon="UsersIcon"
              size="20"
              class="position-relative"
              style="top: -3px;"
            /> Detalles del usuario
            </b-card-title>
            <feather-icon
            icon="ArrowLeftIcon"
            size="18"
            class="cursor-pointer"
            @click="Regresar()"
          />
          </b-card-header>
          <b-card-body>
            <b-row class="mx-0">
            <b-col md="12">
              <b-form
                class="mt-2"
                @submit.prevent="ValidationRegisterForm"
              >
                <b-row>

                  <b-col sm="4">
                    <b-form-group
                    label="Nombre de usuario"
                    label-for="username"
                    >
                    <b-form-input
                    v-model="usuario.user"
                    name="username"
                    placeholder="Nombre de usuario"
                      disabled
                      class="cursor-not"
                    ></b-form-input>
                    
                    </b-form-group>
                  </b-col>

                  <b-col sm="4">
                    <b-form-group
                      label="Contraseña"
                      label-for="contrasena"
                    >
                      <b-form-input
                        v-model="usuario.clave"
                        name="contrasena"
                        placeholder="contrasena"
                        type="password"
                      disabled
                      class="cursor-not"
                      />
                    </b-form-group>
                  </b-col>

                  <b-col sm="4">
                    <b-form-group
                    label="Rol"
                    label-for="rol"
                    >
                    <b-form-select
                    id="rol"
                    name="rol"
                    v-model="usuario.rol"
                    :options="roles"
                    disabled
                      class="cursor-not"
                    >
                  </b-form-select>
                </b-form-group>
                  </b-col>

                  <b-col sm="4">
                    <b-form-group
                      label="Nombre"
                      label-for="account-nombre"
                    >
                      <b-form-input
                        v-model="usuario.nombre"
                        name="nombre"
                        placeholder="Nombre"
                      disabled
                      class="cursor-not"
                      />
                    </b-form-group>
                  </b-col>

                  <b-col sm="4">
                    <b-form-group
                      label="Apellido"
                      label-for="apellido"
                    >
                      <b-form-input
                        v-model="usuario.apellido"
                        placeholder="Apellido"
                        name="apellido"
                      disabled
                      class="cursor-not"
                      />
                    </b-form-group>
                  </b-col>

                  <b-col sm="4">
                    <b-form-group
                      label="DNI"
                      label-for="dni"
                    >
                      <b-form-input
                        v-model="usuario.dni"
                        placeholder="DNI"
                        name="dni"
                      disabled
                      class="cursor-not"
                      />
                    </b-form-group>
                  </b-col>
                  
                  <b-col sm="4">
                    <b-form-group
                      label="E-mail"
                      label-for="e-mail"
                    >
                      <b-form-input
                        v-model="usuario.email"
                        name="email"
                        placeholder="Email"
                      disabled
                      class="cursor-not"
                      />
                    </b-form-group>
                  </b-col>
                  <b-col sm="4">
                    <b-form-group
                      label="Teléfono"
                      label-for="telefono"
                    >
                      <b-form-input
                        v-model="usuario.telefono"
                        name="telefono"
                        placeholder="Teléfono"
                      disabled
                      class="cursor-not"
                      />
                    </b-form-group>
                  </b-col>

                  <b-col sm="4">
                    <b-form-group
                      label="Nacionalidad"
                      label-for="nacionalidad"
                    >
                      <b-form-input
                        v-model="usuario.nacionalidad"
                        name="nacionalidad"
                        placeholder="Ejemplo: PE, CL, VE..."
                        max=2
                      disabled
                      class="cursor-not"
                      />
                    </b-form-group>
                  </b-col>


                  <b-col sm="12"  md="6">
                      <!-- Fecha Nacimiento -->
                    <b-form-group class="mb-0" 
                      label="Fecha de nacimiento"
                      label-for="fecha">
                      <b-form-datepicker
                        v-model="usuario.fecha"
                        name="fecha"
                        placeholder="Fecha de nacimiento"
                        :date-disabled-fn="dateDisabled"
                        type="date"
                        locale="es"
                      disabled
                      class="cursor-not"
                      />
                    </b-form-group>
                  </b-col>
                  <b-col sm="12"  md="6" class="cursor-not">
                      <!-- Fecha Nacimiento -->
                    <b-form-group class="mb-0 cursor-not" 
                      label="Dirección"
                      disabled
                      
                      label-for="direccion">
                      <b-form-input
                        v-model="usuario.direccion"
                        name="direccion"
                        class="cursor-not"
                        placeholder="Dirección"
                       disabled
                      />
                    </b-form-group>
                  </b-col>

                </b-row>
                
              </b-form>
              
            </b-col>
          </b-row>
          </b-card-body>
      </b-card>
    </b-col>
  </b-row>

<b-row v-else-if="page == 3">
    <b-col md="12">
      <b-card no-body class="card-employee-task">
          <b-card-header>
            <b-card-title>
              <feather-icon
              icon="UsersIcon"
              size="20"
              class="position-relative"
              style="top: -3px;"
            /> Nuevo Usuario
            </b-card-title>
            <feather-icon
            icon="ArrowLeftIcon"
            size="18"
            class="cursor-pointer"
            @click="Regresar()"
          />
          </b-card-header>
          <b-card-body>
            <b-row class="mx-0">
            <b-col md="12">
              <b-form
                class="mt-2"
                @submit.prevent="ValidationRegisterForm"
              >
                <b-row>

                  <b-col sm="4">
                    <b-form-group
                    label="Nombre de usuario"
                    label-for="username"
                    >
                    <b-form-input
                    v-model="usuario.user"
                    name="username"
                    placeholder="Nombre de usuario"
                    ></b-form-input>
                    
                    <small class="text-danger">{{ validar.user }}</small>
                    </b-form-group>
                  </b-col>

                  <b-col sm="4">
                    <b-form-group
                      label="Contraseña"
                      label-for="contrasena"
                    >
                      <b-form-input
                        v-model="usuario.clave"
                        name="contrasena"
                        placeholder="contrasena"
                        type="password"
                      />
                      <small class="text-danger">{{ validar.clave }}</small>
                    </b-form-group>
                  </b-col>

                  <b-col sm="4">
                    <b-form-group
                    label="Rol"
                    label-for="rol"
                    >
                    <b-form-select
                    id="rol"
                    name="rol"
                    v-model="usuario.rol"
                    :options="roles"
                    >
                  </b-form-select>
                  <small class="text-danger">{{ validar.rol }} </small> 
                </b-form-group>
                  </b-col>

                  <b-col sm="4">
                    <b-form-group
                      label="Nombre"
                      label-for="account-nombre"
                    >
                      <b-form-input
                        v-model="usuario.nombre"
                        name="nombre"
                        placeholder="Nombre"
                      />
                      <small class="text-danger">{{ validar.nombre }}</small>
                    </b-form-group>
                  </b-col>

                  <b-col sm="4">
                    <b-form-group
                      label="Apellido"
                      label-for="apellido"
                    >
                      <b-form-input
                        v-model="usuario.apellido"
                        placeholder="Apellido"
                        name="apellido"
                      />
                      <small class="text-danger">{{ validar.apellido }}</small>
                    </b-form-group>
                  </b-col>

                  <b-col sm="4">
                    <b-form-group
                      label="DNI"
                      label-for="dni"
                    >
                      <b-form-input
                        v-model="usuario.dni"
                        placeholder="DNI"
                        name="dni"
                      />
                      <small class="text-danger">{{ validar.dni }}</small>
                    </b-form-group>
                  </b-col>
                  
                  <b-col sm="4">
                    <b-form-group
                      label="E-mail"
                      label-for="e-mail"
                    >
                      <b-form-input
                        v-model="usuario.email"
                        name="email"
                        placeholder="Email"
                      />
                      <small class="text-danger">{{ validar.email }}</small>
                    </b-form-group>
                  </b-col>
                  <b-col sm="4">
                    <b-form-group
                      label="Teléfono"
                      label-for="telefono"
                    >
                      <b-form-input
                        v-model="usuario.telefono"
                        name="telefono"
                        placeholder="Teléfono"
                      />
                      <small class="text-danger">{{ validar.telefono }}</small>
                    </b-form-group>
                  </b-col>

                  <b-col sm="4">
                    <b-form-group
                      label="Nacionalidad"
                      label-for="nacionalidad"
                    >
                      <b-form-input
                        v-model="usuario.nacionalidad"
                        name="nacionalidad"
                        placeholder="Ejemplo: PE, CL, VE..."
                        max=2
                      />
                      <small class="text-danger">{{ validar.nacionalidad }}</small>
                    </b-form-group>
                  </b-col>


                  <b-col sm="12"  md="6">
                      <!-- Fecha Nacimiento -->
                    <b-form-group class="mb-0" 
                      label="Fecha de nacimiento"
                      label-for="fecha">
                      <b-form-datepicker
                        v-model="usuario.fecha"
                        name="fecha"
                        placeholder="Fecha de nacimiento"
                        :date-disabled-fn="dateDisabled"
                        type="date"
                        locale="es"
                      />
                      <small class="text-danger">{{ validar.fecha }}</small>
                    </b-form-group>
                  </b-col>
                  <b-col sm="12"  md="6">
                      <!-- Fecha Nacimiento -->
                    <b-form-group class="mb-0" 
                      label="Dirección"
                      label-for="direccion">
                      <b-form-input
                        v-model="usuario.direccion"
                        name="direccion"
                        placeholder="Dirección"
                      />
                      <small class="text-danger">{{ validar.direccion }}</small>
                    </b-form-group>
                  </b-col>

                  <b-col cols="12">
                  <b-button
                    v-ripple.400="'rgba(255, 255, 255, 0.15)'"
                    variant="primary"
                    class="mt-2 mr-1"
                    type="submit"
                  >
                    Guardar cambios
                  </b-button>
                  
                 </b-col>
                </b-row>
                
              </b-form>
              
            </b-col>
          </b-row>
          </b-card-body>
      </b-card>
    </b-col>
  </b-row>

</template>

<script>
import { BCard, BCardText, BTable, BAvatar, BBadge,BCardTitle, BCardBody, BCardHeader, BRow, BCol,BForm, BFormDatepicker,   BFormGroup, BFormSelect, BPagination, BInputGroup,
   BFormInput, BInputGroupAppend, BButton, BDropdown, BDropdownItem } from 'bootstrap-vue'

import Services from '@/services/admin/Consultas.js'

import UsuarioServices from '@/services/admin/Usuarios.js'

import Ripple from 'vue-ripple-directive'

import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'

export default {
  components: {
    BCard,
    BCardText,
    BCardTitle,
    BCardHeader,
    BCardBody,
    BTable,
    BAvatar,
    BBadge,
    BRow,
    BCol,
    BForm,
    BFormDatepicker,
    BFormGroup,
    BFormSelect,
    BPagination,
    BInputGroup,
    BFormInput,
    BInputGroupAppend,
    BButton,
    BDropdown,
    BDropdownItem,
    ToastificationContent
  },
  data() {
    return {
      perPage: 5,
      pageOptions: [3, 5, 10],
      totalRows: 1,
      currentPage: 1,
      sortBy: '',
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
      filterOn: [],
      page: 0,
      infoModal: {
        id: 'info-modal',
        title: '',
        content: '',
      },
      fields: [
        {
          key: 'id', label: 'Id',
        },
        {
          key: 'usuario', label: 'Usuario',
        },
        { key: 'full_name', label: 'Nombre', sortable: true },
        {
          key: 'documento', label: 'DNI',
        },
        'email',
        'telefono',
        
        { key: 'status', label: 'Status', sortable: true },
        { key: 'actions' }
      ],
      items: [
      ],
      status: [{
        1: 'Activo', 2: 'Inactivo', 0: 'Warn', 4: 'Resigned', 5: 'Applied',
      },
      {
        1: 'light-primary', 2: 'light-danger', 3: 'light-danger', 4: 'light-warning', 5: 'light-info',
      }],
      usuario:{
        id: 0,
        user: '',
        clave:'',
        rol: 0,
        nombre: '',
        apellido: '',
        email: '',
        telefono: '',
        dni: '',
        fecha: '',
        direccion: '',
        nacionalidad: ''
      },
      validar: {
        user: '',
        direccion: '',
        rol: '',
        nacionalidad: '',
        apellido: '',
        nombre: '',
        email: '',
        telefono: '',
        dni: '',
        clave: '',
        fecha: null
      },
      roles:[]
    }
  },
  directives:{
    Ripple
  },
  computed: {
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => ({ text: f.label, value: f.key }))
    },
  },
  mounted() {
    // Set the initial number of items
    this.totalRows = this.items.length

    this.Listar();
  },
  methods: {
    info(item, index, button) {
      this.infoModal.title = `Row index: ${index}`
      this.infoModal.content = JSON.stringify(item, null, 2)
      this.$root.$emit('bv::show::modal', this.infoModal.id, button)
    },
    dateDisabled(ymd, date) {

      // const day = date.getDate()
      // const month = date.getMonth() + 1;
      // const year = date.getFullYear();

      const new_date = new Date();

      // console.log('new_date', new_date);

      // console.log('date', date);

      // Return `true` if the date should be disabled
      return new_date < date;
      },
    Regresar(){

      this.page = 0;
      this.usuario.user = ''
      this.usuario.clave =''
      this.usuario.rol = null
      this.usuario.nombre = ''
      this.usuario.apellido = ''
      this.usuario.email = ''
      this.usuario.telefono = ''
      this.usuario.dni = ''
      this.usuario.fecha = ''
      this.usuario.direccion = ''
      this.usuario.nacionalidad = ''

    },
    resetInfoModal() {
      this.infoModal.title = ''
      this.infoModal.content = ''
    },
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    addUser(){
      this.page = 3
    },
    Eliminar(param) {
      this.$swal({
        title: '¿Estas seguro?',
        text: "Desear borrar al usuario",
        icon: 'warning',
        confirmButtonText: 'Si',
        showCancelButton: true,
        cancelButtonText: 'No',
        customClass: {
          confirmButton: 'btn btn-primary',
          cancelButton: 'btn btn-outline-danger ml-1',
        },
        buttonsStyling: false,
        }).then(result => {

          if (result.value) {
            this.EliminarUsuario(param)
          }
        })
    },
    EliminarUsuario(id){
      const form = new FormData
      const self = this
      form.append('idtxt', id)
      UsuarioServices.EliminarUsuario(form).then( function (response) {

        if(response.data.result){

          self.Listar();

          self.$toast({
              component: ToastificationContent,
              props: {
                title: 'Realizado',
                icon: 'CheckIcon',
                text: response.data.msg,
                variant: 'success',
              },
            });

          }else{

            self.$toast({
              component: ToastificationContent,
              props: {
                title: 'No realizado',
                icon: 'BellIcon',
                text: response.data.msg,
                variant: 'danger',
              },
            });

          }
          }).catch(error => {
          console.log("error ",error);
          });
    },
    Listar(){

      const self = this;

      Services.ListarUsuarios().then( function (response) {
        self.items = response.data;
        self.totalRows = self.items.length;
      }).catch(error => {
        console.log("error ",error);
      });

      Services.ListarRoles().then( function (response) {
        self.roles = response.data

        var arrDatos = [
            { value: 0, text: 'Seleccione' }
          ];

          for (let i = 0; i < response.data.length; i++) {

            var modelo = {
              value:  response.data[i].id,
              
              text: response.data[i].descripcion
            }


            arrDatos.push(modelo);
            
          }

          self.roles = arrDatos;
      }).catch(error => {
        console.log("error ",error);
      });

    },
    Detalles(id){
      for (let i = 0; i < this.items.length; i++) {
        
        if(id == this.items[i].id_usuario){
          const {nombre,apellido,documento, correo,telefono,clave,id_rol,usuario,fecha_nac,direccion,nacionalidad } = this.items[i]
          this.usuario.user = usuario
          this.usuario.clave = clave
          this.usuario.rol = id_rol
          this.usuario.nombre = nombre
          this.usuario.apellido = apellido
          this.usuario.email = correo
          this.usuario.telefono = telefono
          this.usuario.dni = documento
          this.usuario.fecha = fecha_nac
          this.usuario.direccion = direccion
          this.usuario.nacionalidad = nacionalidad
        }
      }
      this.page = 2
    },
    Editar(id){
      for (let i = 0; i < this.items.length; i++) {
        
        if(id == this.items[i].id_usuario){
          const {nombre,apellido,documento, correo,telefono,clave,id_rol,usuario,fecha_nac,direccion,nacionalidad, id_usuario } = this.items[i]
          this.usuario.user = usuario
          this.usuario.clave = clave
          this.usuario.rol = id_rol
          this.usuario.nombre = nombre
          this.usuario.apellido = apellido
          this.usuario.email = correo
          this.usuario.telefono = telefono
          this.usuario.dni = documento
          this.usuario.fecha = fecha_nac
          this.usuario.direccion = direccion
          this.usuario.nacionalidad = nacionalidad
          this.usuario.id = id_usuario
        }
      }
      this.page = 1
    },
    ValidationEditForm(){
      const nombre = this.usuario.nombre;
      const apellido = this.usuario.apellido;
      const dni = this.usuario.dni;
      const email = this.usuario.email;
      const telefono = this.usuario.telefono;
      const clave = this.usuario.clave;
      const rol = this.usuario.rol
      const user = this.usuario.user
      const fecha = this.usuario.fecha
      const direccion = this.usuario.direccion
      const nacionalidad = this.usuario.nacionalidad

      const self = this


      var envio = true;

      if(user == ""){
        this.validar.user = "Ingrese el nombre de usuario"
        setTimeout(() => {
          this.validar.user= "";
        }, 3000);

        envio = false;
      }

      if(nombre == ""){
        
        this.validar.nombre = "Ingresar nombre";

        setTimeout(() => {
          this.validar.nombre = "";
        }, 3000);

        envio = false;
      }
      if(apellido == ""){

        this.validar.apellido = "Ingresar apellido";

        setTimeout(() => {
          this.validar.apellido = "";
        }, 3000);

        envio = false;
      }
      if(dni == ""){

        this.validar.dni = "Ingresar dni";

        setTimeout(() => {
          this.validar.dni = "";
        }, 3000);

        envio = false;
      }
      if(email == ""){

        this.validar.email = "Ingresar email";

        setTimeout(() => {
          this.validar.email = "";
        }, 3000);

        envio = false;
      }
      if(telefono == ""){

        this.validar.telefono = "Ingresar teléfono";

        setTimeout(() => {
          this.validar.telefono = "";
        }, 3000);

        envio = false;
      }

      if(clave == ""){
        this.validar.clave = "Ingrese la contraseña"
        setTimeout(() => {
          this.validar.clave = "";
        }, 3000);

        envio = false;
      }

      if(rol === 0 ){
        this.validar.rol = "Seleccione un rol"
        setTimeout(() => {
          this.validar.rol = "";
        }, 3000);

        envio = false;
      }

      if(fecha == "" || !fecha){
        this.validar.fecha = "Ingrese la fecha de nacimiento"
        setTimeout(() => {
          this.validar.fecha = "";
        }, 3000);

        envio = false;
      }

      if(direccion == ""){
        this.validar.direccion = "Ingrese una dirección"
        setTimeout(() => {
          this.validar.direccion = "";
        }, 3000);

        envio = false;
      }

      if(nacionalidad == ""){
        this.validar.nacionalidad = "Ingrese la nacionalidad"
        setTimeout(() => {
          this.validar.nacionalidad = "";
        }, 3000);

        envio = false;
      }else if(nacionalidad.length > 2){
        this.validar.nacionalidad = "La nacionalidad no puede tener mas de 2 caracteres"
        setTimeout(() => {
          this.validar.nacionalidad = "";
        }, 3000);

        envio = false;
      }

      if(envio){
        
        this.$swal({
        title: '¿Estas seguro?',
        text: "Deseas editar al usuario...",
        icon: 'warning',
        confirmButtonText: 'Si',
        showCancelButton: true,
        cancelButtonText: 'No',
        customClass: {
          confirmButton: 'btn btn-primary',
          cancelButton: 'btn btn-outline-danger ml-1',
        },
        buttonsStyling: false,
        }).then(result => {

          if (result.value) {
            this.EditarUsuario()
          }
        })
        
      }

    },
    ValidationRegisterForm(){
      const nombre = this.usuario.nombre;
      const apellido = this.usuario.apellido;
      const dni = this.usuario.dni;
      const email = this.usuario.email;
      const telefono = this.usuario.telefono;
      const clave = this.usuario.clave;
      const rol = this.usuario.rol
      const user = this.usuario.user
      const fecha = this.usuario.fecha
      const direccion = this.usuario.direccion
      const nacionalidad = this.usuario.nacionalidad

      const self = this

      console.log(rol)

      var envio = true;

      if(user == ""){
        this.validar.user = "Ingrese el nombre de usuario"
        setTimeout(() => {
          this.validar.user= "";
        }, 3000);

        envio = false;
      }

      if(nombre == ""){
        
        this.validar.nombre = "Ingresar nombre";

        setTimeout(() => {
          this.validar.nombre = "";
        }, 3000);

        envio = false;
      }
      if(apellido == ""){

        this.validar.apellido = "Ingresar apellido";

        setTimeout(() => {
          this.validar.apellido = "";
        }, 3000);

        envio = false;
      }
      if(dni == ""){

        this.validar.dni = "Ingresar dni";

        setTimeout(() => {
          this.validar.dni = "";
        }, 3000);

        envio = false;
      }
      if(email == ""){

        this.validar.email = "Ingresar email";

        setTimeout(() => {
          this.validar.email = "";
        }, 3000);

        envio = false;
      }
      if(telefono == ""){

        this.validar.telefono = "Ingresar teléfono";

        setTimeout(() => {
          this.validar.telefono = "";
        }, 3000);

        envio = false;
      }

      if(clave == ""){
        this.validar.clave = "Ingrese la contraseña"
        setTimeout(() => {
          this.validar.clave = "";
        }, 3000);

        envio = false;
      }

      if(rol === 0 || !rol){
        this.validar.rol = "Seleccione un rol"
        setTimeout(() => {
          this.validar.rol = "";
        }, 3000);

        envio = false;
      }

      if(fecha == "" || !fecha){
        this.validar.fecha = "Ingrese la fecha de nacimiento"
        setTimeout(() => {
          this.validar.fecha = "";
        }, 3000);

        envio = false;
      }

      if(direccion == ""){
        this.validar.direccion = "Ingrese una dirección"
        setTimeout(() => {
          this.validar.direccion = "";
        }, 3000);

        envio = false;
      }

      if(nacionalidad == ""){
        this.validar.nacionalidad = "Ingrese la nacionalidad"
        setTimeout(() => {
          this.validar.nacionalidad = "";
        }, 3000);

        envio = false;
      }else if(nacionalidad.length > 2){
        this.validar.nacionalidad = "La nacionalidad no puede tener mas de 2 caracteres"
        setTimeout(() => {
          this.validar.nacionalidad = "";
        }, 3000);

        envio = false;
      }

      if(envio){
        
        this.$swal({
        title: '¿Estas seguro?',
        text: "Deseas crear al usuario...",
        icon: 'warning',
        confirmButtonText: 'Si',
        showCancelButton: true,
        cancelButtonText: 'No',
        customClass: {
          confirmButton: 'btn btn-primary',
          cancelButton: 'btn btn-outline-danger ml-1',
        },
        buttonsStyling: false,
        }).then(result => {

          if (result.value) {
            this.CrearUsuario()
          }
        })
        
      }

    },
    CrearUsuario(){
      const form = new FormData()
      form.append('nacionalidad', this.usuario.nacionalidad)
      form.append('txtdocumento', this.usuario.dni)
      form.append('txtnombre', this.usuario.nombre)
      form.append('txtapellido', this.usuario.apellido)
      form.append('txtfecha', this.usuario.fecha)
      form.append('txttelefono', this.usuario.telefono)
      form.append('txtcorreo', this.usuario.email)
      form.append('txtdireccion', this.usuario.direccion)
      form.append('txtuser', this.usuario.user)
      form.append('txtrol', this.usuario.rol)

      const self = this

      UsuarioServices.CrearUsuario(form).then( function (response) {

        if(response.data.result){

          self.Listar();
          self.Regresar()


          self.$toast({
              component: ToastificationContent,
              props: {
                title: 'Realizado',
                icon: 'CheckIcon',
                text: response.data.msg,
                variant: 'success',
              },
            });

          }else{

            self.$toast({
              component: ToastificationContent,
              props: {
                title: 'No realizado',
                icon: 'BellIcon',
                text: response.data.msg,
                variant: 'danger',
              },
            });

          }
          }).catch(error => {
          console.log("error ",error);
          });

    },
    EditarUsuario(){
      const form = new FormData()
      form.append('idtxt', this.usuario.id)
      form.append('nacionalidad', this.usuario.nacionalidad)
      form.append('txtdocumento', this.usuario.dni)
      form.append('txtnombre', this.usuario.nombre)
      form.append('txtapellido', this.usuario.apellido)
      form.append('txtfecha', this.usuario.fecha)
      form.append('txttelefono', this.usuario.telefono)
      form.append('txtcorreo', this.usuario.email)
      form.append('txtdireccion', this.usuario.direccion)
      form.append('txtuser', this.usuario.user)
      form.append('txtrol', this.usuario.rol)

      const self = this

      UsuarioServices.EditarUsuario(form).then( function (response) {

        if(response.data.result){

          self.Listar();
          self.Regresar()


          self.$toast({
              component: ToastificationContent,
              props: {
                title: 'Realizado',
                icon: 'CheckIcon',
                text: response.data.msg,
                variant: 'success',
              },
            });

          }else{

            self.$toast({
              component: ToastificationContent,
              props: {
                title: 'No realizado',
                icon: 'BellIcon',
                text: response.data.msg,
                variant: 'danger',
              },
            });

          }
          }).catch(error => {
          console.log("error ",error);
          });
    }
  },
    
}
</script>

<style>
.cursor-not{
    cursor: not-allowed;
  }
</style>
