<template>
  <!-- <b-card title="Create Awesome 🙌">
    <b-card-text>This is your Package page.</b-card-text>
    <b-card-text>Chocolate sesame snaps pie carrot cake pastry pie lollipop muffin. Carrot cake dragée chupa chups jujubes. Macaroon liquorice cookie wafer tart marzipan bonbon. Gingerbread jelly-o dragée chocolate.</b-card-text>
  </b-card> -->

  <b-row>
    <b-col cols="12" v-if="page == 0">

      <b-row>
        <b-col
          md="2"
          sm="4"
          class="my-1"
        >
          <b-form-group
            class="mb-0"
          >
            <label class="d-inline-block text-sm-left mr-50">Per page</label>
            <b-form-select
              id="perPageSelect"
              v-model="perPage"
              size="sm"
              :options="pageOptions"
              class="w-50"
            />
          </b-form-group>
        </b-col>

        <b-col
          md="3"
          sm="8"
          class="my-1"
        >
          <b-form-group
            label="Sort"
            label-cols-sm="3"
            label-align-sm="right"
            label-size="sm"
            label-for="sortBySelect"
            class="mb-0"
          >
            <b-input-group size="sm">
              <b-form-select
                id="sortBySelect"
                v-model="sortBy"
                :options="sortOptions"
                class="w-75"
              >
                <template v-slot:first>
                  <option value="">
                    -- none --
                  </option>
                </template>
              </b-form-select>
              <b-form-select
                v-model="sortDesc"
                size="sm"
                :disabled="!sortBy"
                class="w-25"
              >
                <option :value="false">
                  Asc
                </option>
                <option :value="true">
                  Desc
                </option>
              </b-form-select>
            </b-input-group>
          </b-form-group>
        </b-col>

        <b-col
          md="5"
          class="my-1"
        >
          <b-form-group
            label="Filtrar"
            label-cols-sm="3"
            label-align-sm="right"
            label-size="sm"
            label-for="filterInput"
            class="mb-0"
          >
            <b-input-group size="sm">
              <b-form-input
                id="filterInput"
                v-model="filter"
                type="search"
                placeholder="Buscar"
              />
              <b-input-group-append>
                <b-button
                  :disabled="!filter"
                  @click="filter = ''"
                >
                  Cancelar
                </b-button>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>

        <b-col
          md="2"
          sm="4"
          class="my-1"
        >

          <b-button
            v-ripple.400="'rgba(255, 255, 255, 0.15)'"
            variant="success"
            size="sm"
            class="float-right"
            @click="Nuevo"
          >
            Añadir
          </b-button>
          
        </b-col>

        <b-col cols="12">
          <b-table
            striped
            hover
            responsive
            :per-page="perPage"
            :current-page="currentPage"
            :items="items"
            :fields="fields"
            :sort-by.sync="sortBy"
            :sort-desc.sync="sortDesc"
            :sort-direction="sortDirection"
            :filter="filter"
            :filter-included-fields="filterOn"
            @filtered="onFiltered"
          >
            <template #cell(avatar)="data">
              <b-avatar :src="data.value" />
            </template>

            <template #cell(status)="data">
              <b-badge :variant="status[1][data.value]">
                {{ status[0][data.value] }}
              </b-badge>
            </template>

            <template #cell(actions)="data">
              
              <b-dropdown
                variant="link"
                no-caret
              >

                <template #button-content>
                  <feather-icon
                    icon="MoreVerticalIcon"
                    size="16"
                    class="align-middle text-body"
                  />
                </template>
                <b-dropdown-item   @click="Detalles(data.item.id)">
                  <feather-icon icon="FileTextIcon" />
                  <span class="align-middle ml-50">Details </span>
                </b-dropdown-item>

                <!-- <b-dropdown-item v-on:click="delete2(data.item.id)">
                  <feather-icon icon="TrashIcon" />
                  <span class="align-middle ml-50">Delete</span>
                </b-dropdown-item> -->
              </b-dropdown>

            </template>

          </b-table>
        </b-col>

        <b-col
          cols="12"
        >
          <b-pagination
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            align="center"
            size="sm"
            class="my-0"
        />
        </b-col>
      </b-row>

    </b-col>

    <b-col cols="12" v-if="page == 1">
      <b-card no-body class="card-employee-task">
        
        <b-card-header>
          <b-card-title>
            
            <feather-icon
              icon="PlusCircleIcon"
              size="20"
              class="position-relative"
              style="top: -3px;"
            />
            Nuevo deposito
          </b-card-title>
          <feather-icon
            icon="ArrowLeftIcon"
            size="18"
            class="cursor-pointer"
            @click="Regresar()"
          />
        </b-card-header>

        <b-card-body>
            <b-form
              @submit.prevent="NewD"
            >
              <b-row class="mx-0">

                <b-col sm="3">

                  <b-form-group
                    label="Monedero"
                    label-for="new-monedero"
                  >
                    <b-form-select
                      id="new-monedero"  
                      name="monedero"
                      v-model="New.monedero"
                      :options="options"
                    />
                    <small class="text-danger">{{ ValNew.monedero }} </small>
                  </b-form-group>

                </b-col>

                <b-col sm="4">
                  <b-form-group
                    label="Hash"
                    label-for="account-nombre"
                  >
                  <b-form-input
                  v-model="New.monedero.hash"
                  name="hash"
                  placeholder="Hash"
                  readonly
                  />
                    <small class="text-danger">{{ ValNew.monedero }} </small>
                  </b-form-group>
                </b-col>

                
                <b-col sm="2">
                  <b-form-group
                  label="Red"
                  label-for="account-nombre"
                  >
                  <b-form-input
                  v-model="New.monedero.red"
                  name="red"
                  placeholder="Red"
                  readonly
                  />
                  
                  <small class="text-danger">{{ ValNew.monedero }} </small>
                </b-form-group>
              </b-col>
              <b-col sm="3" v-if="New.monedero.hash">
                <b-form-group>
                  <label for="QR">Codigo QR</label>
                  <br>
                  <a v-b-modal.modal-1 type="button" class="btn btn-success"> Mostar QR</a>
                  <b-modal hide-footer id="modal-1" title="Código QR">
                    <div class="text-center">
                      <qrcode-vue :value="New.monedero.hash" :size="300" level="H"></qrcode-vue>
                    </div>
                  <p class="my-4"></p>
                  </b-modal>
                </b-form-group>
              </b-col>

                <b-col sm="4">
                  <b-form-group
                    label="Monto"
                    label-for="new-monto"
                  >
                    <input
                      id="new-monto"  
                      placeholder="Monto"
                      name="monto"
                      class="form-control"
                      v-model="New.monto"
                      type="number"
                      min="0.00"
                      step="0.01" 
                    >
                    <small class="text-danger">{{ ValNew.monto }}</small>
                  </b-form-group>

                  
                </b-col>

                <b-col sm="4">
                  <b-form-group
                    label="Billetera"
                    label-for="new-billetera"
                  >
                    <b-form-input
                      id="new-billetera"
                      v-model="New.billetera"
                      name="billetera"
                      placeholder="Descripcion billetera"
                    />
                    <small class="text-danger">{{ ValNew.billetera }}</small>
                  </b-form-group>
                </b-col>

                <b-col sm="4">
                  <b-form-group
                    label="Referencia"
                    label-for="new-referencia"
                  >
                    <b-form-input
                      id="new-referencia"
                      v-model="New.referencia"
                      name="referencia"
                      placeholder="Referencia"
                    />
                    <small class="text-danger">{{ ValNew.referencia }}</small>
                  </b-form-group>
                </b-col>
                
                <b-col sm="4">
                  <b-form-group
                    label="Foto de referencia"
                    label-for="new-img-referencia"
                  >
                    <b-form-file
                      v-model="New.img"
                      id="img-referencia"
                      accept="image/*"
                    />
                    <small class="text-danger">{{ ValNew.img }}</small>
                  </b-form-group>
                </b-col>

                <b-col sm="4">
                  <b-form-group
                    label="Fecha del pago"
                    label-for="new-fecha"
                  >
                    <b-form-datepicker
                      v-model="New.fecha"
                      id="new-fecha"
                      :date-disabled-fn="dateDisabled"
                      locale="es"
                    />

                    <small class="text-danger">{{ ValNew.fecha }}</small>
                  </b-form-group>
                </b-col>


                <b-col cols="12">
                  <b-button v-if="subiendo" variant="primary" disabled class="mt-2">
                    <b-spinner small type="grow"></b-spinner>
                    Cargando deposito...
                  </b-button>
                  <b-button
                  v-if="!subiendo"
                    v-ripple.400="'rgba(255, 255, 255, 0.15)'"
                    variant="primary"
                    class="mt-2 mr-1"
                    type="submit"
                  >
                    Guardar
                  </b-button>
                  <b-button
                  id="cancelar"
                    v-ripple.400="'rgba(186, 191, 199, 0.15)'"
                    variant="outline-secondary"
                    type="button"
                    class="mt-2"
                    @click="Regresar"
                  >
                    Cancelar
                  </b-button>
                </b-col>
              </b-row>
            </b-form>
        </b-card-body>
      </b-card>
    </b-col>

    <!-- Hacer la pagina para los detalles de la transaccion -->
    <b-col cols="12" v-if="page == 2">
      <b-card no-body class="card-employee-task">
        
        <b-card-header>
          <b-card-title>
            Detalles de deposito
          </b-card-title>
          <feather-icon
            icon="ArrowLeftIcon"
            size="18"
            class="cursor-pointer"
            @click="Regresar()"
          />
        </b-card-header>

        <b-card-body>
              <b-row class="mx-0">

                <b-col sm="4">
                  <b-form-group
                    label="monedero"
                    label-for="monedero"
                  >
                    <b-form-input
                      v-model="deposito.monedero.nombre"
                      id="monedero"
                      disabled
                      class="cursor-not"
                    />
                  </b-form-group>
                </b-col>

                <b-col sm="4">
                  <b-form-group
                    label="Hash"
                    label-for="account-nombre"
                  >
                    <b-form-input
                      v-model="deposito.monedero.hash"
                      name="hash"
                      placeholder="Hash"
                      readonly
                      disabled
                      class="cursor-not"
                    />
                  </b-form-group>
                </b-col>

                <b-col sm="4">
                  <b-form-group
                    label="Red"
                    label-for="account-nombre"
                  >
                    <b-form-input
                      v-model="deposito.monedero.red"
                      name="red"
                      placeholder="Red"
                      readonly
                      disabled
                      class="cursor-not"
                    />

                  </b-form-group>
                </b-col>

                <b-col sm="4">
                    <b-form-group
                      label="monto"
                      label-for="monto"
                    >
                      <b-form-input
                        id="monto"
                        v-model="deposito.monto"
                        name="monto"
                        placeholder="monto"
                        disabled
                        class="cursor-not"
                      />
                    </b-form-group>
                  
                </b-col>

                <b-col sm="4">
                  <b-form-group
                    label="Billetera"
                    label-for="billetera"
                  >
                    <b-form-input
                      id="billetera"
                      v-model="deposito.billetera"
                      name="billetera"
                      placeholder="Descripcion billetera"
                      disabled
                      class="cursor-not"
                    />
                  </b-form-group>
                </b-col>

                <b-col sm="4">
                  <b-form-group
                    label="Referencia"
                    label-for="referencia"
                  >
                    <b-form-input
                      id="referencia"
                      v-model="deposito.referencia"
                      name="referencia"
                      placeholder="Referencia"
                      disabled
                      class="cursor-not"
                    />
                  </b-form-group>
                </b-col>
                
                <b-col sm="4">
                  <b-form-group
                    label="Foto de referencia"
                    label-for="img-referencia"
                  >
                    <b-form
                      v-model="deposito.img"
                      id="img-referencia"
                      @click="modalShow = !modalShow"
                      disabled
                      />
                      <b-img @click="modalShow = !modalShow" fluid-grow :src="deposito.img" class="cursor-pointer" />
                      <b-modal v-model="modalShow" size="lg" title="Imagen del pago" hide-footer>
                        <b-img fluid-grow :src="deposito.img" />
                      </b-modal>

                  </b-form-group>
                </b-col>

                <b-col sm="8">
                  <b-form-group
                    label="Fecha del pago"
                    label-for="new-fecha"
                  >
                    <b-form-datepicker
                      v-model="deposito.fecha"
                      id="new-fecha"
                      :date-disabled-fn="dateDisabled"
                      locale="es"
                      disabled
                      class="cursor-not"
                    />

                    <small class="text-danger">{{ ValNew.fecha }}</small>
                  </b-form-group>
                </b-col>

              </b-row>
        </b-card-body>
      </b-card>
    </b-col>
  </b-row>

</template>

<style>
  .cursor-not{
    cursor: not-allowed;
  }
</style>

<script>
  import { BCard, BCardTitle, BCardHeader, BCardBody, BCardText, BTable, BAvatar, BBadge, BRow, BCol, BFormGroup, BFormSelect, BPagination, BInputGroup,
  BForm, BFormInput, BFormFile,BImg, BFormDatepicker, BInputGroupAppend, BButton, BDropdown, BDropdownItem } from 'bootstrap-vue'

  
  import BCardCode from '@core/components/b-card-code'
  
  import { BSpinner } from 'bootstrap-vue'

  import QrcodeVue from 'qrcode.vue';

  import Ripple from 'vue-ripple-directive'
  import Services from '@/services/users/Transacciones.js'
  import store from '@/store/store'
  import utils from '@/libs/utils'
  
  import UserServices from "@/services/users/Perfil"

  import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
export default {
  components: {
    QrcodeVue,
    BCard,
    BCardTitle,
    BSpinner,
    BImg,
    BCardHeader,
    BCardBody,
    BCardText,
    BTable,
    BAvatar,
    BBadge,
    BRow,
    BCol,
    BFormGroup,
    BFormSelect,
    BPagination,
    BInputGroup,
    BFormInput,
    BInputGroupAppend,
    BButton,
    BDropdown,
    BDropdownItem,
    BForm,
    store,
    utils,
    BCardCode,
    BFormFile,
    BFormDatepicker,
  },
  directives: {
    Ripple,
  },
  data() {
    return {
      subiendo: false,
      modalShow: false,
      perPage: 5,
      pageOptions: [3, 5, 10],
      totalRows: 1,
      currentPage: 1,
      sortBy: '',
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
      filterOn: [],
      infoModal: {
        id: 'info-modal',
        title: '',
        content: '',
      },
      fields: [
        {
          key: 'id', label: 'Id',
        },
        // { key: 'nombre', label: 'Nombre', sortable: true },
        // {
        //   key: 'dni', label: 'DNI',
        // },
        // 'email',
        // 'telefono',
        'monto',
        'fecha',
        { key: 'status', label: 'Status', sortable: true },
        { key: 'actions' }
      ],
      items: [
      ],
      status: [{
        0: 'Pendiente',  1: 'Completado', 2: 'Rechazado', 4: 'Current', 5: 'Applied',
      },
      {
        0: 'light-warning',  1: 'light-success', 2: 'light-danger', 4: 'light-primary', 5: 'light-info',
      }],
      id_user: 0,
      page: 0,
      New: {
        monedero: { id: 0, hash: "", red: "", },
        monto: 0,
        billetera: '',
        referencia: '',
        img: null,
        fecha: '',
      },
      ValNew: {
        monedero:'',
        monto: '',
        billetera: '',
        referencia: '',
        img: '',
        fecha: '',
      },
      deposito:{
        monedero: { id: 0, hash: "", red: "", nombre: ''},
        monto: 0,
        billetera: '',
        referencia: '',
        img: null,
        fecha: '',
        status: ''
      },
      options: [],
    }
  },
  computed: {
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => ({ text: f.label, value: f.key }))
    },
  },
  mounted() {
    // Set the initial number of items
    this.totalRows = this.items.length

    this.extraerToken();

    this.ListarMonederos();
  },
  methods: {
    dateDisabled(ymd, date) {

      // const day = date.getDate()
      // const month = date.getMonth() + 1;
      // const year = date.getFullYear();

      const new_date = new Date();

      // console.log('new_date', new_date);

      // console.log('date', date);

      // Return `true` if the date should be disabled
      return new_date < date;
    },
    info(item, index, button) {
      this.infoModal.title = `Row index: ${index}`
      this.infoModal.content = JSON.stringify(item, null, 2)
      this.$root.$emit('bv::show::modal', this.infoModal.id, button)
    },
    resetInfoModal() {
      this.infoModal.title = ''
      this.infoModal.content = ''
    },
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    async delete2(param) {
      alert("Eliminando " + param);
    },
    async extraerToken(){

      var token = store.state.token;
      //console.log("token ",token);
      if(token!=null && token!=""){
        try {
          var resultado = await utils.verifyToken(token,process.env.VUE_APP_SECRET_KEY);
          
          this.id_user = resultado.data.id;

          const form = new FormData()
            form.append('txtid', resultado.data.id)

            UserServices.ConsultarSaldo(form).then(function (response){
              store.state.saldo = response.data[0]
            }) 

          this.Listar();

        } catch (error) {
          console.log("error ",error);
        }
      }
    },
    Listar(){

      const form = new FormData();
      form.append('txtid', this.id_user);

      const self = this;

      Services.Depositos(form).then( function (response) {

          var arrDatos = [];

          for (let i = 0; i < response.data.length; i++) {

            var modelo = {
              id: response.data[i].id,
              id_monedero: response.data[i].id_monedero,
              descripcion_monedero: response.data[i].descripcion_monedero,
              hash: response.data[i].hash,
              red: response.data[i].red,
              monto: response.data[i].monto,
              fecha: response.data[i].fecha,
              id_cliente: response.data[i].id_cliente,
              nombre_cliente: response.data[i].nombre_cliente,
              billetera_cliente: response.data[i].billetera_cliente,
              referencia_pago: response.data[i].referencia_pago,
              foto_pago: response.data[i].foto_pago,
              status: response.data[i].status
            }

            arrDatos.push(modelo);
            
          }

          self.items = arrDatos;
          self.totalRows = self.items.length;

      }).catch(error => {
        console.log("error ",error);
      });

    },
    ListarMonederos(){

      const self = this;

      Services.ListaMonederos().then( function (response) {

          var arrDatos = [
            { value: { id: 0, hash: "", red: "", }, text: 'Seleccione' }
          ];

          for (let i = 0; i < response.data.length; i++) {

            var modelo = {
              value: { 
                id: response.data[i].id,
                hash: response.data[i].hash,
                red: response.data[i].red,
              },
              text: response.data[i].nombre
            }

            arrDatos.push(modelo);
            
          }

          self.options = arrDatos;

      }).catch(error => {
        console.log("error ",error);
      });

    },
    Nuevo(){
      this.page = 1;
      this.New.nombre = '';
      this.New.precio = 0;
      this.New.porcentaje = 0;
    },
    Regresar(){
      this.page = 0;

      this.New.monedero = { id: 0, hash: "", red: "", };
      this.New.monto = 0;
      this.New.billetera = '';
      this.New.referencia = '';
      this.New.img = null;
      this.New.fecha = '';

      this.deposito.monedero = { id: 0, hash: "", red: "", };
      this.deposito.monto = 0;
      this.deposito.billetera = '';
      this.deposito.referencia = '';
      this.deposito.img = null;
      this.deposito.fecha = '';

    },
    NewD(){
      const monedero = this.New.monedero;
      const monto = this.New.monto;
      const billetera = this.New.billetera;
      const referencia = this.New.referencia;
      const img = this.New.img;
      const fecha = this.New.fecha;

      var envio = true;

      if(monedero.id == 0){
        
        this.ValNew.monedero = "Ingresar monedero";

        setTimeout(() => {
          this.ValNew.monedero = "";
        }, 3000);

        envio = false;
      }
      if(monto == 0){

        this.ValNew.monto = "Ingresar monto";

        setTimeout(() => {
          this.ValNew.monto = "";
        }, 3000);

        envio = false;
      }
      if(billetera == ""){

        this.ValNew.billetera = "Ingresar billetera";

        setTimeout(() => {
          this.ValNew.billetera = "";
        }, 3000);

        envio = false;
      }
      if(referencia == ""){

        this.ValNew.referencia = "Ingresar referencia";

        setTimeout(() => {
          this.ValNew.referencia = "";
        }, 3000);

        envio = false;
      }
      if(img == null){

        if(!img){
          this.ValNew.img = "Ingresar imagen";
        }

        setTimeout(() => {
          this.ValNew.img = "";
        }, 3000);

        envio = false;
      }
      

      if(img){

        if(img.size > 4000000){
          this.ValNew.img = "La imagen es muy pesada, MAX: 4MB";
  
          setTimeout(() => {
            this.ValNew.img = "";
          }, 3000);

          envio = false;
    
        }

        // if(img.type != "image/jpg" || img.type != "image/png" || img.type != "image/jpeg" ){
        //     this.ValNew.img = "La imagen no es de un tipo valido";
  
        //     setTimeout(() => {
        //       this.ValNew.img = "";
        //     }, 3000);
  
        //     envio = false;
        //   }
      }


      if(fecha == ""){

        this.ValNew.fecha = "Ingresar fecha";

        setTimeout(() => {
          this.ValNew.fecha = "";
        }, 3000);

        envio = false;
      }

      if(fecha != ""){

        const date = new Date();
        const y = date.getFullYear();
        const m = date.getMonth() + 1;
        const d = date.getDate();

        var mm = '';

        if(m < 10){
          mm = '0'+m;
        }else{
          mm = m+'';
        }

        var dd = '';

        if(d < 10){
          dd = '0'+d;
        }else{
          dd = d+'';
        }
        
        var hoy = y + mm + dd;

        hoy = parseInt(hoy);

        
        var date_2 = fecha.replaceAll('-', '');
        
      }
      
      if(envio){
        
        this.$swal({
        title: '¿Estas seguro?',
        text: "Deseas guardar la información",
        icon: 'warning',
        confirmButtonText: 'Si',
        showCancelButton: true,
        cancelButtonText: 'No',
        customClass: {
          confirmButton: 'btn btn-primary',
          cancelButton: 'btn btn-outline-danger ml-1',
        },
        buttonsStyling: false,
        }).then(result => {

          if (result.value) {
            // console.log('this.EnviarNewP()')
            this.EnviarNewD();
          }
        })
        
      }

    },
    EnviarNewD(){

      const form = new FormData();
      form.append('txtid_cliente', this.id_user);
      form.append('txtid_monedero', this.New.monedero.id);
      form.append('txtmonto', this.New.monto);
      form.append('txtbilletera', this.New.billetera);
      form.append('txtreferencia', this.New.referencia);
      form.append('txtimg', this.New.img);
      form.append('txtfecha', this.New.fecha);

      const self = this;

      self.subiendo = true
      document.getElementById('cancelar').disabled = true

      Services.NuevoD(form).then( function (response) {

        document.getElementById('cancelar').disabled = false
        if(response.data.result){

          self.Listar();
          self.Regresar();

          self.subiendo = false

          self.$toast({
            component: ToastificationContent,
            props: {
              title: 'Realizado',
              icon: 'CheckIcon',
              text: response.data.msg,
              variant: 'success',
            },
          });

        }else{

          self.subiendo = false
          self.$toast({
            component: ToastificationContent,
            props: {
              title: 'No realizado',
              icon: 'BellIcon',
              text: response.data.msg,
              variant: 'danger',
            },
          });

        }
      }).catch(error => {
        document.getElementById('cancelar').disabled = false
        console.log("error ",error);
        self.subiendo = true
      });

    },
    Detalles(id){
      // console.log(this.deposito)
      for (let i = 0; i < this.items.length; i++) {
        
        if(id == this.items[i].id){
          // console.log(this.items[i])
          const {billetera_cliente, descripcion_monedero, fecha, foto_pago, hash, id, id_cliente, id_monedero, monto, nombre_cliente, red, referencia_pago, status } = this.items[i]
          this.deposito.monedero.red = red
          this.deposito.monedero.hash = hash
          this.deposito.monedero.id_monedero = id_monedero
          this.deposito.monedero.nombre = descripcion_monedero
          this.deposito.img = `${process.env.VUE_APP_URL_BASE}/screenshots/${foto_pago}`
          this.deposito.monto = monto
          this.deposito.fecha = fecha
          this.deposito.billetera = billetera_cliente
          this.deposito.referencia = referencia_pago
          this.deposito.status = status
        }
      }
      this.page = 2
    }
  },
}
</script>

<style>

</style>
