<template>
  <!-- <b-card title="Create Awesome 🙌">
    <b-card-text>This is your DirectAfiliate page.</b-card-text>
    <b-card-text>Chocolate sesame snaps pie carrot cake pastry pie lollipop muffin. Carrot cake dragée chupa chups jujubes. Macaroon liquorice cookie wafer tart marzipan bonbon. Gingerbread jelly-o dragée chocolate.</b-card-text>
  </b-card> -->


  <b-row>
  <b-col
    md="2"
    sm="4"
    class="my-1"
  >
    <b-form-group
      class="mb-0"
    >
      <label class="d-inline-block text-sm-left mr-50">Per page</label>
      <b-form-select
        id="perPageSelect"
        v-model="perPage"
        size="sm"
        :options="pageOptions"
        class="w-50"
      />
    </b-form-group>
  </b-col>
  <b-col
    md="4"
    sm="8"
    class="my-1"
  >
    <b-form-group
      label="Sort"
      label-cols-sm="3"
      label-align-sm="right"
      label-size="sm"
      label-for="sortBySelect"
      class="mb-0"
    >
      <b-input-group size="sm">
        <b-form-select
          id="sortBySelect"
          v-model="sortBy"
          :options="sortOptions"
          class="w-75"
        >
          <template v-slot:first>
            <option value="">
              -- none --
            </option>
          </template>
        </b-form-select>
        <b-form-select
          v-model="sortDesc"
          size="sm"
          :disabled="!sortBy"
          class="w-25"
        >
          <option :value="false">
            Asc
          </option>
          <option :value="true">
            Desc
          </option>
        </b-form-select>
      </b-input-group>
    </b-form-group>
  </b-col>
  <b-col
    md="6"
    class="my-1"
  >
    <b-form-group
      label="Filtrar"
      label-cols-sm="3"
      label-align-sm="right"
      label-size="sm"
      label-for="filterInput"
      class="mb-0"
    >
      <b-input-group size="sm">
        <b-form-input
          id="filterInput"
          v-model="filter"
          type="search"
          placeholder="Buscar"
        />
        <b-input-group-append>
          <b-button
            :disabled="!filter"
            @click="filter = ''"
          >
            Cancelar
          </b-button>
        </b-input-group-append>
      </b-input-group>
    </b-form-group>
  </b-col>

  <b-col cols="12">
    <b-table
      striped
      hover
      responsive
      :per-page="perPage"
      :current-page="currentPage"
      :items="items"
      :fields="fields"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :sort-direction="sortDirection"
      :filter="filter"
      :filter-included-fields="filterOn"
      @filtered="onFiltered"
    >
      <template #cell(avatar)="data">
        <b-avatar :src="data.value" />
      </template>

      <template #cell(status)="data">
        <b-badge :variant="status[1][data.value]">
          {{ status[0][data.value] }}
        </b-badge>
      </template>

      <template #cell(actions)="data">
        
        <b-dropdown
          variant="link"
          no-caret
        >

          <template #button-content>
            <feather-icon
              icon="MoreVerticalIcon"
              size="16"
              class="align-middle text-body"
            />
          </template>
          <b-dropdown-item :to="{ name: 'apps-users-view', params: { id: data.item.id } }">
            <feather-icon icon="FileTextIcon" />
            <span class="align-middle ml-50">Details </span>
          </b-dropdown-item>

          <b-dropdown-item :to="{ name: 'apps-users-edit', params: { id: data.item.id } }">
            <feather-icon icon="EditIcon" />
            <span class="align-middle ml-50">Edit</span>
          </b-dropdown-item>

          <b-dropdown-item v-on:click="delete2(data.item.id)">
            <feather-icon icon="TrashIcon" />
            <span class="align-middle ml-50">Delete</span>
          </b-dropdown-item>
        </b-dropdown>

      </template>

    </b-table>
  </b-col>

  <b-col
    cols="12"
  >
    <b-pagination
      v-model="currentPage"
      :total-rows="totalRows"
      :per-page="perPage"
      align="center"
      size="sm"
      class="my-0"
    />
  </b-col>
</b-row>

</template>

<script>
import { BCard, BCardText, BTable, BAvatar, BBadge, BRow, BCol, BFormGroup, BFormSelect, BPagination, BInputGroup,
   BFormInput, BInputGroupAppend, BButton, BDropdown, BDropdownItem } from 'bootstrap-vue'

  import Services from '@/services/users/Afiliados.js'
  import store from '@/store/store'
  import utils from '@/libs/utils'

export default {
  components: {
    BCard,
    BCardText,
    BTable,
    BAvatar,
    BBadge,
    BRow,
    BCol,
    BFormGroup,
    BFormSelect,
    BPagination,
    BInputGroup,
    BFormInput,
    BInputGroupAppend,
    BButton,
    BDropdown,
    BDropdownItem,
    store,
    utils,
  },
  data() {
    return {
      perPage: 5,
      pageOptions: [3, 5, 10],
      totalRows: 1,
      currentPage: 1,
      sortBy: '',
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
      filterOn: [],
      infoModal: {
        id: 'info-modal',
        title: '',
        content: '',
      },
      fields: [
        // {
        //   key: 'id', label: 'Id',
        // },
        { key: 'nombre', label: 'Nombre', sortable: true },
        // {
        //   key: 'documento', label: 'DNI',
        // },
        // 'email',
        // 'telefono',
        
        { key: 'status', label: 'Status', sortable: true },
        // { key: 'actions' }
      ],
      items: [
      ],
      status: [{
        2: 'Current', 1: 'Activo', 0: 'Inactivo', 4: 'Resigned', 5: 'Applied',
      },
      {
        2: 'light-primary', 1: 'light-success', 0: 'light-danger', 4: 'light-warning', 5: 'light-info',
      }],
    }
  },
  computed: {
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => ({ text: f.label, value: f.key }))
    },
  },
  mounted() {
    // Set the initial number of items
    this.totalRows = this.items.length

    this.extraerToken();
  },
  methods: {
    info(item, index, button) {
      this.infoModal.title = `Row index: ${index}`
      this.infoModal.content = JSON.stringify(item, null, 2)
      this.$root.$emit('bv::show::modal', this.infoModal.id, button)
    },
    resetInfoModal() {
      this.infoModal.title = ''
      this.infoModal.content = ''
    },
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    async delete2(param) {
      alert("Eliminando " + param);
    },

    async extraerToken(){

      var token = store.state.token;
      //console.log("token ",token);
      if(token!=null && token!=""){
        try {
          var resultado = await utils.verifyToken(token,process.env.VUE_APP_SECRET_KEY);
          
          this.Listar(resultado.data.codigo_ref);

        } catch (error) {
          console.log("error ",error);
        }
      }
    },
    Listar(ref){

      const form = new FormData();
      form.append('txtref', ref);

      const self = this;

      Services.Directos(form).then( function (response) {

          var arrDatos = [];

          // for (let i = 0; i < response.data.length; i++) {

          //   var modelo = {
          //     id: response.data[i].id,
          //     id_monedero: response.data[i].id_monedero,
          //     descripcion_monedero: response.data[i].descripcion_monedero,
          //     hash: response.data[i].hash,
          //     red: response.data[i].red,
          //     monto: response.data[i].monto,
          //     fecha: response.data[i].fecha,
          //     id_cliente: response.data[i].id_cliente,
          //     nombre_cliente: response.data[i].nombre_cliente,
          //     billetera_cliente: response.data[i].billetera_cliente,
          //     referencia_pago: response.data[i].referencia_pago,
          //     foto_pago: response.data[i].foto_pago,
          //     status: response.data[i].status
          //   }

          //   arrDatos.push(modelo);
            
          // }

          self.items = response.data;
          self.totalRows = self.items.length;
          console.log(self.items)

      }).catch(error => {
        console.log("error ",error);
      });

    },
  },
}
</script>

<style>

</style>
