<template>
    <b-row v-if="page == 0">
      <template
      v-for="(item, index) in items"
      >
      <b-col md="4" sm="12"
        v-if="index >= (currentPage - 1) * 5 && index <= 5 * currentPage" >
        
        <b-card 
        style="cursor: pointer;"
        class="shadow-none bg-transparent border-primary"
        @click="LeerMensaje(item.id)"
        >
        <p>{{ index }}</p>
          <b-card-header v-html="item.usuario"></b-card-header>
          <b-card-body class="text-primary">
            <h5 v-html="item.asunto">
            </h5>
            <b-card-text v-html="item.mensaje.slice(0, 50)"></b-card-text>
          </b-card-body>
        </b-card>
      </b-col>    
    </template>
  
      <button 
      class="btn new btn-primary"
      @click="page = 2"
      >
        <feather-icon
          icon="PlusIcon"
          size="42"
          class="cursor-pointer"
          >
        </feather-icon>
      </button>
      <b-col sm="12">
        <b-pagination
        v-model="currentPage"
        :total-rows="Math.ceil((items.length) / 6)"
        :per-page="3"
       
        >
  
        </b-pagination>
      </b-col>
    </b-row>
  
    <b-row v-else-if="page == 1">
      <b-col sm="12" 
      style="text-align: right; cursor: pointer; position: relative;"
      @click="Regresar()"
      >
      <feather-icon
      icon="ArrowLeftIcon"
      size="22"
      class="cursor-pointer"
      >
    </feather-icon>
    <span>Volver</span>
      </b-col>
      <b-col cols="12">
        <br>
        <b-card class="border-primary bg-transparent">
          <b-card-header v-html="mensaje.usuario"></b-card-header>
          <b-card-body>
            <h5 v-html="mensaje.asunto">
            </h5>
            <br>
            <b-card-text placeholder="Responder" v-html="mensaje.contenido"></b-card-text>
          </b-card-body>
        </b-card>
  
      </b-col>
      <b-col>
        <b-form
        @submit.prevent = "ValidarMensaje"
        >
          <b-form-group
          >
            <b-form-textarea
              name="contenido"
              placeholder="Respuesta"
              v-model="nuevo_mensaje"
            ></b-form-textarea>
            <small v-html="mensaje_valido" class="text-danger"></small>
          <br>
          </b-form-group>
          <button
          v-if="!enviando"
          class="btn btn-primary"
          style="width: 100%;">
          Enviar</button>
          <button
          v-if="enviando"
          disabled
          class="btn btn-primary"
          style="width: 100%;">
          <b-spinner small type="grow"></b-spinner>
          Enviando mensaje...                  
          </button>
        </b-form>
      </b-col>
    </b-row>
  
    <b-row v-else-if="page == 2">
      <b-col sm="12" 
      style="text-align: right; cursor: pointer; position: relative;"
      @click="Regresar()"
      >
      <feather-icon
      icon="ArrowLeftIcon"
      size="22"
      class="cursor-pointer"
      >
    </feather-icon>
    <span>Volver</span>
      </b-col>
      <b-col cols="12">
      
        <b-form-group
          label="Asunto del mensaje"
          label-for="asunto"
          >
          <b-form-input
            v-model="mensaje.asunto"
            placeholder="Asunto"
          />
          <small class="text-danger" v-if="mensaje.asunto.length >= 30">El asunto es muy largo</small>
          </b-form-group> <br>
  
      </b-col>
      <b-col>
        <b-form
        @submit.prevent = "ValidarMensaje"
        >
          <b-form-group
          >
            <b-form-textarea
              name="contenido"
              placeholder="Mensaje"
              v-model="nuevo_mensaje"
            ></b-form-textarea>
            <small v-html="mensaje_valido" class="text-danger"></small>
          <br>
          </b-form-group>
          <button
          v-if="!enviando"
          class="btn btn-primary"
          style="width: 100%;">
          Enviar</button>
          <button
          v-if="enviando"
          disabled
          class="btn btn-primary"
          style="width: 100%;">
          <b-spinner small type="grow"></b-spinner>
          Enviando mensaje...
                  
          </button>
        </b-form>
      </b-col>
    </b-row>
  
    </template>
    
    <script>
    import { BRow, BCol, BCard,BFormInput, BPagination, BCardText,BSpinner, BCardHeader, BCardTitle, BCardBody, BForm, BFormGroup, BFormTextarea } from 'bootstrap-vue'
    
    import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
  
    import store from '@/store/store'
    import MensajeriaService from '@/services/users/Mensajeria.js'
    
    import UserServices from "@/services/users/Perfil"
    import utils from '@/libs/utils'
  
    export default {
      components: {
        BFormInput,
        BRow,
        BSpinner,
        BCol,
        BFormGroup,
        BCard,
        BPagination,
        BCardBody,
        BCardText,
        BCardHeader,
        BCardTitle,
        BForm,
        BFormTextarea,
        ToastificationContent
      },
      data(){
        return{
          enviando: false,
          page: 0,
          totalRows: 1,
          currentPage: 1,
          items:[
           
          ],
          mensaje:{
            usuario: '',
            asunto: '',
            contenido: '',
          },
          mensaje_valido: '',
          nuevo_mensaje: ''
        }
      },
      computed:{
        rows(){
          return this.item.length
        }
      },
      mounted(){
        this.Listar()
        this.extraerToken()
      },
      methods: {
        Listar(){
  
          const self = this
  
          MensajeriaService.ConsultarMensajes().then((response) =>{
  
            response.data.forEach(element => {
              self.items.push(element)
              console.log(Math.ceil(self.items.length / 6))
            });
          })
        },
        Regresar(){
          this.page = 0,
          this.mensaje = {
            asunto: '',
            contenido: '',
            usuario: ''
          }
          this.nuevo_mensaje = ''
          this.enviando = false
        },
        LeerMensaje(id){
  
          this.items.forEach(element => {
            if(element.id == id){
              this.mensaje.usuario = element.usuario
              this.mensaje.asunto = element.asunto
              this.mensaje.contenido = element.mensaje
            }
            this.page = 1
            return
          });
        },
        ValidarMensaje(){
          const contenido = this.nuevo_mensaje
          const asunto = this.mensaje.asunto
  
          var envio = true
  
          if(asunto == ""){
            this.mensaje.asunto = "Sin asunto"
          }
  
          if(asunto.length >= 30){
            envio = false
          }
  
          if(contenido == "" || !contenido){
            this.mensaje_valido = "El contenido está vacio"
            setTimeout(() => {
              this.mensaje_valido = ""
            }, 3000);
            envio = false
          }
  
          if(envio){
            this.Enviar()
          }
  
        },
        Enviar(){
  
          const form = new FormData()
          form.append('txtasunto', this.mensaje.asunto)
          form.append('txtmensaje', this.nuevo_mensaje)
          this.enviando = true
  
          const self = this
  
  
          MensajeriaService.EnviarMensaje(form).then((response) =>{
            
            self.Regresar()
            self.enviando = false
            if(response.data){
  
              self.$toast({
                  component: ToastificationContent,
                  props: {
                    title: 'Realizado',
                    icon: 'CheckIcon',
                    text: "Mensaje enviado exitosamente",
                    variant: 'success',
                  },
                });
            }else{
              self.$toast({
                component: ToastificationContent,
                props: {
                  title: 'No realizado',
                  icon: 'BellIcon',
                  text: response.data.msg,
                  variant: 'danger',
                },
              });
            }
  
          }).catch(err => {console.log(err) 
            self.enviando = false})
  
        },
        async extraerToken(){

          var token = store.state.token;
          //console.log("token ",token);
          if(token!=null && token!=""){
            try {
              var resultado = await utils.verifyToken(token,process.env.VUE_APP_SECRET_KEY);
              
              this.Listar(resultado.data.id);

              this.client_id = resultado.data.id;

              const form = new FormData()
                form.append('txtid', resultado.data.id)

                UserServices.ConsultarSaldo(form).then(function (response){
                  store.state.saldo = response.data[0]
                }) 

            } catch (error) {
              console.log("error ",error);
            }
          }
        },
      }
  
    }
    </script>
    
    <style lang="scss">
    @import '@core/scss/vue/pages/page-auth.scss';
    .new{
      position: fixed;
      right: 6vh;
      bottom:8vh;
      border-radius: 50%;
      padding: 10px;
    }
    </style>
    