<template>
    <div class="list-view">
      <b-row v-if="page == 0">
        <b-col sm="12" v-for="item in items">
          <div class="checkout-items">
            <b-card 
              key=""
              class="ecommerce-card"
              no-body
            >
              
              <!-- Product Image -->
              <div class="item-img">
                <b-link>
                  <b-img
                    :src="item.img"
                  />
                </b-link>
              </div>

              <!-- Product Details: Card Body -->
              <b-card-body>
                <div class="item-name">
                  <h6 class="mb-0">
                    <a class="text-body">
                      {{item.nombre}}
                    </a>
                  </h6>
                  
                </div>
                <br>
                <span>{{ item.fecha }}</span>
                <span class="text-success mb-1">{{ item.porcentaje }}% de retorno</span>
                <div style="width: auto;">
                  <small class="badge badge-light-warning" v-if="item.status == 0">En proceso</small>
                    <small class="badge badge-light-success" v-if="item.status == 1">Retirado</small>
                    <small class="badge badge-light-danger" v-if="item.status == 2">Rechazado</small>
                </div>
              </b-card-body>

              <!-- Product Options/Actions -->
              <div class="item-options text-center">
                
                <div class="item-wrapper">
                  <div class="item-cost">
                    <h4 class="item-price">
                      {{item.precio}}$
                    </h4>
                    
                    <br>
                      <b-badge
                        pill
                        variant="light-success"
                      >
                        Cantidad: {{ item.cantidad }}
                      </b-badge>
                  </div>
                </div>
                <b-button
                  variant="primary"
                  class="btn-cart move-cart"
                  @click="VerEstado(item.id)"
                  >
                    <span class="text-nowrap">Ver estado</span>
                </b-button>
              </div>

            </b-card>
          </div>
        </b-col>    
      </b-row>
      

      <b-row v-if="page == 1">
        
        <b-col md="4" sm="6" class="my-1">
          <h1>{{ paquete_estado.nombre }}</h1>
        </b-col>
        <b-col md="4" sm="6" class="my-1">
          <h1>Precio: {{ paquete_estado.precio }}$</h1>
        </b-col>
        <b-col sm="4">
          <b-button @click="Regresar()"
              variant=""
              size="sm"
              class="float-right"
            >
            <feather-icon
            icon="ArrowLeftIcon"
            size="18"
          />
            Regresar</b-button>
        </b-col>
        
        <b-col cols="12">
          <b-table
            stripped
            responsive
            :items="paquete_estado.fechas"
          >
          <template #cell(ganancia)="data" >
            {{parseFloat(data.value).toFixed(2)}}<span style="color: green;">$</span>
            </template>
            <template #cell(acumulado)="data" >
            {{parseFloat(data.value).toFixed(2)}}<span style="color: green;">$</span>
            </template>
          </b-table>
          <template v-if="paquete_estado.completado">
            <b-button
            @click="RetirarAlert(paquete_estado.id)"
              v-if="paquete_estado.status == 0 && !retirando"
              variant="primary"
              class="btn-cart move-cart"
              style="width: 100%;"
              >
                    <span class="text-nowrap">Retirar</span>
              </b-button>
              <b-button
                v-if="paquete_estado.status == 0 && retirando"
                variant="primary"
                class="btn-cart move-cart"
                style="width: 100%;"
                disabled
              >
              <b-spinner small type="grow"></b-spinner>
                    Cargando retiro...
              </b-button>
            <span v-else-if="paquete_estado.status == 1" style="color: forestgreen; text-align: center;">Fondos del paquete retirados</span>
          </template>
          <br>
          <template v-if="paquete_estado.status == 0 && !paquete_estado.completado">
            <b-button
              variant="warning"
              class="btn-cart move-cart"
              style="width: 100%;"
              >
                    <span class="text-nowrap">Paquete en proceso</span>
                </b-button>
          </template>
        </b-col>
      </b-row>
    </div>
</template>

<script>
import { BCard, BCardText, BCardBody, BLink, BTable, BImg,BSpinner, BButton, BBadge, BFormSpinbutton,BCol,BRow } from 'bootstrap-vue'
import { formatDate } from '@core/utils/filter'

import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'

import store from '@/store/store'
import utils from '@/libs/utils'

import UserServices from "@/services/users/Perfil"

import Services from '@/services/users/Paquetes.js'

export default {
  components: {
    BSpinner,
    BTable,
    BCard,
    BCardText,
    BCardBody,
    BLink,
    BImg,
    BButton,
    BBadge,
    BFormSpinbutton,
    BCol,
    BRow,
    store,
    utils,
    ToastificationContent
  },
  data() {
    return {
      retirando: false,
      page: 0,
      qty: 1,
      hasFreeShipping: true,
      // Filter
      formatDate,
      items: [],
      client_id: null,
      paquete_estado:{
        nombre: '',
        precio: Number,
        fechas: [],
        porcentaje: 0,
        completado: true,
        status: null,
        id: Number
      },
      status: [{
        0: 'Pendiente',  1: 'Completado', 2: 'Rechazado', 4: 'Current', 5: 'Applied',
      },
      {
        0: 'light-warning',  1: 'light-success', 2: 'light-danger', 4: 'light-primary', 5: 'light-info',
      }],
    }
  },
  mounted() {
    this.extraerToken();
  },
  methods: {
    async extraerToken(){

    var token = store.state.token;
    
    if(token!=null && token!=""){
      try {
        var resultado = await utils.verifyToken(token,process.env.VUE_APP_SECRET_KEY);
        

        this.client_id = resultado.data.id;
        this.Listar(resultado.data.id)
        this.ConsultarSaldo(resultado.data.id)

      } catch (error) {
        console.log("error ",error);
      }
    }
    },
    Listar(id){
      const self = this;

      const form = new FormData()
      form.append('txtid', id)

      Services.ConsultarOrdenes(form).then( function (response) {

          var arrDatos = [];

          for (let i = 0; i < response.data.length; i++) {

            var modelo = {
              id: response.data[i].id,
              nombre: response.data[i].nombre_paquete,
              precio: response.data[i].monto,
              cantidad: response.data[i].cantidad,
              img: `${process.env.VUE_APP_URL_BASE}/paquetes_imagenes/${response.data[i].img}`,
              fecha: response.data[i].fecha,
              status: response.data[i].status,
              porcentaje: response.data[i].porcentaje,
              semanas: response.data[i].semanas
            }

            arrDatos.push(modelo);
            
          }
          
          self.items = arrDatos;
          self.totalRows = self.items.length;

      }).catch(error => {
        console.log("error ",error);
      });

    },
    ConsultarSaldo(id){
      const form = new FormData()
            form.append('txtid', id)

            UserServices.ConsultarSaldo(form).then(function (response){
              store.state.saldo = response.data[0]
            }) 
    },
    Regresar(){
      this.page = 0
      this.paquete_estado = {nombre: '', precio: Number, fechas: [], porcentaje: 0, completado: true, id: Number}
      this.retirando = false
    },
    VerEstado(id){
      this.items.forEach(element => {
        if(element.id === id){

          let fecha = new Date(element.fecha )
          fecha.setDate(fecha.getDate() + 1)
          this.paquete_estado.nombre = element.nombre
          this.paquete_estado.precio = element.precio
          this.paquete_estado.status = element.status
          this.paquete_estado.id = element.id
          const porcentaje = element.porcentaje
          const semanas = element.semanas

          let acumulado = 0
          for (let index = 1; index <= semanas; index++) {
            let paquete_fecha = new Date(new Date(fecha).getTime() + 604800000 * index)
            this.page = 1  
            if(paquete_fecha.getTime() >= new Date().getTime()){
              this.paquete_estado.completado = false
              break
            }else{
              paquete_fecha = paquete_fecha.toLocaleDateString()
            }

            const ganancia = ((element.precio * porcentaje / 100) / semanas )
            
            acumulado = ganancia * index
            this.paquete_estado.fechas.push({fecha: paquete_fecha, ganancia, acumulado})
          }
        }
      });
        
    },
    RetirarAlert(id){
      const self = this
      this.$swal({
        title: '¿Estas seguro?',
        text: "Deseas retirar ahora el paquete",
        icon: 'warning',
        confirmButtonText: 'Si',
        showCancelButton: true,
        cancelButtonText: 'No',
        customClass: {
          confirmButton: 'btn btn-primary',
          cancelButton: 'btn btn-outline-danger ml-1',
        },
        buttonsStyling: false,
        }).then(result => {

          if (result.value) {
            // console.log('this.EnviarNewP()')
            self.RetirarPaquete(id);
          }
        })
        
      },
      RetirarPaquete(id){
      const form = new FormData()
      form.append('id', id)

      const self = this

      self.retirando = true

      Services.Retirar(form).then( function(response){

        if(response.data.result){

          self.retirando = false
          self.Listar(self.client_id)
          self.Regresar()
          self.ConsultarSaldo(self.client_id)

          self.$toast({
            component: ToastificationContent,
            props: {
              title: 'Realizado',
              icon: 'CheckIcon',
              text: response.data.msg,
              variant: 'success',
            },
          });
        }else{
          self.retirando = false
          self.$toast({
            component: ToastificationContent,
            props: {
              title: 'No realizado',
              icon: 'BellIcon',
              text: response.data.msg,
              variant: 'danger',
            },
          });
        }
      }).catch(error =>{
        console.log(error)
        self.retirando = false
      })
    }
    },
    
  }

</script>

<style lang="scss">
  @import '~@core/scss/base/pages/app-ecommerce.scss';
  img{
    padding: 5px;
    border-radius: 5%;
  }
</style>
