<template>
      <div class="list-view  mt-0">
        <b-row>
          <b-col sm="12" v-for="item in items">
            <div class="checkout-items">
              <b-card 
                key=""
                class="ecommerce-card"
                no-body
              >
                
                <!-- Product Image -->
                <div class="item-img">
                  <b-link>
                    <b-img
                      :src="item.img"
                      
                    />
                  </b-link>
                </div>

                <!-- Product Details: Card Body -->
                <b-card-body>
                  <div class="item-name">
                    <h6 class="mb-0">
                      <b-link class="text-body">
                        {{item.nombre}}
                      </b-link>
                    </h6>
                    
                  </div>
                  <span class="text-success mb-1">{{ item.porcentaje }}%</span>
                  <div class="item-quantity">
                    <span class="quantity-title">Cantidad:</span>
                    <b-form-spinbutton
                      v-model="item.qty"
                      size="sm"
                      class="ml-75"
                      inline
                    />
                  </div>
                  <span>{{ item.descripcion }}</span>
                </b-card-body>

                <!-- Product Options/Actions -->
                <div class="item-options text-center">
                  <div class="item-wrapper">
                    <div class="item-cost">
                      <h4 class="item-price">
                        {{item.precio}}$
                      </h4>
                    </div>
                  </div>
                  
                  <b-button
                    variant="primary"
                    class="btn-cart move-cart"
                    @click="Comprar(item.id, item.qty, item.precio)"
                  >
                    <span class="text-nowrap">Comprar</span>
                  </b-button>
                </div>


              </b-card>
            </div>
          </b-col>    
        </b-row>
        
        
      </div>
</template>
  
  <script>
  import { BCard, BCardText, BCardBody, BLink, BImg, BButton, BBadge, BFormSpinbutton,BCol,BRow } from 'bootstrap-vue'
  import { formatDate } from '@core/utils/filter'

  import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'

  import store from '@/store/store'
  import utils from '@/libs/utils'

  import Services from '@/services/users/Paquetes.js'

  import UserServices from "@/services/users/Perfil"

  export default {
    components: {
      BCard,
      BCardText,
      BCardBody,
      BLink,
      BImg,
      BButton,
      BBadge,
      BFormSpinbutton,
      BCol,
      BRow,
      utils,
      ToastificationContent
    },
    store,
    data() {
      return {
        qty: 1,
        hasFreeShipping: true,
        // Filter
        formatDate,
        items: [],
        client_id: null
      }
    },
    mounted() {
      this.extraerToken();
      this.Listar();
    },
    methods: {
      async extraerToken(){

      var token = store.state.token;
      
      if(token!=null && token!=""){
        try {
          var resultado = await utils.verifyToken(token,process.env.VUE_APP_SECRET_KEY);
          

          this.client_id = resultado.data.id;

          const form = new FormData()
            form.append('txtid', resultado.data.id)

            UserServices.ConsultarSaldo(form).then(function (response){
              store.state.saldo = response.data[0]
            }) 

        } catch (error) {
          console.log("error ",error);
        }
      }
      },
      Listar(){

        const self = this;

        Services.Paquetes().then( function (response) {

            var arrDatos = [];

            for (let i = 0; i < response.data.length; i++) {

              var modelo = {
                id: response.data[i].id,
                nombre: response.data[i].nombre,
                precio: response.data[i].precio,
                img: `${process.env.VUE_APP_URL_BASE}/paquetes_imagenes/${response.data[i].img}`,
                qty: 1,
                descripcion: response.data[i].descripcion,
                porcentaje: response.data[i].porcentaje
              }

              arrDatos.push(modelo);
              
            }
            self.items = arrDatos;
            self.totalRows = self.items.length;

        }).catch(error => {
          console.log("error ",error);
        });

      },
      Comprar(id, cantidad, precio){

        const self = this

        this.$swal({
        title: '¿Estas seguro?',
        text: "Deseas guardar la información",
        icon: 'warning',
        confirmButtonText: 'Si',
        showCancelButton: true,
        cancelButtonText: 'No',
        customClass: {
          confirmButton: 'btn btn-primary',
          cancelButton: 'btn btn-outline-danger ml-1',
        },
        buttonsStyling: false,
        }).then(result => {

          if (result.value) {

            self.ComprarTramite(id, cantidad, precio)

          }
        })      

      },
      ComprarTramite(id, cantidad, precio){

        const self = this
        const form = new FormData()
        form.append('cliente_id',self.client_id)
        form.append('paquete_id', id)
        form.append('cantidad', cantidad)
        form.append('monedero_id', 1)

        Services.Comprar(form).then(function (response){

          if(response.data.result){

            store.state.saldo -= precio * cantidad

            self.$toast({
            component: ToastificationContent,
            props: {
              title: 'Realizado',
              icon: 'CheckIcon',
              text: response.data.msg,
              variant: 'success',
            },
          });

          }else{

            self.$toast({
              component: ToastificationContent,
              props: {
                title: 'No realizado',
                icon: 'BellIcon',
                text: response.data.msg,
                variant: 'danger',
              },
            });
          }
        }).catch(error => {
        console.log("error ",error);
      });

      }
    },
  }
  </script>
  
  <style lang="scss">
    @import '~@core/scss/base/pages/app-ecommerce.scss';
    img{
      padding: 5px;
      border-radius: 5%;
    }
  </style>
  