<template>
  <!-- <b-card title="Create Awesome 🙌">
    <b-card-text>This is your Package page.</b-card-text>
    <b-card-text>Chocolate sesame snaps pie carrot cake pastry pie lollipop muffin. Carrot cake dragée chupa chups jujubes. Macaroon liquorice cookie wafer tart marzipan bonbon. Gingerbread jelly-o dragée chocolate.</b-card-text>
  </b-card> -->

  <b-row v-if="page == 0">
    <b-col cols="12" >

      <b-row>
        <b-col
          md="2"
          sm="4"
          class="my-1"
        >
          <b-form-group
            class="mb-0"
          >
            <label class="d-inline-block text-sm-left mr-50">Per page</label>
            <b-form-select
              id="perPageSelect"
              v-model="perPage"
              size="sm"
              :options="pageOptions"
              class="w-50"
            />
          </b-form-group>
        </b-col>

        <b-col
          md="3"
          sm="8"
          class="my-1"
        >
          <b-form-group
            label="Sort"
            label-cols-sm="3"
            label-align-sm="right"
            label-size="sm"
            label-for="sortBySelect"
            class="mb-0"
          >
            <b-input-group size="sm">
              <b-form-select
                id="sortBySelect"
                v-model="sortBy"
                :options="sortOptions"
                class="w-75"
              >
                <template v-slot:first>
                  <option value="">
                    -- none --
                  </option>
                </template>
              </b-form-select>
              <b-form-select
                v-model="sortDesc"
                size="sm"
                :disabled="!sortBy"
                class="w-25"
              >
                <option :value="false">
                  Asc
                </option>
                <option :value="true">
                  Desc
                </option>
              </b-form-select>
            </b-input-group>
          </b-form-group>
        </b-col>

        <b-col
          md="5"
          class="my-1"
        >
          <b-form-group
            label="Filtrar"
            label-cols-sm="3"
            label-align-sm="right"
            label-size="sm"
            label-for="filterInput"
            class="mb-0"
          >
            <b-input-group size="sm">
              <b-form-input
                id="filterInput"
                v-model="filter"
                type="search"
                placeholder="Buscar"
              />
              <b-input-group-append>
                <b-button
                  :disabled="!filter"
                  @click="filter = ''"
                >
                  Cancelar
                </b-button>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>

        <b-col
          md="2"
          sm="4"
          class="my-1"
        >

          <b-button
            v-ripple.400="'rgba(255, 255, 255, 0.15)'"
            variant="success"
            size="sm"
            class="float-right"
            @click="Nuevo"
          >
            Añadir
          </b-button>
          
        </b-col>

        <b-col cols="12">
          <b-table
            striped
            hover
            responsive
            :per-page="perPage"
            :current-page="currentPage"
            :items="items"
            :fields="fields"
            :sort-by.sync="sortBy"
            :sort-desc.sync="sortDesc"
            :sort-direction="sortDirection"
            :filter="filter"
            :filter-included-fields="filterOn"
            @filtered="onFiltered"
          >
            <template #cell(avatar)="data">
              <b-avatar :src="data.value" />
            </template>

            <template #cell(status)="data">
              <b-badge :variant="status[1][data.value]">
                {{ status[0][data.value] }}
              </b-badge>
            </template>

            <template #cell(actions)="data">
              
              <b-dropdown
                variant="link"
                no-caret
              >

                <template #button-content>
                  <feather-icon
                    icon="MoreVerticalIcon"
                    size="16"
                    class="align-middle text-body"
                  />
                </template>
                <b-dropdown-item @click="PageEdit(data.item.id)">
                  <feather-icon icon="FileTextIcon" />
                  <span class="align-middle ml-50">Detalles</span>
                </b-dropdown-item>

                <!-- <b-dropdown-item v-on:click="delete2(data.item.id)">
                  <feather-icon icon="TrashIcon" />
                  <span class="align-middle ml-50">Delete</span>
                </b-dropdown-item> -->
              </b-dropdown>

            </template>

          </b-table>
        </b-col>

        <b-col
          cols="12"
        >
          <b-pagination
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            align="center"
            size="sm"
            class="my-0"
          />
        </b-col>
      </b-row>

    </b-col>

    

  </b-row>

  <b-col cols="12" v-else-if="page == 1">
      <b-card no-body class="card-employee-task">
        
        <b-card-header>
          <b-card-title>
            
            <feather-icon
              icon="PlusCircleIcon"
              size="20"
              class="position-relative"
              style="top: -3px;"
            />
            Nuevo retiro
          </b-card-title>
          <feather-icon
            icon="ArrowLeftIcon"
            size="18"
            class="cursor-pointer"
            @click="Regresar()"
          />
        </b-card-header>

        <b-card-body>
            <b-form
              @submit.prevent="NewR"
            >
              <b-row class="mx-0">

                <b-col sm="4">

                  <b-form-group
                    label="Monedero"
                    label-for="new-monedero"
                  >
                    <b-form-select
                      id="new-monedero"  
                      name="monedero"
                      v-model="New.monedero"
                      :options="options"
                    />
                    <small class="text-danger">{{ ValNew.monedero }} </small>
                  </b-form-group>

                </b-col>

                <b-col sm="4">
                  <b-form-group
                    label="Hash"
                    label-for="account-nombre"
                  >
                    <b-form-input
                      v-model="New.monedero.hash"
                      name="hash"
                      placeholder="Hash"
                      readonly
                    />
                    <small class="text-danger">{{ ValNew.monedero }} </small>
                  </b-form-group>
                </b-col>

                <b-col sm="4">
                  <b-form-group
                    label="Red"
                    label-for="account-nombre"
                  >
                    <b-form-input
                      v-model="New.monedero.red"
                      name="red"
                      placeholder="Red"
                      readonly
                    />

                    <small class="text-danger">{{ ValNew.monedero }} </small>
                  </b-form-group>
                </b-col>

                <b-col sm="4">
                  <b-form-group
                    label="Monto"
                    label-for="new-monto"
                  >
                    <input
                      id="new-monto"  
                      placeholder="Monto"
                      name="monto"
                      class="form-control"
                      v-model="New.monto"
                      type="number"
                      min="0.00"
                      step="0.01" 
                    >
                    <small class="text-danger">{{ ValNew.monto }}</small>
                  </b-form-group>

                  
                </b-col>

                <b-col sm="4">
                  <b-form-group
                    label="Billetera"
                    label-for="new-billetera"
                  >
                    <b-form-input
                      id="new-billetera"
                      v-model="New.billetera"
                      name="billetera"
                      placeholder="Descripcion billetera"
                    />
                    <small class="text-danger">{{ ValNew.billetera }}</small>
                  </b-form-group>
                </b-col>


                <b-col cols="12">
                  <b-button
                    v-if="!retirando"
                    v-ripple.400="'rgba(255, 255, 255, 0.15)'"
                    variant="primary"
                    class="mt-2 mr-1"
                    type="submit"
                  >
                    Guardar
                  </b-button>
                  <b-button
                    v-if="retirando"
                    v-ripple.400="'rgba(255, 255, 255, 0.15)'"
                    variant="primary"
                    class="mt-2 mr-1"
                    type="submit"
                    disabled
                  >
                  <b-spinner small type="grow"></b-spinner>
                    Cargando retiro...
                  </b-button>

                  <b-button
                    id="cancelar"
                    v-ripple.400="'rgba(186, 191, 199, 0.15)'"
                    variant="outline-secondary"
                    type="button"
                    class="mt-2"
                    @click="Regresar()"
                  >
                    Cancelar
                  </b-button>
                </b-col>
              </b-row>
            </b-form>
        </b-card-body>
      </b-card>
    </b-col>  

  <b-col cols="12" v-else-if="page == 2">
    <b-card no-body class="card-employee-task">
      <b-card-header>
          <b-card-title>
            
            Detelles del Retiro
          </b-card-title>
          <feather-icon
            icon="ArrowLeftIcon"
            size="18"
            class="cursor-pointer"
            @click="Regresar()"
          />
        </b-card-header>

        <b-card-body>
          <b-row class="mx-0">

            <b-col sm="4">
              <b-form-group
              label="Monedero"
              label-for="monedero"
              >

              <b-form-input
                v-model="retiro.descripcion_monedero"
                id="monedero"
                disabled
                class="cursor-not"
              />
              </b-form-group>
            </b-col>

            <b-col sm="4">
              <b-form-group
              label="Hash"
              label-for="hash"
              >
              <b-form-input
                v-model="retiro.hash"
                id="hash"
                disabled
                class="cursor-not"
              />
              </b-form-group>
            </b-col>
            <b-col sm="4">
              <b-form-group
              label="Red"
              label-for="red"
              >
              <b-form-input
                v-model="retiro.red"
                id="red"
                disabled
                class="cursor-not"
              />
              </b-form-group>
            </b-col>
            <b-col sm="4">
              <b-form-group
              label="Monto"
              label-for="monto"
              >
              <b-form-input
                v-model="retiro.monto"
                id="monto"
                disabled
                class="cursor-not"
              />
              </b-form-group>
            </b-col>
            <b-col sm="4">
              <b-form-group
              label="Billetera"
              label-for="billetera"
              >
              <b-form-input
                v-model="retiro.billetera"
                id="billetera"
                disabled
                class="cursor-not"
              />
              </b-form-group>
            </b-col>
            <b-col sm="8">
              <b-form-group
              label="Fecha del pago"
              label-for="fecha"
              >
              <b-form-datepicker
                  v-model="retiro.fecha"
                  id="fecha"
                  locale="es"
                  disabled
                  class="cursor-not"
                  />
              </b-form-group>
            </b-col>
            <template v-if="retiro.status == 1">
              <b-col sm="4">
                  <b-form-group
                  label="Referencia"
                  label-for="referencia"
                  >
                  <b-form-input
                    v-model="retiro.referencia"
                    id="referencia"
                    disabled
                  />
                  </b-form-group>
              </b-col>
  
              <b-col sm="4">
                  <b-form-group
                    label="Foto de referencia"
                    label-for="img-referencia"
                  >
                    <b-form
                      v-model="retiro.img"
                      id="img-referencia"
                      @click="modalShow = !modalShow"
                      disabled
                      />
                      <b-img @click="modalShow = !modalShow" fluid-grow :src="retiro.img" class="cursor-pointer" />
                      <b-modal v-model="modalShow" size="lg" title="Imagen del pago" hide-footer>
                        <b-img fluid-grow :src="retiro.img" />
                      </b-modal>

                  </b-form-group>
              </b-col>
            </template>

            <template>
              <b-row class="mx-0">
                <b-col sm="12">
                  <small class="badge badge-light-warning" v-if="retiro.status == 0">Pendiente</small>
                  <small class="badge badge-light-success" v-if="retiro.status == 1">Aprobado</small>
                  <small class="badge badge-light-danger" v-if="retiro.status == 2">Rechazado</small>
                </b-col>
              </b-row>
            </template>
          </b-row>

        </b-card-body>
    </b-card>
  </b-col>  

</template>

<script>
import { BCard, BCardTitle,BImg, BCardHeader, BCardBody, BCardText, BTable,BSpinner, BAvatar, BBadge, BRow, BCol, BFormGroup, BFormSelect, BPagination, BInputGroup,
  BForm, BFormInput, BFormFile, BFormDatepicker, BInputGroupAppend, BButton, BDropdown, BDropdownItem} from 'bootstrap-vue'

  import BCardCode from '@core/components/b-card-code'

  import Ripple from 'vue-ripple-directive'
  import Services from '@/services/users/Transacciones.js'
  import store from '@/store/store'
  import utils from '@/libs/utils'

  import UserServices from "@/services/users/Perfil"
  
  import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'



export default {
  components: {
    BCard,
    BImg,
    BCardTitle,
    BSpinner,
    BCardHeader,
    BCardBody,
    BCardText,
    BTable,
    BAvatar,
    BBadge,
    BRow,
    BCol,
    BFormGroup,
    BFormSelect,
    BPagination,
    BInputGroup,
    BFormInput,
    BInputGroupAppend,
    BButton,
    BDropdown,
    BDropdownItem,
    BForm,
    store,
    utils,
    BCardCode,
    BFormFile,
    BFormDatepicker,
    ToastificationContent
  },
  directives: {
    Ripple,
  },
  store,
  data() {
    return {
      retirando: false,
      modalShow: false,
      page: 0,
      perPage: 5,
      pageOptions: [3, 5, 10],
      totalRows: 1,
      currentPage: 1,
      sortBy: '',
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
      filterOn: [],
      infoModal: {
        id: 'info-modal',
        title: '',
        content: '',
      },
      client_id: Number,
      retiro:{
          id: '',
          nombre: '',
          dni: '',
          email: '',
          telefono: '',
          monto: Number,
          fecha: '',
          status: Number,
          referencia: '',
          hash: '',
          red: '',
          img: null
        },
      fields: [
        {
          key: 'id', label: 'Id',
        },
        // { key: 'nombre', label: 'Nombre', sortable: true },
        // {
        //   key: 'dni', label: 'DNI',
        // },
        // 'email',
        // 'telefono',
        'monto',
        'fecha',
        { key: 'status', label: 'Status', sortable: true },
        { key: 'actions' }
      ],
      items: [
        /*
        {
          id: 1,
          // eslint-disable-next-line global-require
          nombre: "Jorge Vargas",
          dni: "20523813",
          
          email: 'jorgeavargasm@hotmail.es',
          
          
          telefono: '+584243579367',
          
          monto: '20$',
          fecha: '2022-12-01',
          status: 2,
        },
        {
          id: 2,
          // eslint-disable-next-line global-require
          nombre: "Jorge Perez",
          dni: "20523813",
          
          email: 'jorgeavargasm@hotmail.es',
          
          
          telefono: '+584243579367',
          
          monto: '10$',
          fecha: '2022-12-01',
          status: 4,
        },
        {
          id: 3,
          // eslint-disable-next-line global-require
          nombre: "Jorge Paez",
          dni: "20523813",
          
          email: 'jorgeavargasm@hotmail.es',
          
          
          telefono: '+584243579367',
          
          monto: '100$',
          fecha: '2022-12-01',
          status: 3,
        }
        */
      ],
      status: [{
        0: 'Pendiente',  1: 'Completado', 2: 'Rechazado', 4: 'Current', 5: 'Applied',
      },
      {
        0: 'light-warning',  1: 'light-success', 2: 'light-danger', 4: 'light-primary', 5: 'light-info',
      }],
      page: 0,
      
      New: {
        monedero: { id: 0, hash: "", red: "", },
        monto: Number,
        billetera: '',
        fecha: '',
      },
      ValNew: {
        monedero:'',
        monto: '',
        billetera: '',
        referencia: '',
        img: '',
        fecha: '',
      },
      options: [
        { value: { id: 0, hash: "", red: "", }, text: 'Seleccione' },
        { value: { id: 1, hash: "hashh", red: "bnb", } , text: 'Primera' },
        { value: { id: 2, hash: "hashh2", red: "x", } , text: 'Segunda' },
        { value: { id: 3, hash: "hashh3", red: "bnb2", } , text: 'Tercera' },
        { value: { id: 4, hash: "hashh4", red: "bnb3", } , text: 'Cuarta', },
      ],
    }
  },
  computed: {
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => ({ text: f.label, value: f.key }))
    },
  },
  mounted() {
    // Set the initial number of items
    this.totalRows = this.items.length

    this.extraerToken();

    
  },
  methods: {
    info(item, index, button) {
      this.infoModal.title = `Row index: ${index}`
      this.infoModal.content = JSON.stringify(item, null, 2)
      this.$root.$emit('bv::show::modal', this.infoModal.id, button)
    },
    resetInfoModal() {
      this.infoModal.title = ''
      this.infoModal.content = ''
    },
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    async delete2(param) {
      alert("Eliminando " + param);
    },
    async extraerToken(){

      var token = store.state.token;
      //console.log("token ",token);
      if(token!=null && token!=""){
        try {
          var resultado = await utils.verifyToken(token,process.env.VUE_APP_SECRET_KEY);
          
          this.Listar(resultado.data.id);

          this.client_id = resultado.data.id;

          const form = new FormData()
            form.append('txtid', resultado.data.id)

            UserServices.ConsultarSaldo(form).then(function (response){
              store.state.saldo = response.data[0]
            }) 

        } catch (error) {
          console.log("error ",error);
        }
      }
    },
    Listar(id){

      const form = new FormData();
      form.append('txtid', id);

      const self = this;

      Services.Retiros(form).then( function (response) {

          var arrDatos = [];

          for (let i = 0; i < response.data.length; i++) {

            var modelo = {
              id: response.data[i].id,
              id_monedero: response.data[i].id_monedero,
              descripcion_monedero: response.data[i].descripcion_monedero,
              hash: response.data[i].hash,
              red: response.data[i].red,
              monto: response.data[i].monto,
              fecha: response.data[i].fecha,
              id_cliente: response.data[i].id_cliente,
              nombre_cliente: response.data[i].nombre_cliente,
              billetera_cliente: response.data[i].billetera_cliente,
              referencia_pago: response.data[i].referencia_pago,
              foto_pago: response.data[i].foto_pago,
              status: response.data[i].status
            }

            arrDatos.push(modelo);
            
          }

          self.items = arrDatos;
          self.totalRows = self.items.length;

      }).catch(error => {
        console.log("error ",error);
      });

    },
    Nuevo(){
      this.page = 1;
      this.New.nombre = '';
      this.New.precio = 0;
      this.New.porcentaje = 0;
      this.New.monedero = { id: 0, hash: "", red: "" }
    },
    Regresar(){
      this.page = 0;

      this.New.nombre = '';
      this.New.precio = 0;
      this.New.porcentaje = 0;
      this.New.monto = ''
      this.New.billetera = ''
      this.retirando = false
    },
    NewR(){
      const monedero = this.New.monedero;
      const monto = this.New.monto;
      const billetera = this.New.billetera;

      var envio = true;

      if(monedero.id == 0){
        
        this.ValNew.monedero = "Ingresar monedero";

        setTimeout(() => {
          this.ValNew.monedero = "";
        }, 3000);

        envio = false;
      }
      if(monto == 0 || monto == ""){

        this.ValNew.monto = "Ingresar monto";

        setTimeout(() => {
          this.ValNew.monto = "";
        }, 3000);

        envio = false;
      }
      if(billetera == ""){

        this.ValNew.billetera = "Ingresar billetera";

        setTimeout(() => {
          this.ValNew.billetera = "";
        }, 3000);

        envio = false;
      }

      if(envio){

        this.$swal({
        title: '¿Estas seguro?',
        text: "Deseas guardar la información",
        icon: 'warning',
        confirmButtonText: 'Si',
        showCancelButton: true,
        cancelButtonText: 'No',
        customClass: {
          confirmButton: 'btn btn-primary',
          cancelButton: 'btn btn-outline-danger ml-1',
        },
        buttonsStyling: false,
        }).then(result => {

          if (result.value) {
            // console.log(this.EnviarNewP())
            // this.EnviarNewR();
            this.Retirar()
          }
        })
        
      }

    },
    Retirar(){
      const form = new FormData()
      form.append('txtid', this.client_id)
      form.append('monedero_id', this.New.monedero.id)
      form.append('hash', this.New.monedero.hash)
      form.append('red', this.New.monedero.red)
      form.append('monto', this.New.monto)
      form.append('billetera', this.New.billetera)
      form.append('descripcion_m', "USDT")
      
      const self = this
      self.retirando = true
      document.getElementById("cancelar").disabled = true

      Services.Retirar(form).then( function(response) {

        if(response.data.result){
          self.retirando = false
          store.state.saldo -=self.New.monto
          document.getElementById("cancelar").disabled = false
          self.Listar(self.client_id)
          self.Regresar()
          self.$toast({
            component: ToastificationContent,
            props: {
              title: 'Realizado',
              icon: 'CheckIcon',
              text: response.data.msg,
              variant: 'success',
            },
          });

        }else{
          document.getElementById("cancelar").disabled = false
          self.retirando = false
          self.$toast({
            component: ToastificationContent,
            props: {
              title: 'No realizado',
              icon: 'BellIcon',
              text: response.data.msg,
              variant: 'danger',
            },
          });
        }
      }).catch(error => {
        console.log("error ",error);
        self.retirando = false
        document.getElementById("cancelar").disabled = false
      });
    },
    PageEdit(id){

      for (let i = 0; i < this.items.length; i++) {
        
        if(id == this.items[i].id){
          
          this.retiro.id = this.items[i].id;
          this.retiro.nombre = this.items[i].nombre
          this.retiro.dni = this.items[i].dni
          this.retiro.email = this.items[i].email
          this.retiro.telefono = this.items[i].telefono
          this.retiro.monto = this.items[i].monto
          this.retiro.fecha = this.items[i].fecha
          this.retiro.status = this.items[i].status
          this.retiro.descripcion_monedero = this.items[i].descripcion_monedero
          this.retiro.hash = this.items[i].hash
          this.retiro.red = this.items[i].red
          this.retiro.billetera = this.items[i].billetera_cliente
          this.retiro.img = `${process.env.VUE_APP_URL_BASE}/screenshots/` + this.items[i].foto_pago
          this.retiro.referencia = this.items[i].referencia_pago
        }
      }

      this.page = 2;
      },
  },
}
</script>

<style>

</style>
