<template>
  <b-card>
    <!-- form -->
    <b-form @submit.prevent="validationForm">
      <b-row>
        <!-- old password -->
        <b-col md="6">
          <b-form-group
            label="Old Password"
            label-for="account-old-password"
          >
            <b-input-group class="input-group-merge">
              <b-form-input
                id="account-old-password"
                v-model="passwordValueOld"
                name="old-password"
                :type="passwordFieldTypeOld"
                placeholder="Old Password"
              />
              <b-input-group-append is-text>
                <feather-icon
                  :icon="passwordToggleIconOld"
                  class="cursor-pointer"
                  @click="togglePasswordOld"
                />
              </b-input-group-append>
            </b-input-group>
            <small class="text-danger">{{ validar.OldPassword }}</small>
          </b-form-group>
        </b-col>
        <!--/ old password -->
      </b-row>
      <b-row>
        <!-- new password -->
        <b-col md="6">
          <b-form-group
            label-for="account-new-password"
            label="New Password"
          >
            <b-input-group class="input-group-merge">
              <b-form-input
                id="account-new-password"
                v-model="newPasswordValue"
                :type="passwordFieldTypeNew"
                name="new-password"
                placeholder="New Password"
              />
              <b-input-group-append is-text>
                <feather-icon
                  :icon="passwordToggleIconNew"
                  class="cursor-pointer"
                  @click="togglePasswordNew"
                />
              </b-input-group-append>
            </b-input-group>
            <small class="text-danger">{{ validar.NewPassword }}</small>
          </b-form-group>
        </b-col>
        <!--/ new password -->

        <!-- retype password -->
        <b-col md="6">
          <b-form-group
            label-for="account-retype-new-password"
            label="Retype New Password"
          >
            <b-input-group class="input-group-merge">
              <b-form-input
                id="account-retype-new-password"
                v-model="RetypePassword"
                :type="passwordFieldTypeRetype"
                name="retype-password"
                placeholder="New Password"
              />
              <b-input-group-append is-text>
                <feather-icon
                  :icon="passwordToggleIconRetype"
                  class="cursor-pointer"
                  @click="togglePasswordRetype"
                />
              </b-input-group-append>
            </b-input-group>
            <small class="text-danger">{{ validar.RetypePassword }}</small>
          </b-form-group>
        </b-col>
        <!--/ retype password -->

        <!-- buttons -->
        <b-col cols="12">
          <b-button
            v-ripple.400="'rgba(255, 255, 255, 0.15)'"
            variant="primary"
            class="mt-1 mr-1"
            type="submit"
          >
            Guardar cambios
          </b-button>
          <b-button
            v-ripple.400="'rgba(186, 191, 199, 0.15)'"
            type="reset"
            variant="outline-secondary"
            class="mt-1"
          >
            Reiniciar
          </b-button>
        </b-col>
        <!--/ buttons -->
      </b-row>
    </b-form>
  </b-card>
</template>

<script>
import {
  BButton, BForm, BFormGroup, BFormInput, BRow, BCol, BCard, BInputGroup, BInputGroupAppend,
} from 'bootstrap-vue'
import Ripple from 'vue-ripple-directive'

import Services from '@/services/admin/Perfil.js'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'

export default {
  components: {
    BButton,
    BForm,
    BFormGroup,
    BFormInput,
    BRow,
    BCol,
    BCard,
    BInputGroup,
    BInputGroupAppend,
  },
  directives: {
    Ripple,
  },
  data() {
    return {
      passwordValueOld: '',
      newPasswordValue: '',
      RetypePassword: '',
      passwordFieldTypeOld: 'password',
      passwordFieldTypeNew: 'password',
      passwordFieldTypeRetype: 'password',
      validar: {
        OldPassword: '',
        NewPassword: '',
        RetypePassword: '',
      },
    }
  },
  computed: {
    passwordToggleIconOld() {
      return this.passwordFieldTypeOld === 'password' ? 'EyeIcon' : 'EyeOffIcon'
    },
    passwordToggleIconNew() {
      return this.passwordFieldTypeNew === 'password' ? 'EyeIcon' : 'EyeOffIcon'
    },
    passwordToggleIconRetype() {
      return this.passwordFieldTypeRetype === 'password' ? 'EyeIcon' : 'EyeOffIcon'
    },
  },
  methods: {
    togglePasswordOld() {
      this.passwordFieldTypeOld = this.passwordFieldTypeOld === 'password' ? 'text' : 'password'
    },
    togglePasswordNew() {
      this.passwordFieldTypeNew = this.passwordFieldTypeNew === 'password' ? 'text' : 'password'
    },
    togglePasswordRetype() {
      this.passwordFieldTypeRetype = this.passwordFieldTypeRetype === 'password' ? 'text' : 'password'
    },
    validationForm() {

      const oldP = this.passwordValueOld;
      const newP = this.newPasswordValue;
      const retypeP = this.RetypePassword;

      var envio = true;
      
      if(oldP == ""){
        
        this.validar.OldPassword = "Ingresar contraseña actual";

        setTimeout(() => {
          this.validar.OldPassword = "";
        }, 3000);

        envio = false;
      }

      if(newP == ""){

        this.validar.NewPassword = "Ingresar nueva contraseña";

        setTimeout(() => {
          this.validar.NewPassword = "";
        }, 3000);

        envio = false;
      }

      if(retypeP == ""){

        this.validar.RetypePassword = "Por favor repita su nueva contraseña";

        setTimeout(() => {
          this.validar.RetypePassword = "";
        }, 3000);

        envio = false;
      }

      if (newP != "" && retypeP != "") {

        if (newP != retypeP) {

          this.validar.NewPassword = "Las contraseñas deben coincidir";
          this.validar.RetypePassword = "Las contraseñas deben coincidir";

          setTimeout(() => {
            this.validar.NewPassword = "";
            this.validar.RetypePassword = "";
          }, 3000);

          envio = false;
        }
        
      }

      if(envio){

        this.$swal({
          title: '¿Estas seguro?',
          text: "Deseas editar la información",
          icon: 'warning',
          confirmButtonText: 'Si',
          showCancelButton: true,
          cancelButtonText: 'No',
          customClass: {
            confirmButton: 'btn btn-primary',
            cancelButton: 'btn btn-outline-danger ml-1',
          },
          buttonsStyling: false,
        }).then(result => {
   
          if (result.value) {

            this.Enviar();
          }
        })
        
      }
    },
    Enviar(){

      const form = new FormData();
      form.append('txtoldpassword', this.passwordValueOld);
      form.append('txtnewpassword', this.newPasswordValue);

      const self = this;

      Services.EditarPassword(form).then( function (response) {

        if(response.data.result){

          self.passwordValueOld = '';
          self.newPasswordValue = '';
          self.RetypePassword = '';

          self.$toast({
            component: ToastificationContent,
            props: {
              title: 'Realizado',
              icon: 'CheckIcon',
              text: response.data.msg,
              variant: 'success',
            },
          });

        }else{

          self.$toast({
            component: ToastificationContent,
            props: {
              title: 'No realizado',
              icon: 'BellIcon',
              text: response.data.msg,
              variant: 'danger',
            },
          });

        }
      }).catch(error => {
        console.log("error ",error);
      });

    }
  },
}
</script>
